ul.social-links {
  @extend %font-sans;
  font-size: 0.8em;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  li:before, li:after {
    display: none;
  }

  .social-link {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    a {
      color: $color-text-light;
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      text-decoration: none;
      transition: 0.2s ease;
      &:hover, &:focus {
        background: $color-blue-light;
        color: $color-blue;
      }
    }
    + .social-link {
      margin-left: 0.25rem;
    }
  }

  .svg-icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    display: block;
  }
}

.download-and-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  flex-direction: row;

  form {
    flex: 1;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  @include media-max(1060px) {
    flex-direction: column;
    form {
      margin-bottom: 1rem;
      margin-right: 0;
    }
  }

  @include media-max($column-breakpoint) {
    flex-direction: row;
    justify-content: center;
    form {
      margin-bottom: 0;
      margin-right: 1rem;
    }
  }

  @include media-max(630px) {
    flex-direction: column;
    form {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}

.button-download {
  @extend %font-sans;
  font-size: 0.85rem;
  font-weight: 600;
  display: block;
  background: $neutral-1;
  border: none;
  //box-shadow: 0 0.3rem 0.5rem -0.2rem rgba($neutral-10, 0.2);
  border-radius: 2rem;
  color: $color-text;
  width: 100%;
  margin: 0;
  height: 48px;
  line-height: 50px;
  padding: 0 2rem;
  white-space: nowrap;
  transition: 0.2s ease;
  cursor: pointer;
  &:hover, &:focus {
    background: $color-blue-light;
    color: $color-blue;
  }
}
