.project-overview {
  @extend %font-sans-extended;
  //background: $neutral-1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  padding: 4rem 0;
  position: relative;

  .project-arrow {
    background: $neutral-0;
    color: $color-text;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    fill: currentColor;
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    border-radius: 50%;
    transition: 0.2s ease;

    &:hover {
      background: $color-blue-light;
      color: $color-blue;
      &.prev, &.next {
        .tooltip {
          opacity: 1;
          transform: none;
        }
      }
    }

    &.prev {
      left: 1rem;
      .tooltip {
        left: calc(100% + 0.5rem);
        transform: rotate(20deg);
        transform-origin: -1.5rem center;
      }
    }

    &.next {
      right: 1rem;
      .tooltip {
        right: calc(100% + 0.5rem);
        transform: rotate(-20deg);
        transform-origin: calc(100% + 1.5rem) center;
      }
    }

    .tooltip {
      @extend %font-sans-extended;
      font-weight: 600;
      font-size: 0.65rem;
      background: $color-blue-light;
      color: $color-blue;
      height: 1.5rem;
      line-height: 1.5rem;
      padding: 0 0.75rem;
      border-radius: 2rem;
      display: inline-block;
      position: absolute;
      top: 0.25rem;
      z-index: 10;
      opacity: 0;
      transition: 0.2s ease;
      pointer-events: none;
    }
  }

  .project-info {
    .project-website {
      padding: 0.2rem 1rem;
      border-radius: 2rem;
      transition: 0.2s ease;
      &:hover, &:focus {
        background: $color-blue-light;
        color: $color-blue;
      }
    }
    
    .project-title {
      margin-top: 0.4rem;
      margin-bottom: 0.4rem;
      text-align: center;
    }
  }
}

.project-overview-label,
.project-year, .project-website {
  letter-spacing: 0.05em;
  font-size: 0.9em;
  font-weight: 600;
  margin: 0;
  color: $color-text;
}

.project-role {
  margin-top: 1rem;
}

.project-overview-label {
  margin-bottom: 0.5rem;
  display: block;
}

.post {
	@extend %font-serif;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 8rem;
  font-variant-numeric: oldstyle-nums;
  font-feature-settings: "onum";

  table {
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum";
  }

  .post-content > {
    h1, h2, h3, h4, p, ul, ol,
    blockquote, hr, .timeline,
    figure:not(.figure-wide),
    div.post-callout, .download-and-social,
    .encrypted-post {
      @include media-min($column-breakpoint) {
        width: $text-width;
        margin-right: auto;
      }
    }

    hr {
      text-align: left; // Cross-browser compatibility
      margin-left: 0;
    }

    p {
      text-indent: 1.5rem;
      hyphens: auto;
    }

    h1 + p, h2 + p, figure p,
    .post-callout p:first-child,
    // To account for floats and asides
    // between header and first paragraph
    h1 + *:not(p) + p, h2 + *:not(p) + p {
      text-indent: 0;
    }
  }

  @include media-max($column-breakpoint) {
    .post-content {
      max-width: 640px;
      margin-left: auto;
      margin-right: auto;
    }

    aside:not(:first-child) {
      margin-top: 2rem;
    }

    aside:not(.mobile-fullwidth) {
      max-width: 440px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h1, h2, h3, h4 {
    text-align: left;
  }
  
	h2 {
    margin-top: 4rem;
    margin-bottom: 1rem;
		&:first-of-type { margin-top: 0; }
  }

  .full-width + h2 {
    margin-top: 2rem;
  }

  h3, figure, hr,
  blockquote, .post-callout,
  .highlighter-rouge {
    margin-bottom: 2rem;
  }

  h3, figure, hr, .timeline,
  blockquote, div.post-callout,
  .highlighter-rouge {
    margin-top: 2rem;
  }

  @include media-max($column-breakpoint) {
    blockquote {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }

  aside blockquote {
    margin-left: 0;
  }

  aside figure {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  a {
    color: $color-text;
    text-decoration: underline;
    &:hover {
      color: $color-blue-dark;
    }
  }

  ul, ol {
    margin-top: 1rem;
    margin-bottom: 1rem;
    li {
      padding-left: 1.5rem;
      position: relative;
      &:before {
        position: absolute;
        text-align: right;
        width: 0.9rem;
        top: 0;
        left: 0;
      }
    }  
  }
  
  ul {
    li:before {
      content: '•';
    }
  }
  
  ol {
    li {
      counter-increment: step-counter;
      &:before {
        content: counter(step-counter);
        font-variant-numeric: tabular-nums;
        font-feature-settings: "tnum";
      }
    }
  }

  .post-callout li {
    margin-top: 1rem;
  }

  @include media-min($column-breakpoint) {
    aside {
      width: $aside-width;
      float: right;
      margin-top: 0;
      margin-left: auto;
      clear: both;
      blockquote {
        margin-top: 0;
      }
    }
    figcaption {
      width: 100%;
    }
  }

  .figure-wide figcaption {
    width: 440px;
    max-width: 100%;
    @include media-min($column-breakpoint) {
      width: $text-width;
    }
  }
  
	blockquote {
    padding: 0;
		font-style: italic;
    p {
      quotes: "“" "”" "‘" "’";
      font-size: 1.4rem;
      line-height: 1.95rem;
      text-indent: -0.4em;
      &:before {
        content: open-quote;
      }
      &:after  {
        content: close-quote;
        margin: -0.1em; // Kern it in, baby
      }
    }
	}
}

.post-callout {
  @extend %font-sans-extended;
  background-color: $neutral-1;
  padding: 1.5rem;
  font-size: 0.8em;
  margin-top: 2em;
  margin-bottom: 2em;
  *:last-child {
    margin-bottom: 0;
  }

  h3 {
    @extend %font-sans-extended;
    margin: 0;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

ul.emoji-list li {
  position: relative;
  margin-bottom: 1rem;
  &:before {
    content: attr(data-emoji);
    font-size: 1.3em;
    margin-top: -0.1em;
    font-style: normal;
  }
}

.encrypted-post {
  margin-bottom: -6rem;
  .garbled {
    color: $neutral-2;
    line-height: 1.5;
    letter-spacing: -0.01em;
    user-select: none;
    word-break: break-all;
    position: relative;
    overflow: hidden;
    + .garbled {
      margin-top: 1rem;
    }
    &:last-child {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        z-index: 1;
      }
    }
  }
}

.password-required {
  h2 {
    @extend %font-sans-extended;
    font-size: 1rem;
  }
  .error-message {
    @extend %font-sans-extended;
    font-size: 0.65rem;
    letter-spacing: 0.05em;
    margin-top: 1rem;
  }

  .password-submit {
    position: relative;

    label {
      @extend %font-sans-extended;
      letter-spacing: 0.05em;
      font-size: 0.65rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
      display: block;
    }

    input[type='text'] {
      background: $neutral-0;
      background-image: url('/assets/images/lock.svg');
      background-repeat: no-repeat;
      background-position: 1rem center;
      border: none;
      height: 2rem;
      line-height: 2rem;
      border-radius: 1rem;
      padding: 0 1rem 0 calc(1.75rem + 18px);
      width: 100%;
    }
  }

  form {
    margin-top: 1.5rem;
    width: 100%;
    &.try-again {
      label, .error-message {
        animation: 4.2s temporaryRedText ease;
      }
      input[type='text'] {
        animation: 1s tryAgain cubic-bezier(.36,.07,.19,.97) both, 4s temporaryRedBorder ease;
      }
    }
  }
}

@keyframes tryAgain {
  10%, 90% {
    transform: translate3d(-0.2rem, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(0.4rem, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-0.6rem, 0, 0);
  }

  40%, 60% {
    transform: translate3d(0.8rem, 0, 0);
  }
}

@keyframes temporaryRedText {
  from, 80% {
    color: $color-red;
  }
}

@keyframes temporaryRedBorder {
  from, 80% {
    box-shadow: 0 0 0 3px $color-red;
  }
  to {
    box-shadow: 0 0 0 3px inherit;
  }
}
