.project-title {
  margin-top: 0;
  margin-bottom: 2rem;
}

.project-overview {
  @extend %font-sans-extended;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: flex-end;
  max-width: 640px !important;
  margin-bottom: 2rem;
  border-bottom: 1px solid $neutral-3;

  @include media-min($column-breakpoint) {
    max-width: $text-width;
    margin-left: auto;
  }

  .project-basics {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $neutral-3;
    padding-bottom: 0.8rem;
  }

  .project-year:after {
    content: ' • ';
  }

  .project-challenge, .project-role {
    width: 50%;
    padding: 1rem 1rem 1rem 0;
  }

  .project-overview-label,
  .project-year, .project-website {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0;
  }

  .project-overview-label {
    margin-bottom: 0.5rem;
    display: block;
  }

  .project-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 3rem;
  }

  .project-arrow {
    width: 1.2rem;
    height: 1.2rem;
    padding: 0.2rem;
    fill: currentColor;
  }
}

.post-callout {
  @extend %font-sans-extended;
  border-top: 1px solid $neutral-3;
  border-bottom: 1px solid $neutral-3;
  background-color: $neutral-1;
  padding: 1.5rem;
  font-size: 0.8em;
  margin-top: 2em;
  margin-bottom: 2em;
  *:last-child {
    margin-bottom: 0;
  }

  h3 {
    @extend %font-sans-extended;
    margin: 0;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

ul.emoji-list li {
  position: relative;
  margin-bottom: 1rem;
  &:before {
    content: attr(data-emoji);
    font-size: 1.3em;
    margin-top: -0.1em;
    font-style: normal;
  }
}

.encrypted-post {
  margin-bottom: -6rem;
  .garbled {
    color: $neutral-2;
    line-height: 1.5;
    user-select: none;
    word-break: break-all;
    // animation: glitchText 15s infinite;
    // animation-timing-function: steps(10, end);
    position: relative;
    overflow: hidden;
    + .garbled {
      margin-top: 1rem;
    }
    // &:before {
    //   content: '';
    //   width: 100%;
    //   height: 100%;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   background: linear-gradient(to bottom, $neutral-0, $neutral-0 10%, transparent 10%, transparent 50%, $neutral-0, $neutral-0 60%, transparent 60%, transparent 90%, $neutral-0 90%, $neutral-0 100%);
    //   opacity: 0.4;
    //   background-size: 100% 10px;
    //   animation: scan 2s infinite linear;
    // }
    &:last-child {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        z-index: 1;
      }
    }
  }
}

// @keyframes glitchText {
//   0%, 89%, 100% {
//     text-shadow: none;
//     color: $neutral-2;
//   }
//   90% {
//     text-shadow: -4px 0 0 $neutral-2;
//     color: $neutral-0;
//   }
// }

// @keyframes scan {
//   0% {
//     background-position: 0%;
//   }
//   100% {
//     background-position: 100%;
//   }
// }

.password-required {
  background: $color-red-light;
  border-top: 4px solid $color-red;
  padding: 1.5rem;
  margin: 2rem 0;

  .error-message {
    @extend %font-sans-extended;
    font-size: 0.65rem;
    color: $color-red;
    letter-spacing: 0.05em;
    margin-top: 1rem;
  }

  .password-submit {
    position: relative;

    label {
      @extend %font-sans-extended;
      letter-spacing: 0.05em;
      font-size: 0.65rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
      display: block;
    }

    input[type='text'] {
      background: $neutral-0;
      background-image: url('/assets/images/lock.svg');
      background-repeat: no-repeat;
      background-position: 1rem center;
      border: none;
      height: 2rem;
      line-height: 2rem;
      border-radius: 1rem;
      padding: 0 1rem 0 calc(1.75rem + 18px);
      width: 100%;
    }

    &.try-again {
      animation: 1s tryAgain cubic-bezier(.36,.07,.19,.97) both;
      label {
        animation: 4.2s temporaryRedText ease;
      }
      input[type='text'] {
        animation: 4s temporaryRedBorder ease;
      }
    }
  }

  form {
    margin-top: 1.5rem;
    width: 100%;
  }
}

@keyframes tryAgain {
  10%, 90% {
    transform: translate3d(-0.2rem, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(0.4rem, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-0.6rem, 0, 0);
  }

  40%, 60% {
    transform: translate3d(0.8rem, 0, 0);
  }
}

@keyframes temporaryRedText {
  from, 80% {
    color: $color-red;
  }
}

@keyframes temporaryRedBorder {
  from, 80% {
    box-shadow: 0 0 0 3px $color-red;
  }
  to {
    box-shadow: 0 0 0 3px transparent;
  }
}
