.project-hero {
  @extend %font-sans-extended;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  position: relative;

  .project-info {
    .project-website {
      color: inherit;
      padding: 0.2rem 1rem 0.3rem;
      border-radius: 2rem;
      &:hover, &:focus {
        transition-delay: 0 !important;
        background: $color-blue-light;
        color: $color-blue-dark;
      }
    }

    .project-year, .project-website {
      display: inline-block;
      font-weight: 600;
    }
    
    .project-title {
      margin-top: 0.4rem;
      margin-bottom: 0.4rem;
      text-align: center;
    }
  }
}

.project-arrow {
  background: $neutral-0;
  color: $color-text;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  fill: currentColor;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  border-radius: 50%;
  transition: 0.3s ease;
  transition-property: background-color, fill, color;

  &.prev {
    left: 1rem;
    .tooltip {
      left: calc(100% + 0.5rem);
      transform: rotate(20deg);
      transform-origin: -1.5rem center;
    }
  }

  &.next {
    right: 1rem;
    .tooltip {
      right: calc(100% + 0.5rem);
      transform: rotate(-20deg);
      transform-origin: calc(100% + 1.5rem) center;
    }
  }

  .tooltip {
    @extend %font-sans-extended;
    font-weight: 600;
    font-size: 0.65rem;
    background: $neutral-10;
    color: $neutral-0;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 0.75rem;
    border-radius: 2rem;
    display: inline-block;
    position: absolute;
    top: 0.25rem;
    z-index: 10;
    opacity: 0;
    transition: 0.2s ease;
    pointer-events: none;
  }
}

html.is-animating .project-arrow {
  pointer-events: none;
  cursor: default;
}

html:not(.is-animating) .project-arrow {
  &:hover, &:focus {
    background: $neutral-10;
    color: $neutral-0;
    &.prev, &.next {
      .tooltip {
        opacity: 1;
        transform: none;
      }
    }
  }

  // &:focus {
  //   box-shadow: 0 0.3rem 0.5rem -0.2rem rgba($neutral-10, 0.2), 0 0 0 4px rgba($color-blue, 0.5);
  // }
}

@include media-max(645px) {
  .project-title {
    font-size: 15vw;
  }
}

@include media-max(760px) {
  .project-arrow .tooltip {
    display: none;
  }
}

.project-overview {
  @extend %font-sans-extended;
  font-size: 0.85rem;
  border-top: 1px solid $neutral-3;
  border-bottom: 1px solid $neutral-3;
  margin-bottom: 2rem;
  padding: 1.5rem 0;
}

.project-role {
  margin-top: 1rem;
}

.project-overview-label {
  display: block;
}

.post {
	@extend %font-serif;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-variant-numeric: oldstyle-nums;
  font-feature-settings: "onum";

  table {
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum";
  }

  .post-content > {
    h1, h2, h3, h4, p, ul, ol,
    blockquote, hr, .timeline,
    figure:not(.figure-wide),
    div.post-callout, .download-and-social,
    .encrypted-post {
      @include media-min($column-breakpoint) {
        width: $text-width;
        margin-right: auto;
      }
    }

    hr {
      text-align: left; // Cross-browser compatibility
      margin-left: 0;
    }

    p {
      text-indent: 1.5rem;
    }

    h1 + p, h2 + p, figure p,
    .post-callout p:first-child,
    // To account for floats and asides
    // between header and first paragraph
    h1 + *:not(p) + p, h2 + *:not(p) + p {
      text-indent: 0;
    }
  }

  @include media-max($column-breakpoint) {
    .post-content {
      max-width: 640px;
      margin-left: auto;
      margin-right: auto;
    }

    aside:not(:first-child) {
      margin-top: 2rem;
    }

    aside:not(.mobile-fullwidth) {
      max-width: 344px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h1, h2, h3, h4 {
    text-align: left;
  }
  
	h2 {
    margin-top: 4rem;
    margin-bottom: 1rem;
		&:first-of-type { margin-top: 0; }
  }

  .full-width + h2 {
    margin-top: 2rem;
  }

  h3, figure, hr,
  blockquote, .post-callout,
  .highlighter-rouge {
    margin-bottom: 2rem;
  }

  h3, figure, hr, .timeline,
  blockquote, div.post-callout,
  .highlighter-rouge {
    margin-top: 2rem;
  }

  @include media-max($column-breakpoint) {
    blockquote {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }

  aside blockquote {
    margin-left: 0;
  }

  aside figure {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      color: $color-blue-dark;
    }
  }

  ul, ol {
    margin-top: 1rem;
    margin-bottom: 1rem;
    li {
      padding-left: 2rem;
      position: relative;
      &:before {
        position: absolute;
        text-align: right;
        width: 0.9rem;
        top: 0;
        left: 0;
      }
    }  
  }
  
  > ul {
    li:before {
      content: '•';
    }
  }
  
  ol {
    li {
      counter-increment: step-counter;
      &:before {
        content: counter(step-counter);
        font-variant-numeric: tabular-nums;
        font-feature-settings: "tnum";
      }
    }
  }

  .post-callout li {
    margin-top: 1rem;
  }

  @include media-min($column-breakpoint) {
    aside {
      width: $aside-width;
      float: right;
      margin-top: 0;
      margin-left: auto;
      clear: both;
      blockquote {
        margin-top: 0;
      }
    }
    figcaption {
      width: 100%;
    }
  }

  .figure-wide figcaption {
    width: 440px;
    max-width: 100%;
    @include media-min($column-breakpoint) {
      width: $text-width;
    }
  }
  
	blockquote {
    padding: 0;
		font-style: italic;
    p {
      quotes: "“" "”" "‘" "’";
      font-size: 1.4rem;
      line-height: 1.95rem;
      text-indent: -0.4em;
      &:before {
        content: open-quote;
      }
      &:after  {
        content: close-quote;
        margin: -0.1em; // Kern it in, baby
      }
    }
	}
}

.font-specimen {
  display: flex;
  justify-content: space-between;
  > * {
    background: $neutral-1;
  }

  img {
    width: 100%;
  }

  @include media-max($column-breakpoint) {
    flex-direction: column;
    > * + * {
      margin-top: 1rem;
    }
  }

  @include media-min($column-breakpoint) {
    > * {
      background: $neutral-1;
      width: calc(50% - 1rem);
    }
  }
}

.post-callout {
  @extend %font-sans-extended;
  background-color: $color-yellow-light;
  color: $color-yellow-dark;
  border-top: 6px solid $color-yellow;
  padding: 1rem;
  font-size: 0.8rem;
  margin-top: 2em;
  margin-bottom: 2em;

  @include media-min(420px) {
    padding: 1.5rem;
  }

  ::selection {
    background-color: darken($color-yellow-light, 8);
  }

  *:last-child {
    margin-bottom: 0;
  }

  h3 {
    @extend %font-sans-extended;
    margin: 0;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }
}

ul.emoji-list li {
  position: relative;
  padding-left: 2rem;
  .emoji {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
  }
}

.emoji {
  width: 24px;
  height: 24px;
}
