.marquee {
  user-select: none;
  white-space: nowrap;
  padding-top: 2rem;
  padding-bottom: 5rem;
  overflow: hidden;
}

.marquee-half {
  display: inline-block;
  margin: 0;
  line-height: 0;
  white-space: nowrap;
  animation: 30s marquee -4s linear infinite;
}

.empty-state {
  //animation: 6s bounce infinite alternate-reverse ease-in-out;
  max-width: 220px;
  margin-right: 1vw;
  display: inline-block;
  animation: 8s bounce infinite alternate-reverse ease-in-out;
  img {
    max-width: 100%;
  }
  &.foreground {
    width: 220px;
    animation-delay: -2s;
    animation-duration: 5s;
  }
  &.midground {
    width: 190px;
    animation-delay: -4s;
    animation-duration: 6s;
    margin-right: 4vw;
    margin-top: 3rem;
  }  
  &.background {
    width: 160px;
    animation-delay: -1s;
    animation-duration: 7s;
    margin-bottom: -2rem;
    margin-right: 2vw;
  }
}

.full-width.swiftype {
  background-color: #272f37;
  .figure-wide {
    margin: 0 auto;
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0)
  }
  100% {
    transform: translate3d(-100%, 0, 0)
  }
}

@keyframes bounce {
  0% {
    transform: translate3d(0, -15%, 0) scale(0.9);
  }
  100% {
    transform: translate3d(0, 15%, 0) scale(1);
  }
}
