.marquee {
  user-select: none;
  white-space: nowrap;
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
}

.marquee-half {
  display: inline-block;
  white-space: nowrap;
  animation: 30s marquee -4s linear infinite;
}

.empty-state {
  //animation: 6s bounce infinite alternate-reverse ease-in-out;
  max-width: 220px;
  margin: 0 5vw;
  display: inline-block;
  animation: 8s bounce infinite alternate-reverse ease-in-out;
  img {
    max-width: 100%;
  }
  &.foreground {
    width: 220px;
    animation-delay: -2s;
    animation-duration: 5s;
  }
  &.midground {
    width: 190px;
    animation-delay: -4s;
    animation-duration: 6s;
    margin-right: -1vw;
    margin-top: -3rem;
  }  
  &.background {
    width: 160px;
    animation-delay: -1s;
    animation-duration: 7s;
    margin-bottom: -2rem;
    margin-left: 1vw;
    margin-right: -4vw;
  }
  &:nth-child(3n) {
    animation-delay: -4.5s;
  }
  &:nth-child(4n) {
    animation-delay: -2.5s;
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0)
  }
  100% {
    transform: translate3d(-100%, 0, 0)
  }
}

@keyframes bounce {
  0% {
    transform: translate3d(0, -15%, 0) scale(0.9);
  }
  100% {
    transform: translate3d(0, 15%, 0) scale(1);
  }
}
