$timeline-breakpoint: 600px;

.timeline {
  @extend %font-sans-extended;
  font-size: 0.85rem;
  max-width: 800px;
  margin-bottom: -2rem;
  position: relative;
  z-index: 1;
  ::selection {
    background-color: var(--color-red-medium);
  }
  &:before, &:after {
    content: '';
    width: 3px;
    height: 100px;
    display: block;
    position: relative;
    left: 1rem;
  }
  &:before { background: linear-gradient(to bottom, transparent 0%, var(--color-timeline-line) 100%); }
  &:after {  background: var(--color-timeline-line); }
}

.timeline + .full-width {
  margin-top: 0;
}

.timeline-image {
  user-select: none;
  margin-bottom: 0.5rem;
}

.timeline-entry {
  border-left: 3px solid var(--color-timeline-line);
  padding-bottom: 3rem;
  padding-left: 1.2rem;
  list-style: none;
  margin-left: 1rem;
  &:last-child { padding-bottom: 0; }
}

.timeline-text {
  position: relative;
}

ul.timeline-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  position: relative;

  time {
    color: var(--color-text-header);
    font-weight: 600;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
  }

  li {
    position: relative;
    padding-left: 0;
    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
    &:before {
      content: '';
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: var(--color-timeline-dot);
      display: block;
      position: absolute;
      top: 0.5rem;
      left: calc(-5px - 1.2rem);
    }

    &:first-child:before {
      box-shadow: 0 0 0 3px var(--color-bg);
      width: 11px;
      height: 11px;
      top: calc(2px + 0.3rem);
      left: calc(-7px - 1.2rem);
    }
  }
}

$default-connection: var(--color-callout-text);

$halfstepup-color: var(--color-red);
$halfstepdown-color: var(--color-purple);
$wholestep-color: var(--color-yellow);
$dominant-color: var(--color-blue);
$subdominant-color: var(--color-green);

.color-dominant { color: $dominant-color; }
.color-subdominant { color: $subdominant-color; }
.color-halfstepup { color: $halfstepup-color; }
.color-halfstepdown { color: $halfstepdown-color; }
.color-wholestep { color: $wholestep-color; }

.circle-of-fifths {
  position: relative;
  width: 100%;
  height: 0;
  margin: 1rem 0 2.5rem;
  padding-top: 100%; // 1:1 aspect ratio
  user-select: none;
  pointer-events: none;

  .cof-circle {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }

  .cof-circle {
    box-shadow: 0 0 0 0.2rem rgba(66, 56, 26, 0.4);
    body[data-darkmode="true"] & {
      box-shadow: 0 0 0 0.2rem var(--color-neutral-7);
    }
  }

  .cof-letter, .cof-connection,
  .cof-connection:before, .cof-connection:after {
    transition: 1s ease;
  }

  .cof-scale-degree {
    position: absolute;
    width: 100%;
    height: 100%;

    @for $i from 1 through 12 {
      $rotate: 30 * $i - 30;
      &:nth-child(#{$i}) {
        .cof-letter { transform: rotate($rotate * 1deg); }
        .cof-letter-name { transform: rotate($rotate * -1deg)}
      }
    }

    .cof-letter {
      font-size: 1.2rem;
      font-weight: bold;
      position: absolute;
      text-align: center;
      width: 100%;
      height: 100%;
      left: 0;
      cursor: default;

      input[type=radio]:not(:checked) ~ .cof-letter-name:hover {
        opacity: 1;
      }

      input[type=radio]:checked {

        ~ .cof-letter-name {
          opacity: 1;
        }

        ~ .cof-connections .cof-connection {
          z-index: 5;

          // Transition delays
          &.wholestepdown {
            &:before, &:after {
              transition-delay: 0.1s;
            }
          }

          &.halfstepup {
            transition-delay: 0.2s;
          }

          &.halfstepdown {
            transition-delay: 0.3s;
          }

          &.wholestepup {
            &:before, &:after {
              transition-delay: 0.4s;
            }
          }

          &.dominant {
            &:before, &:after {
              transition-delay: 0.5s;
            }
          }

          // Colors
          &.halfstepup{
            background-color: $halfstepup-color;
            box-shadow: 0 0 4px $halfstepup-color;
            opacity: 1;
          }

          &.halfstepdown {
            background-color: $halfstepdown-color;
            box-shadow: 0 0 4px $halfstepdown-color;
            opacity: 1;
          }

          &.dominant {
            &:before {
              box-shadow: 0 0 4px $dominant-color, inset 0 0 4px $dominant-color;
              opacity: 1;
            }
            &:after {
              border-color: $dominant-color;
              opacity: 1;
            }
          }
            
          &.subdominant {
            &:before {
              box-shadow: 0 0 4px $subdominant-color, inset 0 0 4px $subdominant-color;
              opacity: 1;
            }
            &:after {
              border-color: $subdominant-color;
              opacity: 1;
            }
          }
          
          &.wholestepup {
            &:before {
              box-shadow: 0 0 4px $wholestep-color, inset 0 0 4px $wholestep-color;
              opacity: 1;
            }
            &:after {
              border-color: $wholestep-color;
              opacity: 1;
            }
          }
            
          &.wholestepdown {
            &:before {
              box-shadow: 0 0 4px $wholestep-color, inset 0 0 4px $wholestep-color;
              opacity: 1;
            }
            &:after {
              border-color: $wholestep-color;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .cof-letter-name {
    color: var(--color-callout-text);
    opacity: 0.4;
    position: absolute;
    display: block;
    top: -2.5rem;
    width: 2rem;
    left: calc(50% - 1rem);
    text-align: center;
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
    transition: opacity 0.2s ease;
    span {
      display: block;
    }
  }

  .cof-letter.enharmonic .cof-letter-name {
    top: -4rem;
  }

  @include media-max(600px) {
    .cof-scale-degree .cof-letter {
      font-size: 1rem;
    }
    .cof-letter-name {
      top: -2rem;
    }
    .cof-letter.enharmonic .cof-letter-name {
      top: -3.5rem;
    }
  }

  .cof-connections {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
  }

  .cof-connection {
    position: absolute;
    top: 0;
    white-space: nowrap;

    svg {
      display: block;
      width: 100%;
    }

    &.dominant, &.subdominant {
      height: 100%;
      width: 26.5%;
      left: 50%;
      &:before, &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 12%;
        top: -5.5%;
        left: 0;
        border-radius: 50%;
        opacity: 0.05;
      }
      &:before {
        border: 0.1rem solid transparent;
        box-shadow: 0 0 0 transparent;
      }
      &:after {
        border: 0.1rem solid $default-connection;
      }
    }

    &.dominant {
      transform: translateX(-50%) rotate(15deg);
    }

    &.subdominant {
      transform: translateX(-50%) rotate(-15deg);
    }

    &.halfstepup, &.halfstepdown {
      background-color: $default-connection;
      box-shadow: 0 0 0 transparent;
      height: 100%;
      width: 0.1rem;
      left: calc(50% - 0.05rem);
      transform-origin: top center;
      opacity: 0.05;
    }

    &.halfstepup {
      transform: rotate(15deg);
    }

    &.halfstepdown {
      transform: rotate(-15deg);
    }

    &.wholestepup, &.wholestepdown {
      height: 100%;
      width: 56.5%;
      left: 50%;
      &:before, &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 30%;
        top: -15%;
        left: 0;
        border-radius: 50%;
        opacity: 0.05;
      }
      &:before {
        border: 0.1rem solid transparent;
        box-shadow: 0 0 0 transparent;
      }
      &:after {
        border: 0.1rem solid $default-connection;
      }
    }
  
    &.wholestepup {
      transform: translateX(-50%) rotate(30deg);
    }
  
    &.wholestepdown {
      transform: translateX(-50%) rotate(-30deg);
    }
  }
}

.accidental {
  height: 1em;
  width: 0.5em;
  margin-left: 0.05em;
  display: inline-block;
  path {
    fill: currentColor;
  }

  &.accidental-sharp {
    margin-bottom: -0.1em;
  }
}

.album-art {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;

  .album {
    width: calc(33.3333% - 1rem);
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    user-select: none;

    @include media-max($column-breakpoint) {
      width: calc(50% - 0.75rem);
      margin-bottom: 1.5rem;
    }

    @include media-max(560px) {
      width: calc(50% - 2.5vw);
      margin-bottom: 5vw;
      .album-info {
        flex-direction: column;
        align-items: center;
        top: 0.5rem;
      }
    }

    .album-info {
      @extend %font-sans-extended;
      font-size: 0.85rem;
      line-height: 1;
      color: var(--color-neutral-0);
      position: absolute;
      bottom: 0.5rem;
      left: 0.5rem;
      right: 0.5rem;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      @include media-max($column-breakpoint) {
        font-size: 0.65rem;
      }
    }

    .album-year {
      font-weight: 600;
      letter-spacing: 0.05em;
    }

    .album-location {
      font-style: italic;
    }

    .album-image {
      border-radius: 4px;
      box-shadow: var(--shadow-large);
    }
  }
}
