#footer {
  @extend %font-sans-extended;
  padding-top: 2rem;

  .footer-content {
    color: var(--color-text-light);
    border-top: 1px solid var(--color-border);
    font-size: 0.65rem;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a, .credits {
    color: var(--color-text-light);
    &:hover {
      text-decoration: underline;
    }
  }

  button {
    color: var(--color-text-light);
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    svg path {
      fill: currentColor;
    }
  }

  #darkmode {
    display: flex;
    body[data-darkmode='false'] & {
      .sun-icon {
        display: none;
      }
    }
    body[data-darkmode='true'] & {
      .moon-icon {
        display: none;
      }
    }
  }

  .footer-copyright {
    display: flex;
    align-items: center;
    justify-content: flex-end;    
  }

  .dot {
    display: inline-block;
    width: 3px;
    height: 3px;
    background: var(--color-border-darker);
    border-radius: 50%;
    margin: 0 0.5rem;
  }

  .logo {
    padding: 0.5rem 0.5rem;
    margin: -0.5rem -0.5rem;
    svg {
      display: block;
      width: 52.5px;
    }
  
    path {
      fill: var(--color-border-darker);
      transition: 0.2s fill ease;
    }
  
    &:hover path {
      fill: var(--color-border-darker-hover);
    }
  }
}

#colophon {
  @extend %font-sans;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: none;

  .colophon-overlay {
    background: linear-gradient(var(--color-red), var(--color-orange), var(--color-yellow), var(--color-green), var(--color-teal), var(--color-blue), var(--color-purple), var(--color-red));
    background-size: 100% 3000%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.92;
    animation: 60s rainbow linear infinite;
  }

  .colophon-content {
    position: relative;
    font-size: 0.85rem;
    width: calc(100vw - 2rem);
    max-width: 600px;
    height: calc(100vh - 2rem);
    margin: 1rem auto;
    overflow: hidden;
    border-radius: 0.4rem;
    background: var(--color-bg);
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-large);

    .colophon-scrollarea {
      flex: 1;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      padding-bottom: 1.5rem;
      @include media-max(500px) {
        padding-bottom: 1rem;
      }
    }

    .emoji-list li {
      margin-top: 0.25rem;
      padding-left: calc(0.5rem + 24px);
    }

    .colophon-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 0;

      @include media-max(500px) {
        padding: 1rem 0;
      }

      h2 {
        @extend %font-sans;
        font-weight: 600;
        font-size: 1.5rem;
        margin: 0;
      }
    }

    button[data-micromodal-close] {
      width: 26px;
      height: 26px;
      background: transparent;
      border: none;
      padding: 4px;
      line-height: 0;
      z-index: 10;
      flex-shrink: 0;
      margin-left: 2rem;
      cursor: pointer;
      svg {
        pointer-events: none;
        width: 100%;
        path {
          fill: var(--color-text-light);
        }
      }
      &:hover {
        svg path {
          fill: var(--color-text);
        }
      }
    }

    .disclaimer {
      @extend figcaption;
      margin-top: 1.5rem;
    }  

    a {
      color: inherit;
      text-decoration: underline;
      &:hover {
        color: var(--color-text-link-hover);
      }
    }
  
    h3 {
      @extend %font-sans-extended;
      background: var(--color-bg);
      padding-bottom: 0.5rem;
      box-shadow: 0 1px 0 var(--color-border);
      position: sticky;
      top: 0;
      z-index: 5;
      line-height: 1;
      + * {
        margin-top: 1rem;
      }
    }

    .colophon-block + .colophon-block {
      margin-top: 2rem;
    }
  }

  &.is-open {
    display: block;
    opacity: 1;
  }

  &[aria-hidden="false"] {
    animation: 0.2s fadeIn ease forwards;
    .colophon-content {
      animation: 0.3s growIn ease forwards;
    }
  }

  &[aria-hidden="true"] {
    animation: 0.3s fadeOut ease forwards;
    .colophon-content {
      animation: 0.3s fadeOut ease forwards;
    }
  }
}

@keyframes rainbow {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes growIn {
  from {
    opacity: 0;
    transform: scale(0.95)
  }
  to {
    opacity: 1;
    transform: scale(1)
  }
}
