#header {
  @extend %font-sans;
  padding: 1rem 0;
  z-index: 30;
  pointer-events: none;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-link {
    position: relative;
    padding: 0.5rem;
    line-height: 1rem;
    color: $color-text-light;
    pointer-events: auto;
    transition: 0.2s ease;

    &:hover, &.active {
      color: $color-text;
    }

    &:last-child {
      margin-right: -0.5rem;
    }

    &.site-title {
      margin-left: -0.5rem;
      margin-right: auto;
      svg {
        display: block;
        path {
          fill: currentColor;
        }
      } 
    }
  }
}
