#header {
  @extend %font-sans;
  padding: 1rem 0;
  z-index: 30;
  pointer-events: none;

  .wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .site-title {
    margin-left: -0.5rem;
    margin-right: auto;
  }

  .page-link {
    position: relative;
    padding: 0.5rem;
    line-height: 1.5rem;
    color: $color-text-light;
    pointer-events: auto;
    transition: color 0.2s ease;

    &:after {
      content: '';
      width: calc(100% - 1rem);
      height: 2px;
      background: $color-red;
      position: absolute;
      bottom: 0.5rem;
      left: 50%;
      opacity: 0;
      transform: translate3d(-50%, 0, 0) scaleX(0);
      transition: opacity 0.2s, transform 0.2s;
    }

    &:hover, &:focus, &.active {
      color: $color-text;
      box-shadow: none;
      &:after {
        transform: translate3d(-50%, 0, 0) scaleX(1);
        opacity: 1;
      }
    }

    &:last-child {
      margin-right: -0.5rem;
    }
  }
}
