.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  pointer-events: none;
}

.loader {
  width: 48px;
  height: 43px;
  transform-origin: center 40%;
  animation: rotate 4s linear infinite;
  
  svg {
    position: absolute;
    animation: triangulate 1.5s ease infinite;
  }
  
  .loader-triangle {
    animation-delay: -0.5s;
    fill: var(--color-red);
  }
  
  .loader-square {
    animation-delay: -1s;
    fill: var(--color-blue);
  }

  .loader-pentagon {
    animation-delay: 0s;
    fill: var(--color-yellow);
  }
}

@keyframes triangulate {
  0%, 100% {
    transform: translate3d(0, 0, 0) rotate(0);
  }
  33% {
    transform: translate3d(200%, 0, 0);
  }
  66% {
    transform: translate3d(100%, calc(86.60259% * 2), 0) rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
