.quotes-carousel {
  position: relative;
  background-color: $neutral-1;
  overflow-y: hidden;
  padding: 3rem 0;
  &:focus {
    box-shadow: none;
  }
  .wrapper {
    position: relative;
    height: 100%;
  }
}

.quote {
  background: $neutral-0;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $color-text;
  margin: 0 1rem;
  width: 90%;
  padding: 0 5%;
  max-width: 800px;
  height: 480px;
  box-shadow: 0 1.5rem 1.5rem -1rem rgba($neutral-10, 0.2);
  transition: 0.2s opacity;

  &:not(.is-selected) {
    opacity: 0.4;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }

  .quote-text {
    margin-bottom: 1.5rem;
    display: block;
  }

  .quote-author, .quote-source {
    display: block;
  }

  .quote-author {
    @extend %font-sans-extended;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.2em;
  }

  .quote-source {
    margin-top: 0.2em;
    font-style: italic;
  }

  p {
    max-width: 700px;
    font-size: 1.4em;
    @include media-max(460px) {
      font-size: 1.2em;
    }
  }
}
