.quotes-carousel {
  position: relative;
  background-color: $neutral-1;
  margin: 0;
  height: 480px;
  overflow-y: hidden;
  &:focus {
    box-shadow: none;
  }
  .wrapper {
    position: relative;
    height: 100%;
  }
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $color-text;
  margin: 0 5%;
  width: 90%;
  height: 100%;
  padding-bottom: 1rem;
  opacity: 0.4;
  transition: opacity 0.2s ease;

  &.is-selected {
    opacity: 1;
    transform: scaleX(1);
  }

  .quote-text {
    margin-bottom: $spacing-unit;
    display: block;
  }

  .quote-author, .quote-source {
    display: block;
  }

  .quote-author {
    @extend %font-sans-extended;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.2em;
  }

  .quote-source {
    margin-top: 0.2em;
    font-style: italic;
  }

  p {
    max-width: 700px;
    font-size: 1.4em;
    &:first-of-type:before {
      content: '“';
    }
    &:last-of-type:after {
      content: '”';
    }
  }
}
