---
import Box from "../../components/Box.astro";
import Stack from "../../components/Stack.astro";
import CenteredLayout from "../../layouts/CenteredLayout.astro";
---

<CenteredLayout title="Almost There" description="Check your inbox.">
  <Box>
    <Stack>
      <h2>Almost there&hellip;</h2>
      <p>Check your inbox to confirm your subscription.</p>
    </Stack>
  </Box>
</CenteredLayout>
