---
import BaseLayout from "../../layouts/BaseLayout.astro";

// TODO: Finish
---

<BaseLayout title="Subscription Confirmed" description="Check your inbox.">
  <h1>You’re in.</h1>
  <p>Besties</p>
</BaseLayout>
