---
import BaseLayout from "../../layouts/BaseLayout.astro";

// TODO: Finish
---

<BaseLayout title="Confirming Subscription" description="Check your inbox.">
  <h1>You’re almost there!</h1>
  <p>Check your email.</p>
</BaseLayout>
