---
import Box from "../../components/Box.astro";
import Stack from "../../components/Stack.astro";
import CenteredLayout from "../../layouts/CenteredLayout.astro";
---

<CenteredLayout title="Subscription Confirmed" description="You did it!">
  <Box>
    <Stack>
      <h2>Subscription confirmed!</h2>
      <p>Thanks for signing up.</p>
    </Stack>
  </Box>
</CenteredLayout>
