.transition-fade {
  transition: .2s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.blur-up {
  -webkit-filter: blur(6px);
  filter: blur(6px);
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.blur-up.lazyloaded {
  filter: blur(0);
}
