.transition-fade {
  transition: .2s ease;
  opacity: 1;
}

.is-animating .transition-fade {
  opacity: 0;
}

.transition-swipe {
  transition: .3s;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.transition-swipe.project-title { transition-delay: .1s; }
.transition-swipe.project-website { transition-delay: .15s; }
.transition-swipe.post { transition-delay: .2s; }

.is-animating .transition-swipe {
  opacity: 0;
}

// Prevent swipe animation from causing horizontal scroll
body.is-animating {
  overflow-x: hidden;
}

// Animate prev in from left
.is-animating.to-prev-project .transition-swipe {
  transform: translate3d(-4rem, 0, 0);
  transition-timing-function: ease-out;
}

// Move current page right
.is-leaving.to-prev-project .transition-swipe {
  transform: translate3d(4rem, 0, 0);
  transition-timing-function: ease-in;
}

// Animate next in from right
.is-animating.to-next-project .transition-swipe {
  transform: translate3d(4rem, 0, 0);
  transition-timing-function: ease-out;
}

// Move current page left
.is-leaving.to-next-project .transition-swipe {
  transform: translate3d(-4rem, 0, 0);
  transition-timing-function: ease-in;
}

.blur-up {
  filter: blur(6px);
  opacity: 0.4;
  transition: filter 0.3s, opacity 0.3s;
}

.blur-up.lazyloaded {
  filter: blur(0);
  opacity: 1;
}
