%font-serif {
	font-family: minion-pro, Times, serif;
	font-weight: 400;
	font-style: normal;
}

%font-serif-condensed {
	font-family: minion-pro-condensed-subhead, Times, serif;
	font-weight: 700;
	font-style: normal;
}

%font-sans {
	font-family: nimbus-sans, Helvetica, Arial, sans-serif;
  font-style: normal;
}

%font-sans-extended {
  font-family: nimbus-sans-extended, Helvetica, Arial, sans-serif;
  font-style: normal;
  a:after {
    bottom: 0 !important;
  }
}

::selection {
	background-color: var(--color-selection);
}

::placeholder {
  color: var(--color-text-light);
  opacity: 1;
}

input::-webkit-input-placeholder {
  line-height: normal !important;
}

:-ms-input-placeholder {
  color: var(--color-text-light);
}

::-ms-input-placeholder {
  color: var(--color-text-light);
}

html, body, ul, ol, li, p, form, fieldset, legend {
	margin: 0;
	padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	@extend %font-serif;
	color: var(--color-text);
  font-size: 20px;
  line-height: 1.4;
	@include media-min(620px) { font-size: 21px; }
	@include media-min(820px) { font-size: 22px; }
}

body[data-dark] {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  color: var(--color-text);
  &::selection {
    background-color: var(--color-blue-light) !important;
  }
}

h2, h3  {
	@extend %font-serif-condensed;
  margin: 0;
}

h1 {
  @extend %font-sans;
  line-height: 1;
  text-align: left;
  font-size: 5rem;
}

h2 {
  line-height: 1.2;
	font-size: 1.8rem;
	@include media-min(600px) {
		font-size: 2rem;
  }
}

h3 {
	font-size: 1em;
	margin: 0;
}

a {
  text-decoration: none;
}

ol, ul { list-style: none; }

dfn {
  font-style: inherit;
  position: relative;
  cursor: help;
  &:after {
    content: '';
    position: absolute;
    bottom: 0.175em;
    left: 0;
    width: 100%;
    height: 0px;
    // border-bottom: 1px dotted var(--color-text-light);
  }
}

figcaption dfn:after {
  bottom: 0;
}

hr {
  border: none;
  height: 1rem;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: calc(50% - 6px);
    transform: translate3d(-50%, -50%, 0);
    height: 6px;
    width: 6px;
    background: var(--color-border-darker);
    box-shadow: 6px 6px 0 var(--color-border-darker), -6px 6px 0 var(--color-border-darker), 0 12px 0 var(--color-border-darker);
  }
}

blockquote {
	margin: 0;
	p {
		margin: 0;
	}
}

figcaption {
  @extend %font-sans-extended;
  color: var(--color-text-light);
  font-size: 0.65rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 1em;
}

figure {
  display: block;
  position: relative;
  margin: 0;
}

dl {
  margin: 0;
  dt {
    font-weight: bold;
    float: left;
    margin-right: 0.5em;
  }
  dd {
    font-style: italic;
    margin: 0;
  }
}

.uppercase {
  font-variant-caps: all-small-caps;
  font-feature-settings: "c2sc", "smcp";
	text-transform: uppercase;
	letter-spacing: 0.04em;
}
