$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.4 !default;

%font-serif {
	font-family: minion-pro, Times, serif;
	font-weight: 400;
	font-style: normal;
}

%font-serif-condensed {
	font-family: minion-pro-condensed-subhead, Times, serif;
	font-weight: 700;
	font-style: normal;
}

%font-sans {
	font-family: nimbus-sans, Helvetica, Arial, sans-serif;
  font-style: normal;
}

%font-sans-extended {
  font-family: nimbus-sans-extended, Helvetica, Arial, sans-serif;
  font-style: normal;
  a:after {
    bottom: 0 !important;
  }
}

::selection {
	background-color: $color-blue-light;
}

::placeholder {
  color: $neutral-4;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $neutral-4;
}

::-ms-input-placeholder {
  color: $neutral-4;
}

html, body, ul, ol, li, p, form, fieldset, legend {
	margin: 0;
	padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	@extend %font-serif;
	color: $color-text;
  font-size: 18px;
  line-height: 1.35;
	@include media-min(400px) { font-size: 19px; }
	@include media-min(500px) { font-size: 20px; }
	@include media-min(620px) { font-size: 21px; }
	@include media-min(820px) { font-size: 22px; }
}

input {
  color: $color-text;
}

h2, h3  {
	@extend %font-serif-condensed;
  margin: 0;
}

h1 {
  @extend %font-sans;
  line-height: 1;
  text-align: left;
  font-size: 5rem;
}

h2 {
  line-height: 1.2;
	font-size: 1.8rem;
	@include media-min(600px) {
		font-size: 2rem;
  }
}

h3 {
	font-size: 1em;
	margin: 0;
}

h4 {
  @extend %font-sans-extended;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
  font-size: 0.65em;
  margin: 0;
}

a {
  text-decoration: none;
}

ol, ul { list-style: none; }

dfn {
  font-style: inherit;
  position: relative;
  cursor: help;
  &:after {
    content: '';
    position: absolute;
    bottom: 0.2rem;
    left: 0;
    width: 100%;
    height: 0px;
    border-bottom: 1px dotted $color-text-light;
  }
}

hr {
  border: none;
  color: $neutral-3;
  background-color: $neutral-3;
  height: 1px;
}

blockquote {
	margin: 0;
	p {
		margin: 0;
	}
}

figcaption {
  @extend %font-sans-extended;
  color: $color-text-light;
  font-size: 0.65rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
  hyphens: auto;
  margin-top: 1em;
}

figure {
  display: block;
  position: relative;
  margin: 0;
}

dl {
  margin: 0;
  dt {
    font-weight: bold;
    float: left;
    margin-right: 0.5em;
  }
  dd {
    font-style: italic;
    margin: 0;
  }
}

.uppercase {
  font-variant-caps: all-small-caps;
  font-feature-settings: "c2sc", "smcp";
	text-transform: uppercase;
	letter-spacing: 0.04em;
}
