$spacing-unit: 30px;

$content-width: 1100px;
$text-width: calc(66.6666% - 1rem);
$aside-width: calc(33.3333% - 1rem);

$column-breakpoint: 960px;

$color-red-dark: #A82D4E;
$color-red: #FF5A5A;
$color-red-medium: rgb(247, 210, 219);
$color-red-light: #FCF3F7;
$color-yellow-dark: #5C5950;
$color-yellow: #FFD220;
$color-yellow-light: #FFF9E9;
$color-blue-dark: #396BA6;
$color-blue: #62AAFF;
$color-blue-light: #EAF3FF;
$color-teal: #75DEE4;
$color-green: #64DF66;
$color-purple: #7C60FF;

$neutral-0: #FFFFFF; // White
$neutral-1: #F6F8F9; // Light gray
$neutral-2: #ECEDF0;
$neutral-3: #DFE0E8;
$neutral-4: #C5C8D6;
$neutral-5: #A6AABF;
$neutral-6: #83869F;
$neutral-7: #676B85;
$neutral-8: #4D516E;
$neutral-9: #40445E; // Dark backgrounds
$neutral-10: #272B43; // Black

$color-text: $neutral-9;
$color-text-light: $neutral-7;
