$spacing-unit: 30px;

$content-width: 1100px;
$text-width: calc(66.6666% - 1rem);
$aside-width: calc(33.3333% - 1rem);

$column-breakpoint: 960px;

$color-red-dark: #A82D4E;
$color-red: #FF5A5A;
$color-red-medium: rgb(247, 210, 219);
$color-red-light: #FCF3F7;
$color-orange: #EB760D;
$color-orange-dark: #8F4400;
$color-yellow-dark: #443818;
$color-yellow: #FFD220;
$color-yellow-light: #FFF9E9;
$color-blue-dark: #396BA6;
$color-blue: #3F97FF;
$color-blue-light: #EAF3FF;
$color-teal: #75DEE4;
$color-green-dark: #0D6C1E;
$color-green: #5CD874;
$color-green-light: #E9F4EB;
$color-purple: #7C60FF;

$neutral-0: #FFFFFF; // White
$neutral-1: #F5F5F5; // Light gray
$neutral-2: #EEEEEE;
$neutral-3: #DDDDDD;
$neutral-4: #BBB;
$neutral-5: #999;
$neutral-6: #888;
$neutral-7: #666;
$neutral-8: #444;
$neutral-9: #222; // Dark backgrounds
$neutral-10: #000; // Black

$color-text: $neutral-9;
$color-text-light: $neutral-7;
