$content-width: 1100px;
$text-width: calc(66.6666% - 1rem);
$aside-width: calc(33.3333% - 1rem);

$column-breakpoint: 960px;

:root {
  --color-red-dark: rgb(94, 19, 19);
  --color-red: rgb(255, 62, 62);
  --color-red-medium: rgb(247, 210, 219);
  --color-red-light: #FCF3F7;
  --color-orange: #EB760D;
  --color-orange-dark: #8F4400;
  --color-yellow-dark: #443818;
  --color-yellow: #FFD220;
  --color-yellow-border: rgb(235, 221, 184);
  --color-yellow-light: #FFF9E9;
  --color-blue-dark: #396BA6;
  --color-blue: #3F97FF;
  --color-blue-light: #EAF3FF;
  --color-teal: #75DEE4;
  --color-green-dark: #0D6C1E;
  --color-green: #5CD874;
  --color-green-border: rgb(205, 235, 210);
  --color-green-light: #E9F4EB;
  --color-purple-dark: rgb(88, 11, 212);
  --color-purple: #7C60FF;

  --color-neutral-0: #FFFFFF; // White
  --color-neutral-1: #F5F5F5; // Light gray
  --color-neutral-2: #EEEEEE;
  --color-neutral-3: #DDDDDD;
  --color-neutral-4: #BBB;
  --color-neutral-5: #999;
  --color-neutral-6: #888;
  --color-neutral-7: #666;
  --color-neutral-8: #444;
  --color-neutral-9: #222; // Dark backgrounds
  --color-neutral-10: #000; // Black

  --color-lcd-bg: #8DB48E;
  --color-lcd-dark: #607060;
  --color-lcd-light: #A2D4A4;
  --color-lcd-hover: #4D5B4D;

  --shadow-small: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  --shadow-medium: 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.1);
  --shadow-large: 0 1rem 2rem -0.5rem rgba(0, 0, 0, 0.15);
  --shadow-xlarge: 0 2rem 4rem -2rem rgba(0, 0, 0, 0.1);
}

body {
  --color-bg: var(--color-neutral-0);
  --color-bg-alt: var(--color-neutral-1);
  --color-bg-radio-selected: var(--color-blue);
  --color-bg-input: var(--color-neutral-0);

  --color-selection: var(--color-neutral-2);

  --color-border: var(--color-neutral-3);
  --color-border-darker: var(--color-neutral-4);
  --color-border-darker-hover: var(--color-neutral-5);
  --color-border-overlay: rgba(0, 0, 0, 0.1);
  --color-border-overlay-dark: rgba(0, 0, 0, 0.2);

  --color-text: var(--color-neutral-9);
  --color-text-light: var(--color-neutral-7);
  --color-text-header: var(--color-neutral-9);

  --color-bg-link-hover: var(--color-blue-light);
  --color-text-link-hover: var(--color-blue-dark);

  --color-button-bg: var(--color-neutral-9);
  --color-button-text: var(--color-neutral-0);
  --color-button-bg-hover: var(--color-neutral-10);

  --color-announcement-bg: var(--color-green-light);
  --color-announcement-text: var(--color-green-dark);
  --color-announcement-selection: var(--color-green-border);

  --color-tooltip-bg: var(--color-neutral-10);
  --color-tooltip-text: var(--color-neutral-0);

  --color-callout-bg: var(--color-yellow-light);
  --color-callout-border: var(--color-yellow);
  --color-callout-text: var(--color-yellow-dark);
  --color-callout-selection: var(--color-yellow-border);

  --color-timeline-line: var(--color-red-medium);
  --color-timeline-dot: var(--color-red);

  --color-synth-base: var(--color-neutral-8);
  --color-synth-endcap: var(--color-neutral-9);
  --color-synth-outline: var(--color-neutral-9);
  --color-synth-whitekey-pressed: var(--color-purple);
  --color-synth-blackkey-pressed: var(--color-purple-dark);

  --focus-ring: 0 0 0 4px rgba(63, 151, 255, 0.5);
}

body[data-darkmode='true'] {
  --color-bg: #191919;
  --color-bg-alt: #111;

  --color-bg-input: var(--color-neutral-0);

  --color-selection: var(--color-neutral-6);

  --color-border: var(--color-neutral-8);
  --color-border-darker: var(--color-neutral-7);
  --color-border-darker-hover: var(--color-neutral-6);
  --color-border-overlay: rgba(255, 255, 255, 0.1);
  --color-border-overlay-dark: rgba(255, 255, 255, 0.2);

  --color-text: var(--color-neutral-4);
  --color-text-light: var(--color-neutral-5);
  --color-text-header: var(--color-neutral-1);

  --color-bg-link-hover: var(--color-blue);
  --color-text-link-hover: var(--color-neutral-0);

  --color-button-bg: var(--color-neutral-9);
  --color-button-text: var(--color-neutral-0);
  --color-button-bg-hover: var(--color-blue);

  --color-announcement-bg: var(--color-green-dark);
  --color-announcement-text: var(--color-green-light);
  --color-announcement-selection: var(--color-green-border);

  --color-tooltip-bg: var(--color-neutral-0);
  --color-tooltip-text: var(--color-neutral-9);

  --color-callout-bg: var(--color-neutral-9);
  --color-callout-border: var(--color-neutral-8);
  --color-callout-text: var(--color-neutral-3);
  --color-callout-selection: var(--color-selection);

  --color-timeline-line: var(--color-neutral-8);
  --color-timeline-dot: var(--color-neutral-3);

  --color-synth-base: var(--color-neutral-2);
  --color-synth-endcap: var(--color-neutral-0);
  --color-synth-outline: var(--color-neutral-9);
  --color-synth-whitekey-pressed: var(--color-purple);
  --color-synth-blackkey-pressed: var(--color-purple-dark);

  --focus-ring: 0 0 0 4px rgba(63, 151, 255, 0.8);
}
