# Node
node_modules/
package-lock.json

# Workflow & Editor
.idea
.vscode
.eslintcache
.stylelintcache
stats.json

# macOS
.DS_Store

# Build output
dist/
*.tsbuildinfo
.vercel
.netlify
_site/
*.log

# Do not commit .env files or any files that end with `.env`
*.env

# IntelliJ/WebStorm stuff
.idea
