.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.optionsList {
  margin: 0;
}

.optionsListItem {
  list-style: none;
  margin: 0;
}

.optionButton {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  font-style: italic;
}

.bubble {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  width: 280px;
  height: 48px;
  border-radius: 8px;
  overflow: hidden;
}

.emote {
  width: 48px;
  height: 48px;
  font-size: 2em;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  flex: 1;
  padding: 8px 0;
}

.word {
  display: inline-block;
}

.character {
  display: inline-block;
  white-space: pre;
}

.emphasizedCharacter {
  display: inline-block;
  font-weight: 600;
}

.continueButton {
  position: absolute;
  display: flex;
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 4px;
  cursor: pointer;
}

.continueArrow {
  position: absolute;
  right: 8px;
  bottom: 8px;
}
