.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.optionsList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 16px;
  margin-bottom: 4px;
}

.optionButton {
  font-size: 15px;
  background: none;
  border: none;
  background: white;
  border-radius: 16px;
  height: 32px;
  padding: 4px 12px;
  margin-bottom: 4px;
  font-style: italic;
  cursor: pointer;
}

.optionArrow {
  display: inline-block;
  overflow: hidden;
  margin-right: 4px;
}

.bubble {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  color: black;
  line-height: 18px;
  letter-spacing: 0.05em;
  width: 280px;
  height: 48px;
  border-radius: 48px;
  overflow: hidden;
}

.emote {
  width: 48px;
  height: 48px;
  font-size: 2em;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  font-size: 15px;
  flex: 1;
  padding: 8px 16px 8px 0;
}

.bigLine {
  font-size: 24px;
}

.word {
  display: inline-block;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.character {
  display: inline-block;
  white-space: pre;
  animation: appear 0.1s steps(1, end) backwards;
}

.emphasizedCharacter {
  display: inline-block;
  font-weight: 600;
}

.continueButton {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.continueArrow {
  margin-right: 4px;
}
