.dialogueContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 96px;
  padding: 0 var(--space-s);
  user-select: none;
}

.bubble {
  background-color: var(--mauve-1);
  padding: 0.5rem var(--space-m);
  font-family: var(--font-family-sans);
  font-size: var(--step--1);
  line-height: 1.1;
  letter-spacing: var(--letter-spacing-loose);
  align-self: center;
}

.big {
  font-size: var(--step-1);
}

.character {
  display: inline-block;
  white-space: pre;
}

.emote {
  width: auto;
  height: 100%;
  margin-inline-end: var(--space-m);
  user-select: none;
  flex-shrink: 0;
}

.emphasized {
  display: inline-block;
  font-weight: var(--font-weight-bold);
}

.word {
  display: inline-block;
}
