.dialogueContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 96px;
  padding: 0 0.5rem;
  margin-top: -8px;
}

.bubble {
  background-color: var(--mauve-3);
  padding: 0.5rem 1rem;
  font-family: var(--font-family-sans);
  font-size: var(--text-small);
  line-height: 1.1;
  letter-spacing: var(--letter-spacing-loose);
  align-self: center;
}

.big {
  font-size: var(--text-h5);
}

.character {
  display: inline-block;
  white-space: pre;
}

.emote {
  width: auto;
  height: 100%;
  margin-inline-end: 1rem;
  user-select: none;
  flex-shrink: 0;
}

.emphasized {
  display: inline-block;
  font-variation-settings:
    "wdth" var(--font-width-normal),
    "wght" var(--font-weight-medium);
}

.word {
  display: inline-block;
}
