---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allNotesEntries = await getCollection("notes");
---

<BaseLayout title="Notes" description="Writing from Eva">
  {
    allNotesEntries.map((entry) => (
      <a href={`/notes/${entry.slug}`}>{entry.data.title}</a>
    ))
  }
</BaseLayout>
