---
import { getCollection } from "astro:content";
import Center from "../../components/Center/Center.astro";

import BaseLayout from "../../layouts/BaseLayout.astro";
import { RelativeDate } from "../../components/RelativeDate/RelativeDate";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allNotesEntries = await getCollection("notes");
---

<BaseLayout title="Notes" description="Writing from Eva">
  <Center>
    {
      allNotesEntries.map((entry) => (
        <a href={`/notes/${entry.slug}`}>{entry.data.title}</a>
        <RelativeDate date={entry.data.datePublished} prefix="" />
      ))
    }
  </Center>
</BaseLayout>
