---
import classNames from "classnames";

import * as styles from "./grid.css";

interface Props {
  width?: "regular" | "narrow";
}

const { width } = Astro.props;
---

<div
  class={classNames(styles.grid, {
    [styles.regular]: width === "regular" || width === undefined,
    [styles.narrow]: width === "narrow",
  })}
>
  <slot />
</div>
