---
import UnstyledBase from "../../../layouts/UnstyledBase.astro";
---

<UnstyledBase title="P5 Experiments" description="p5p5p5p5p5p5p5p5">
  <div id="p5canvas"></div>
</UnstyledBase>

<script>
  import p5 from "p5";

  const sketch = (p: p5) => {
    var gridSize = 50; // Number of cells in each row and column
    var cellSize: number; // Size of each cell in the grid
    var rStart: number;

    p.setup = () => {
      var size = Math.floor(window.innerHeight / gridSize) * gridSize;
      p.createCanvas(size, size);
      cellSize = size / gridSize; // Calculate cell size based on canvas size
      rStart = p.random(0, 1000);
      // No loop needed unless you want to animate or interact
      p.noLoop();
    };
    var t = 0;

    p.draw = () => {
      p.background(255); // Set background to white
      p.noStroke();

      // Draw loop for our grid
      t += 0.02 + rStart;

      for (var y = 0; y < gridSize; y++) {
        for (var x = 0; x < gridSize; x++) {
          var sin = Math.sin(t + x / 20) * cellSize;
          var cos = Math.cos(t + y / 20) * cellSize;

          console.log(sin);
          p.fill("black"); // Set fill color
          // Draw the rectangle for this grid cell
          p.rect(x * cellSize, y * cellSize, sin, cos);
        }
      }
    };
  };

  const canvas = document.getElementById("p5canvas");
  export const myp5 = new p5(sketch, canvas!);
</script>

<style>
  #p5canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
