---
import * as baseStyles from "../../styles/base.css";
---

<svg
  width="720"
  height="auto"
  viewBox="0 0 720 252"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M0 74.7063V14.3138H56.0788V24.318H12.6659V40.1963H46.9006V48.4567H12.6659V64.7021H56.9966V74.7063H0Z"
    fill="currentColor"></path>
  <path
    d="M86.8264 74.7063L59.1083 29.366H73.0591L94.169 64.7939H94.2607L115.187 29.366H127.945L100.41 74.7063H86.8264Z"
    fill="currentColor"></path>
  <path
    d="M152.326 75.5323C135.806 75.5323 129.748 68.4651 129.748 61.3061C129.748 52.4951 136.999 48.8238 148.38 48.8238H175.639V47.906C175.639 40.4716 170.591 36.8004 158.109 36.8004C146.269 36.8004 142.414 40.1045 142.414 43.9594C142.414 44.2347 142.414 44.5101 142.506 45.0607H131.308C131.217 44.2347 131.217 43.5922 131.217 43.4087C131.217 34.5976 139.477 28.4482 158.384 28.4482C177.658 28.4482 187.387 36.3415 187.387 49.0074V74.7063H175.639C175.914 71.5857 176.098 66.9048 176.19 63.7843H176.098C174.079 71.035 167.562 75.5323 152.326 75.5323ZM154.621 67.272C169.123 67.272 175.639 61.3979 175.639 56.0746V55.7992H151.133C144.25 55.7992 140.487 56.5335 140.487 60.8472C140.487 63.876 143.056 67.272 154.621 67.272Z"
    fill="currentColor"></path>
  <path
    d="M260.762 0L261.253 0.294116C257.919 15.5883 248.213 61.569 248.213 66.471C248.213 68.0396 248.605 68.5298 249.194 68.5298C250.174 68.5298 252.429 66.8631 255.958 60.7847L256.547 61.2749C253.017 67.7455 246.253 75.6867 242.429 75.6867C241.252 75.6867 240.272 74.8043 240.272 72.7455C240.272 70.5886 240.468 68.3337 244.096 52.4513C235.566 67.6474 226.252 75.6867 219.684 75.6867C214.586 75.6867 212.723 71.6671 212.723 66.0788C212.723 47.3532 232.429 27.6472 242.135 27.6472C243.998 27.6472 246.841 28.3335 248.998 31.0786C250.076 25.9805 251.351 19.608 252.429 13.8236C252.919 10.9805 253.115 8.92162 253.115 8.1373C253.115 5.98042 251.841 5.49023 250.37 5.49023V5.00003C253.115 4.90199 257.821 2.74511 260.762 0ZM224.586 69.8043C234.096 69.8043 246.547 48.2356 246.547 40.7845C246.547 33.7257 242.037 31.8629 238.801 31.8629C229.488 31.8629 219.684 47.7454 219.684 61.9611C219.684 66.569 221.154 69.8043 224.586 69.8043Z"
    fill="currentColor"></path>
  <path
    d="M271.184 75.6867C264.224 75.6867 261.184 70.5886 261.184 63.6278C261.184 49.6081 273.733 27.7453 290.302 27.7453C295.008 27.7453 297.557 30.0982 297.557 33.3335C297.557 39.6081 288.341 49.314 268.93 52.6474C268.243 55.1964 267.949 57.7454 267.949 60.0003C267.949 65.9808 270.302 70.3926 276.086 70.3926C280.302 70.3926 285.792 68.7259 290.792 60.8827L291.283 61.3729C284.518 72.7455 276.185 75.6867 271.184 75.6867ZM286.871 29.7061C279.616 29.7061 272.165 40.8826 269.224 51.4709C283.538 49.1179 290.89 39.0198 290.89 33.4316C290.89 31.1766 289.616 29.7061 286.871 29.7061Z"
    fill="currentColor"></path>
  <path
    d="M306.821 75.6867C302.9 75.6867 299.762 73.1377 295.645 70.2945C296.919 68.1376 298.096 65.0004 298.978 60.5886H299.272C300.154 67.2553 305.743 72.1573 311.527 72.1573C315.155 72.1573 317.704 69.9024 317.704 65.5886C317.704 56.9611 303.978 52.0591 303.978 43.2355C303.978 35.8826 311.135 27.6472 319.958 27.6472C323.096 27.6472 325.939 28.9217 327.115 30.2943C324.959 32.7453 324.174 34.1178 322.802 38.1375H322.508C321.821 34.1178 317.998 32.059 314.468 32.059C311.135 32.059 307.9 34.0198 307.9 37.8433C307.9 46.0787 322.606 50.9807 322.606 60.0984C322.606 66.569 315.743 75.6867 306.821 75.6867Z"
    fill="currentColor"></path>
  <path
    d="M349.059 16.1766C349.059 18.9217 346.902 23.3335 343.667 23.3335C342.294 23.3335 341.215 22.5491 341.215 20.7844C341.215 17.7452 343.078 13.6275 346.51 13.6275C347.882 13.6275 349.059 14.4118 349.059 16.1766ZM334.059 55.6866L337 41.5689C337.196 40.4904 337.392 39.51 337.392 38.7257C337.392 37.8433 337.196 37.3531 336.608 37.3531C335.921 37.3531 335.137 37.8434 332.882 39.2159L332.392 38.6277C340.039 33.8237 343.765 30.3923 346.117 27.6472L346.51 27.9413C344.843 35.0002 338.764 61.9611 338.764 66.471C338.764 68.0396 339.157 68.4318 339.745 68.4318C340.823 68.4318 342.98 66.7651 346.412 60.7847L347 61.2749C343.666 67.4514 336.804 75.6867 332.98 75.6867C331.804 75.6867 330.823 74.8043 330.823 72.7455C330.823 70.0984 332.098 65.0004 334.059 55.6866Z"
    fill="currentColor"></path>
  <path
    d="M376.184 27.7453C380.008 27.7453 383.145 28.6276 385.498 30.1962C386.773 29.2159 388.145 28.0394 388.831 26.5688H388.929C390.008 28.2355 392.753 30.6864 396.184 30.6864C397.459 30.6864 398.635 30.3923 399.91 29.2159L400.204 29.3139C398.243 32.2551 395.106 33.8237 391.969 33.8237C390.89 33.8237 389.91 33.7257 388.929 33.4316C390.596 35.8826 391.479 38.9218 391.479 42.1571C391.479 53.2356 382.361 66.569 368.439 66.569C367.263 66.569 366.086 66.471 365.106 66.3729C363.635 67.4514 362.949 68.3337 362.949 68.922C363.145 73.6279 383.831 71.471 383.831 84.2162C383.831 93.4319 373.341 99.2163 362.851 99.2163C349.714 99.2163 342.655 93.1378 342.655 86.6672C342.655 78.922 351.282 75.9808 358.537 75.7847C357.949 75.4906 357.557 74.5102 357.557 73.6279C357.557 70.7847 360.106 68.3337 363.733 66.0788C356.674 64.3141 353.537 58.5297 353.537 51.765C353.537 40.8826 362.165 27.7453 376.184 27.7453ZM376.282 29.0198C368.243 29.0198 360.694 41.0787 360.694 53.8238C360.694 60.1964 362.949 65.1964 368.733 65.1964C377.067 65.1964 384.126 50.5885 384.126 40.0002C384.126 33.8237 381.871 29.0198 376.282 29.0198ZM368.831 79.5103C364.91 78.2357 360.596 77.0593 358.341 77.0593C353.243 77.0593 349.616 80.1965 349.616 85.9809C349.616 94.1182 357.655 97.5496 365.498 97.5496C373.341 97.5496 377.655 93.4319 377.655 87.7456C377.655 83.1377 373.439 80.9809 368.831 79.5103Z"
    fill="currentColor"></path>
  <path
    d="M438.8 60.8827L439.389 61.2749C434.683 69.8043 427.722 75.6867 424.192 75.6867C423.016 75.6867 422.134 75.0004 422.134 72.9416C422.134 70.2945 426.153 56.8631 428.506 45.7846C429.192 42.4512 429.781 39.6081 429.781 37.8433C429.781 35.8826 429.29 35.0982 428.016 35.0982C425.467 35.0982 421.839 39.51 417.526 45.4905C411.153 54.4121 405.369 62.7455 405.369 71.373C405.369 72.8436 405.859 73.824 407.232 74.4122V74.9024C405.663 74.8043 404.094 74.7063 400.467 74.7063C398.408 74.7063 396.937 74.8043 395.859 74.9024V74.4122C399.682 72.5494 398.898 69.7063 404.977 41.5689C405.075 41.1767 405.369 39.9022 405.369 38.9218C405.369 38.1375 405.173 37.4512 404.388 37.4512C403.702 37.4512 403.114 37.9414 400.859 39.3139L400.369 38.7257C407.722 34.2159 411.643 30.5884 413.996 27.8433L414.486 28.1374C411.741 39.2159 408.408 53.0395 406.937 59.7062C412.035 50.0983 427.036 28.1374 434.094 28.1374C435.565 28.1374 437.232 29.0198 437.232 32.6472C437.232 34.412 436.938 36.961 436.251 40.3924C434.781 47.8434 431.545 60.1964 431.545 65.7847C431.545 67.1572 431.938 67.6474 432.624 67.6474C433.604 67.6474 436.349 65.3925 438.8 60.8827Z"
    fill="currentColor"></path>
  <path
    d="M452.349 75.6867C448.427 75.6867 445.29 73.1377 441.172 70.2945C442.447 68.1376 443.623 65.0004 444.506 60.5886H444.8C445.682 67.2553 451.271 72.1573 457.055 72.1573C460.682 72.1573 463.231 69.9024 463.231 65.5886C463.231 56.9611 449.506 52.0591 449.506 43.2355C449.506 35.8826 456.663 27.6472 465.486 27.6472C468.624 27.6472 471.467 28.9217 472.643 30.2943C470.486 32.7453 469.702 34.1178 468.329 38.1375H468.035C467.349 34.1178 463.525 32.059 459.996 32.059C456.663 32.059 453.427 34.0198 453.427 37.8433C453.427 46.0787 468.133 50.9807 468.133 60.0984C468.133 66.569 461.271 75.6867 452.349 75.6867Z"
    fill="currentColor"></path>
  <path
    d="M718.164 66.0788H720V75.6241C718.99 75.8077 717.797 75.8077 717.063 75.8077C709.078 75.8077 701.093 73.5131 693.567 69.6583C686.591 73.6049 678.606 75.8077 669.704 75.8077C649.787 75.8077 641.159 64.9774 641.159 55.3403C641.159 47.3553 646.575 38.2689 662.177 37.4428C660.892 34.3223 660.25 31.477 660.25 28.9071C660.25 21.0139 666.399 13.2124 680.626 13.2124C693.567 13.2124 700.726 20.0043 700.726 28.7236C700.726 37.2593 694.301 44.2347 679.157 44.3265L679.065 44.4183C682.92 49.1909 688.243 53.9636 694.117 57.9102C698.982 53.6882 703.204 47.906 706.049 40.6552H716.971C713.942 49.1909 709.078 56.8088 702.837 62.6829C708.068 64.8856 713.3 66.0788 718.164 66.0788ZM680.993 22.3906C674.568 22.3906 671.998 25.7865 671.998 30.0085C671.998 32.2113 672.824 34.5976 674.293 37.2593C685.857 37.0757 689.987 34.873 689.987 28.9989C689.987 25.4194 686.683 22.3906 680.993 22.3906ZM652.907 55.065C652.907 60.6637 657.955 66.6295 670.254 66.6295C675.302 66.6295 680.075 65.7117 684.389 63.9678C677.046 58.5527 670.713 51.8526 666.308 45.0607H666.032C655.936 45.5197 652.907 50.6594 652.907 55.065Z"
    fill="currentColor"></path>
  <path
    d="M59.4139 159.062C43.7192 159.062 37.3862 153.647 35.5506 148.14H35.4588C35.4588 151.353 35.7342 155.575 35.9177 158.144H24.1696V93.8971H35.9177V116.843C35.9177 119.045 35.8259 122.349 35.7342 124.093H35.9177C38.2123 117.301 44.637 111.886 58.7714 111.886C77.6785 111.886 87.3156 121.432 87.3156 134.74C87.3156 149.7 76.7607 159.062 59.4139 159.062ZM56.844 149.884C69.6935 149.884 75.5675 144.194 75.5675 134.924C75.5675 127.397 70.1524 121.065 56.9358 121.065C44.1781 121.065 35.9177 127.765 35.9177 136.484V137.035C35.9177 143.368 42.8014 149.884 56.844 149.884Z"
    fill="currentColor"></path>
  <path
    d="M118.899 159.062C101.276 159.062 93.8421 149.333 93.8421 138.411V112.804H105.59V135.933C105.59 144.285 109.812 149.425 122.753 149.425C134.41 149.425 144.322 142.817 144.322 131.344V112.804H156.07V158.144H144.322C144.506 154.84 144.689 148.783 144.689 144.102H144.506C141.752 154.29 133.584 159.062 118.899 159.062Z"
    fill="currentColor"></path>
  <path
    d="M164.266 106.288V95.6409H176.657V106.288H164.266ZM164.541 158.144V112.804H176.29V158.144H164.541Z"
    fill="currentColor"></path>
  <path
    d="M185.107 158.144V93.8971H196.855V158.144H185.107Z"
    fill="currentColor"></path>
  <path
    d="M232.947 159.062C214.591 159.062 204.127 149.517 204.127 134.924C204.127 122.166 214.499 111.886 233.314 111.886C246.072 111.886 253.047 115.466 255.434 121.707H255.525V93.8971H267.273V158.144H255.525C255.709 154.84 255.892 150.251 255.984 146.488H255.801C253.598 153.922 246.531 159.062 232.947 159.062ZM234.874 149.884C248.642 149.884 255.525 141.624 255.525 135.474V134.098C255.525 126.939 248.917 121.065 234.966 121.065C222.208 121.065 215.784 127.03 215.784 134.924C215.784 144.102 222.851 149.884 234.874 149.884Z"
    fill="currentColor"></path>
  <path
    d="M301.702 159.062C278.205 159.062 274.534 149.884 274.534 143.092H285.64C285.732 146.855 287.567 150.71 301.702 150.71C315.653 150.71 318.773 148.048 318.773 144.469C318.773 142.633 318.039 141.257 315.102 140.614C311.889 139.972 305.006 139.788 299.132 139.604C289.77 139.329 282.886 138.228 279.399 136.3C276.003 134.465 274.534 130.977 274.534 127.214C274.534 118.036 284.355 111.886 301.702 111.886C323.27 111.886 327.859 119.596 327.859 128.132H316.754C316.662 123.634 314.459 120.238 302.069 120.238C291.33 120.238 286.282 122.349 286.282 126.663C286.282 128.499 287.2 129.784 290.137 130.426C293.35 131.252 299.224 131.252 306.383 131.619C314.459 131.987 320.425 132.537 324.372 134.189C328.594 136.117 330.521 139.788 330.521 144.102C330.521 151.077 325.29 159.062 301.702 159.062Z"
    fill="currentColor"></path>
  <path
    d="M394.478 158.787C375.571 158.787 369.33 150.985 369.33 140.522V121.982H360.243V112.804H367.586C369.513 112.804 370.156 111.795 370.431 109.408L371.165 102.525H381.078V112.804H406.96V121.982H381.078V139.972C381.078 146.488 384.382 149.517 395.763 149.517C399.526 149.517 404.207 148.966 406.593 148.507V157.41C404.574 158.053 399.618 158.787 394.478 158.787Z"
    fill="currentColor"></path>
  <path
    d="M414.347 158.144V93.8971H426.095V116.475C426.095 119.229 426.003 122.441 425.911 126.113H426.095C429.491 116.843 436.925 111.886 451.518 111.886C469.967 111.886 476.575 120.606 476.575 131.895V158.144H464.827V135.015C464.827 126.847 460.788 121.523 447.113 121.523C436.099 121.523 426.095 126.755 426.095 137.769V158.144H414.347Z"
    fill="currentColor"></path>
  <path
    d="M484.305 106.288V95.6409H496.696V106.288H484.305ZM484.581 158.144V112.804H496.329V158.144H484.581Z"
    fill="currentColor"></path>
  <path
    d="M504.871 158.144V112.804H516.619L516.435 126.113H516.619C520.015 116.843 527.357 111.886 542.043 111.886C560.583 111.886 567.099 120.789 567.099 131.895V158.144H555.351V135.015C555.351 126.939 551.221 121.523 537.637 121.523C526.623 121.523 516.619 126.755 516.619 137.769V158.144H504.871Z"
    fill="currentColor"></path>
  <path
    d="M617.974 150.435C632.75 150.435 636.605 156.401 636.605 162.183C636.605 170.627 628.987 178.153 605.308 178.153C579.425 178.153 573 171.545 573 164.844C573 159.98 576.947 156.401 584.473 156.401C580.802 154.106 579.976 150.71 579.976 148.599C579.976 144.836 581.72 141.715 585.024 140.522V140.431C579.15 137.769 576.121 133.455 576.121 127.581C576.121 119.137 583.922 111.886 602.187 111.886C609.254 111.886 614.945 112.988 619.167 114.915L619.258 114.732C618.157 113.722 617.147 112.162 617.147 110.326C617.147 106.93 620.36 103.81 628.253 103.81C630.639 103.81 632.75 104.177 633.668 104.36V112.345C632.567 112.07 630.731 111.795 629.079 111.795C625.316 111.795 623.939 113.63 623.939 115.558C623.939 116.567 624.215 117.577 624.674 118.678C627.06 121.065 628.253 124.093 628.253 127.581C628.253 136.392 620.084 143.368 602.187 143.368C597.873 143.368 594.018 143 590.714 142.266C590.255 142.909 589.521 144.194 589.521 145.846C589.521 148.324 591.265 150.435 596.038 150.435H617.974ZM602.187 119.78C591.724 119.78 587.227 123.359 587.227 127.581C587.227 132.445 592.091 135.382 602.187 135.382C612.375 135.382 617.056 132.078 617.056 127.581C617.056 122.9 612.099 119.78 602.187 119.78ZM605.308 170.351C619.626 170.351 624.857 167.782 624.857 163.56C624.857 160.898 622.746 158.97 614.302 158.97H596.497C587.135 158.97 584.748 161.173 584.748 164.11C584.748 167.782 590.072 170.351 605.308 170.351Z"
    fill="currentColor"></path>
  <path
    d="M667.094 159.062C643.598 159.062 639.927 149.884 639.927 143.092H651.032C651.124 146.855 652.96 150.71 667.094 150.71C681.045 150.71 684.165 148.048 684.165 144.469C684.165 142.633 683.431 141.257 680.494 140.614C677.282 139.972 670.398 139.788 664.524 139.604C655.162 139.329 648.279 138.228 644.791 136.3C641.395 134.465 639.927 130.977 639.927 127.214C639.927 118.036 649.747 111.886 667.094 111.886C688.663 111.886 693.252 119.596 693.252 128.132H682.146C682.054 123.634 679.852 120.238 667.461 120.238C656.723 120.238 651.675 122.349 651.675 126.663C651.675 128.499 652.593 129.784 655.53 130.426C658.742 131.252 664.616 131.252 671.775 131.619C679.852 131.987 685.818 132.537 689.764 134.189C693.986 136.117 695.914 139.788 695.914 144.102C695.914 151.077 690.682 159.062 667.094 159.062Z"
    fill="currentColor"></path>
  <path
    d="M9.14191 241.583V205.42H0.055502V196.242H9.14191V192.296C9.14191 180.639 18.5037 174.765 31.9956 174.765C37.5025 174.765 42.9176 175.775 45.304 176.601V185.504C42.9176 184.861 38.0532 183.943 33.5559 183.943C24.4695 183.943 20.89 186.789 20.89 193.122V196.242H46.2218V205.42H20.89V241.583H9.14191Z"
    fill="currentColor"></path>
  <path
    d="M77.447 242.5C54.8687 242.5 46.333 231.028 46.333 219.004C46.333 207.073 55.144 195.324 77.447 195.324C99.75 195.324 108.561 207.073 108.561 219.004C108.561 231.028 99.9336 242.5 77.447 242.5ZM77.447 233.322C91.6732 233.322 96.813 226.53 96.813 219.004C96.813 211.478 91.5814 204.503 77.447 204.503C63.3126 204.503 58.081 211.478 58.081 219.004C58.081 226.439 63.2208 233.322 77.447 233.322Z"
    fill="currentColor"></path>
  <path
    d="M115.506 241.583V196.242H127.254L127.071 210.101H127.254C130.1 201.933 136.524 195.324 149.282 195.324C164.243 195.324 169.933 203.585 169.933 216.251C169.933 219.738 169.75 222.859 169.658 224.328H158.644C158.736 223.226 158.827 221.299 158.827 219.647C158.827 209.918 155.615 204.962 145.886 204.962C133.863 204.962 127.254 214.323 127.254 224.419V241.583H115.506Z"
    fill="currentColor"></path>
  <path
    d="M199.111 235.981V219.175H204.713V202.369H210.315V191.165H215.917V179.961H227.121V191.165H221.519V196.767H232.723V202.369H215.917V219.175H210.315V235.981H221.519V230.379H227.121V219.175H232.723V213.573H238.325V219.309H232.723V230.513H227.121V236.115H221.519V241.583H204.713V235.981H199.111Z"
    fill="currentColor"></path>
  <path
    d="M236.534 241.583V224.777H242.136V207.971H247.738V191.165H253.34V174.359H258.941V163.156H270.145V174.359H264.543V191.165H258.941V202.369H264.409V196.767H275.747V202.369H281.349V213.573H275.747V224.777H270.145V235.981H275.747V230.379H281.349V219.175H286.951V213.573H292.553V219.309H286.951V230.513H281.349V236.115H275.747V241.583H264.543V235.981H258.941V224.777H264.543V213.573H270.145V202.369H264.543V207.971H258.941V213.573H253.34V224.777H247.738V241.583H236.534Z"
    fill="currentColor"></path>
  <path
    d="M301.921 213.573V219.175H313.125V213.573H318.727V202.369H313.125V207.971H307.523V213.573H301.921ZM318.817 241.583H296.319V235.981H290.717V213.573H296.319V207.971H301.921V202.369H307.523V196.767H324.329V202.369H329.931V207.971H324.329V213.707H318.727V219.309H313.125V224.777H301.921V235.981H318.682V230.379H324.329V219.175H329.796V213.573H335.533V219.175H329.931V230.513H324.329V235.981H318.817V241.583Z"
    fill="currentColor"></path>
  <path
    d="M371.075 235.981V224.777H376.677V213.573H382.279V202.369H371.075V213.573H365.473V202.369H370.806V196.767H387.881V202.369H393.483V213.573H387.881V230.379H382.279V235.981H393.483V224.777H399.085V213.573H404.686V196.767H415.89V213.573H410.288V230.379H404.686V235.981H415.756V230.379H421.358V224.777H427.094V213.438H432.696V202.369H427.094V196.767H432.831V202.369H438.298V213.573H432.696V224.911H427.094V230.379H421.492V235.981H415.89V241.583H399.085V236.115H393.483V241.583H376.677V235.981H371.075Z"
    fill="currentColor"></path>
  <path
    d="M453.268 213.573V219.175H464.472V213.573H470.074V202.369H464.472V207.971H458.87V213.573H453.268ZM470.164 241.583H447.666V235.981H442.064V213.573H447.666V207.971H453.268V202.369H458.87V196.767H475.676V202.369H481.278V207.971H475.676V213.707H470.074V219.309H464.472V224.777H453.268V235.981H470.029V230.379H475.676V219.175H481.143V213.573H486.88V219.175H481.278V230.513H475.676V235.981H470.164V241.583Z"
    fill="currentColor"></path>
  <path
    d="M485.044 235.981V219.175H490.646V207.971H496.248V196.767H501.85V179.961H507.452V168.758H513.054V163.156H518.656V174.359H513.054V191.165H507.452V202.369H513.054V196.767H524.257V202.369H529.859V219.175H524.257V230.379H518.656V235.981H507.452V241.583H490.646V235.981H485.044ZM496.248 235.981H507.317V230.379H513.054V219.175H518.656V202.504H513.054V207.971H501.85V219.175H496.248V235.981Z"
    fill="currentColor"></path>
  <path
    d="M533.671 235.971H644.224V241.573H533.671V235.971Z"
    fill="currentColor"></path>
  <path
    d="M665.33 243C657.798 243 651.311 236.506 651.311 228.754C651.311 221.212 657.588 215.346 666.167 214.508L665.121 211.156C662.296 212.728 658.425 213.985 655.287 213.985C647.754 213.985 642 207.49 642 200.053C642 192.092 648.382 185.912 655.914 185.912C661.668 185.912 667.527 190.626 669.933 196.282L672.654 194.187C668.887 190.73 666.376 186.122 666.376 182.246C666.376 174.39 672.654 168 680.395 168C688.137 168 694.624 174.494 694.624 182.246C694.624 186.122 692.008 190.94 688.346 194.187L691.067 196.282C693.473 190.416 699.227 185.912 705.086 185.912C712.618 185.912 719 192.197 719 200.053C719 207.385 712.932 213.985 705.818 213.985C702.575 213.985 699.332 213.042 695.879 211.156L694.833 214.508C703.202 215.346 709.689 221.212 709.689 228.754C709.689 236.296 703.307 243 695.67 243C687.719 243 681.755 236.925 681.755 228.23C681.755 226.554 681.965 224.983 682.279 223.726H678.721C679.035 225.193 679.245 226.659 679.245 228.23C679.245 236.82 673.281 243 665.33 243ZM680.395 221.003C687.509 221.003 693.368 215.137 693.368 208.014C693.368 200.891 687.509 195.025 680.395 195.025C673.281 195.025 667.632 200.891 667.632 208.014C667.632 215.242 673.386 221.003 680.395 221.003Z"
    fill="currentColor"></path>
  <path
    d="M511.55 27.3182C499.788 22.9642 536.065 27.9888 548.294 29.4104C570.644 32.0084 592.564 37.3558 614.633 42.4054C622.108 44.1157 624.878 48.0625 616.28 50.9272C585.218 61.2772 550.22 62.8683 517.689 65.9058C511.781 66.4574 505.666 66.6394 499.908 68.0936C495.867 69.1144 511.986 68.4502 512.795 68.4453C533.127 68.3224 553.827 66.5037 574.184 67.7365C577.304 67.9254 582.785 68.0337 585.683 70.0134C588.89 72.2037 588.772 77.5898 593.126 78.4446C594.88 78.7891 596.25 77.5842 596.859 75.9346C599.311 69.2906 588.506 62.5723 584.506 60.1827C566.71 49.5501 545.728 46.8244 526.317 42.3831C526.193 42.3548 520.98 41.6359 521.459 42.0979C523.26 43.8344 534.823 41.7736 537.126 41.9051C543.845 42.2889 564.476 41.5891 569.107 48.9865C570.647 51.4467 568.431 57.1383 566.53 50.7578C564.233 43.0485 562.652 28.6504 566.074 21.3203C568.052 17.0827 580.737 21.9014 583.725 22.5851C588.071 23.5794 588.518 22.9415 589.177 18.5206"
    stroke="currentColor"
    stroke-width="2.5"
    stroke-linecap="round"></path>
  <path
    d="M596.278 42.5827C581.127 35.6292 565.465 31.3426 549.363 28.1409C534.756 25.2364 516.932 21.6851 502.229 25.6259C495.898 27.3226 490.193 31.7645 486.984 38.0002C480.294 51.0016 495.902 57.9191 504.728 61.9698C536.552 76.576 568.807 83.0392 602.864 77.1308C609.674 75.9493 616.759 74.475 622.481 70.0552C630.522 63.8444 628.168 57.8002 621.681 50.8232C606.158 34.1281 581.959 22.28 560.607 19.3745C550.277 17.9689 537.801 18.7251 531.049 28.5349C521.676 42.1539 536.281 50.9912 547.214 52.2228C552.416 52.8088 568.826 55.7297 572.785 49.4625C575.353 45.3977 563.589 40.5946 561.584 39.7005C552.306 35.5621 542.387 36.612 532.714 37.085C527.71 37.3297 518.758 37.7151 514.414 40.9037C510.47 43.7985 514.779 48.3361 517.278 50.7642C531.684 64.7638 551.46 72.2399 569.205 79.1548"
    stroke="currentColor"
    stroke-width="2.5"
    stroke-linecap="round"></path>
</svg>

<h1 class={baseStyles.visuallyHidden}>
  Eva designs and builds things for the web
</h1>
