---
import * as baseStyles from "../../styles/base.css";
---

<svg
  width="720"
  height="auto"
  viewBox="0 0 720 259"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M0 70.576V12.672H54.6748V22.264H12.3488V37.488H45.7264V45.408H12.3488V60.984H55.5696V70.576H0Z"
    fill="currentColor"></path>
  <path
    d="M84.6526 70.576L57.6284 27.104H71.23L91.8114 61.072H91.9008L112.303 27.104H124.742L97.8963 70.576H84.6526Z"
    fill="currentColor"></path>
  <path
    d="M148.513 71.368C132.406 71.368 126.5 64.592 126.5 57.728C126.5 49.28 133.569 45.76 144.665 45.76H171.242V44.88C171.242 37.752 166.32 34.232 154.15 34.232C142.607 34.232 138.849 37.4 138.849 41.096C138.849 41.36 138.849 41.624 138.938 42.152H128.021C127.931 41.36 127.931 40.744 127.931 40.568C127.931 32.12 135.985 26.224 154.419 26.224C173.21 26.224 182.696 33.792 182.696 45.936V70.576H171.242C171.51 67.584 171.689 63.096 171.779 60.104H171.689C169.721 67.056 163.367 71.368 148.513 71.368ZM150.75 63.448C164.888 63.448 171.242 57.816 171.242 52.712V52.448H147.35C140.638 52.448 136.969 53.152 136.969 57.288C136.969 60.192 139.475 63.448 150.75 63.448Z"
    fill="currentColor"></path>
  <path
    d="M210.273 56.584C210.273 42.592 219.937 25.432 234.613 25.432C239.445 25.432 243.65 27.632 246.424 30.888L252.42 6.776L245.351 6.072L259.847 0L243.919 64.68C243.471 66.704 243.919 67.848 245.261 67.848C247.588 67.848 251.794 63.976 257.789 49.632C252.42 66.176 247.856 71.632 242.845 71.632C238.997 71.632 237.208 68.904 238.281 64.064L241.503 51.128H240.787C235.776 62.392 229.422 71.632 221.906 71.632C213.763 71.632 210.273 64.856 210.273 56.584ZM216.537 56.32C216.537 63.184 218.774 68.464 224.053 68.464C231.123 68.464 238.46 55.704 243.919 41.36L244.008 40.656C244.814 32.912 241.413 26.84 234.792 26.84C223.785 26.84 216.537 44.088 216.537 56.32Z"
    fill="currentColor"></path>
  <path
    d="M259.617 54.032C259.617 39.952 269.55 25.432 283.509 25.432C292.189 25.432 296.932 32.296 295.142 42.856L295.053 43.384H266.507C265.791 46.112 265.344 48.928 265.344 51.744C265.344 60.192 269.192 67.32 277.872 67.32C284.673 67.408 290.668 62.832 294.784 54.296C290.31 65.648 283.509 71.72 275.366 71.632C264.449 71.544 259.617 63.448 259.617 54.032ZM266.955 42.152H286.91C288.699 42.152 289.952 41.008 290.4 38.808C291.563 32.296 288.431 26.752 283.062 26.752C275.635 26.752 269.55 33.616 266.955 42.152Z"
    fill="currentColor"></path>
  <path
    d="M297.014 68.64L297.282 67.144L298.088 53.152C299.161 63.888 304.172 70.224 312.315 70.224C318.132 70.224 322.338 66.528 322.338 61.072C322.338 50.776 303.278 50.16 303.278 37.928C303.278 30.8 310.078 25.432 319.116 25.432C323.322 25.432 328.333 26.664 330.839 28.424L330.57 29.832L329.586 41.448C328.512 33.616 325.201 26.752 317.774 26.752C312.226 26.752 307.662 30.624 307.662 35.464C307.662 45.76 326.722 46.464 326.722 58.872C326.722 66.176 320.101 71.632 310.705 71.632C306.052 71.632 300.414 70.4 297.014 68.64Z"
    fill="currentColor"></path>
  <path
    d="M354.66 13.816H346.159L348.127 5.192H356.628L354.66 13.816ZM341.148 71.632C337.031 71.632 335.331 68.816 336.673 63.624L344.637 33.088C345.353 30.008 344.906 29.216 343.653 29.216C341.237 29.216 336.673 34.848 332.11 44C335.957 32.56 341.684 25.432 346.875 25.432C349.738 25.432 351.796 27.632 350.543 32.56L342.4 64.152C341.774 66.616 342.221 67.848 343.564 67.848C345.89 67.848 350.096 63.976 356.091 49.632C350.722 66.176 346.248 71.632 341.148 71.632Z"
    fill="currentColor"></path>
  <path
    d="M362.369 95.744C352.079 95.744 344.114 91.608 344.114 85.536C344.114 79.288 351.184 74.712 362.996 71.368L363.175 70.664C361.206 69.344 359.953 67.848 359.953 66.264C359.953 63.096 364.338 60.896 373.018 57.904H372.928C364.248 57.728 359.774 52.096 359.774 45.232C359.774 35.728 368.007 25.432 379.729 25.432C384.203 25.432 386.083 26.312 390.378 26.312H401.295L400.4 29.832H390.109C392.167 32.384 393.152 35.288 393.152 38.544C393.152 47.256 386.888 54.56 379.103 57.024C374.271 58.52 365.143 61.072 365.143 64.064C365.143 69.256 389.125 73.48 389.125 81.664C389.125 88.88 375.076 95.744 362.369 95.744ZM373.913 56.672C382.235 56.672 387.783 45.584 387.783 37.312C387.783 31.504 385.098 26.664 379.461 26.664C370.423 26.664 365.143 37.4 365.143 45.584C365.143 51.568 367.917 56.672 373.913 56.672ZM366.217 93.192C373.465 93.192 384.114 90.464 384.114 84.04C384.114 79.024 372.034 75.68 364.964 71.72C355.3 74.36 349.573 78.672 349.573 84.04C349.573 89.408 357 93.192 366.217 93.192Z"
    fill="currentColor"></path>
  <path
    d="M397.304 44C401.151 32.56 406.878 25.432 412.069 25.432C414.932 25.432 416.901 27.632 415.737 32.472L410.279 55.264H410.726C416.185 41.184 424.775 25.432 434.887 25.432C441.419 25.432 444.551 31.328 442.314 39.16L435.155 64.152C434.35 66.88 435.066 67.848 436.319 67.848C438.645 67.848 442.851 63.976 448.847 49.632C443.567 66.176 439.003 71.632 433.813 71.632C429.607 71.632 428.086 68.464 429.518 63.272L436.766 38.544C438.466 32.824 436.319 28.6 431.934 28.6C421.017 28.6 410.01 58.344 406.61 70.576H400.704L409.831 33C410.547 30.008 410.1 29.216 408.847 29.216C406.431 29.216 401.867 34.848 397.304 44Z"
    fill="currentColor"></path>
  <path
    d="M448.462 68.64L448.73 67.144L449.536 53.152C450.61 63.888 455.621 70.224 463.764 70.224C469.58 70.224 473.786 66.528 473.786 61.072C473.786 50.776 454.726 50.16 454.726 37.928C454.726 30.8 461.527 25.432 470.565 25.432C474.77 25.432 479.781 26.664 482.287 28.424L482.019 29.832L481.034 41.448C479.96 33.616 476.649 26.752 469.222 26.752C463.674 26.752 459.111 30.624 459.111 35.464C459.111 45.76 478.171 46.464 478.171 58.872C478.171 66.176 471.549 71.632 462.153 71.632C457.5 71.632 451.862 70.4 448.462 68.64Z"
    fill="currentColor"></path>
  <path
    d="M718.21 62.304H720V71.456C719.016 71.632 717.852 71.632 717.136 71.632C709.351 71.632 701.566 69.432 694.229 65.736C687.428 69.52 679.643 71.632 670.963 71.632C651.545 71.632 643.133 61.248 643.133 52.008C643.133 44.352 648.413 35.64 663.625 34.848C662.372 31.856 661.746 29.128 661.746 26.664C661.746 19.096 667.741 11.616 681.611 11.616C694.229 11.616 701.208 18.128 701.208 26.488C701.208 34.672 694.944 41.36 680.18 41.448L680.09 41.536C683.848 46.112 689.039 50.688 694.766 54.472C699.508 50.424 703.624 44.88 706.398 37.928H717.047C714.094 46.112 709.351 53.416 703.267 59.048C708.367 61.16 713.468 62.304 718.21 62.304ZM681.969 20.416C675.705 20.416 673.2 23.672 673.2 27.72C673.2 29.832 674.005 32.12 675.437 34.672C686.712 34.496 690.739 32.384 690.739 26.752C690.739 23.32 687.517 20.416 681.969 20.416ZM654.587 51.744C654.587 57.112 659.509 62.832 671.5 62.832C676.421 62.832 681.074 61.952 685.28 60.28C678.121 55.088 671.947 48.664 667.652 42.152H667.383C657.54 42.592 654.587 47.52 654.587 51.744Z"
    fill="currentColor"></path>
  <path
    d="M66.9393 155.456C51.6376 155.456 45.4632 150.264 43.6735 144.984H43.584C43.584 148.064 43.8524 152.112 44.0314 154.576H32.5774V92.976H44.0314V114.976C44.0314 117.088 43.9419 120.256 43.8524 121.928H44.0314C46.2685 115.416 52.5324 110.224 66.313 110.224C84.7467 110.224 94.1425 119.376 94.1425 132.136C94.1425 146.48 83.8518 155.456 66.9393 155.456ZM64.4338 146.656C76.9615 146.656 82.6885 141.2 82.6885 132.312C82.6885 125.096 77.409 119.024 64.5233 119.024C52.085 119.024 44.0314 125.448 44.0314 133.808V134.336C44.0314 140.408 50.7427 146.656 64.4338 146.656Z"
    fill="currentColor"></path>
  <path
    d="M124.935 155.456C107.754 155.456 100.506 146.128 100.506 135.656V111.104H111.96V133.28C111.96 141.288 116.076 146.216 128.693 146.216C140.058 146.216 149.722 139.88 149.722 128.88V111.104H161.176V154.576H149.722C149.901 151.408 150.08 145.6 150.08 141.112H149.901C147.216 150.88 139.252 155.456 124.935 155.456Z"
    fill="currentColor"></path>
  <path
    d="M169.166 104.856V94.648H181.247V104.856H169.166ZM169.435 154.576V111.104H180.889V154.576H169.435Z"
    fill="currentColor"></path>
  <path d="M189.486 154.576V92.976H200.94V154.576H189.486Z" fill="currentColor"
  ></path>
  <path
    d="M236.128 155.456C218.231 155.456 208.03 146.304 208.03 132.312C208.03 120.08 218.142 110.224 236.486 110.224C248.924 110.224 255.725 113.656 258.051 119.64H258.141V92.976H269.595V154.576H258.141C258.32 151.408 258.499 147.008 258.588 143.4H258.409C256.262 150.528 249.371 155.456 236.128 155.456ZM238.007 146.656C251.43 146.656 258.141 138.736 258.141 132.84V131.52C258.141 124.656 251.698 119.024 238.096 119.024C225.658 119.024 219.394 124.744 219.394 132.312C219.394 141.112 226.285 146.656 238.007 146.656Z"
    fill="currentColor"></path>
  <path
    d="M303.161 155.456C280.253 155.456 276.674 146.656 276.674 140.144H287.501C287.591 143.752 289.381 147.448 303.161 147.448C316.763 147.448 319.805 144.896 319.805 141.464C319.805 139.704 319.089 138.384 316.226 137.768C313.094 137.152 306.383 136.976 300.656 136.8C291.528 136.536 284.817 135.48 281.417 133.632C278.106 131.872 276.674 128.528 276.674 124.92C276.674 116.12 286.249 110.224 303.161 110.224C324.19 110.224 328.664 117.616 328.664 125.8H317.837C317.747 121.488 315.599 118.232 303.519 118.232C293.049 118.232 288.128 120.256 288.128 124.392C288.128 126.152 289.023 127.384 291.886 128C295.018 128.792 300.745 128.792 307.725 129.144C315.6 129.496 321.416 130.024 325.264 131.608C329.38 133.456 331.259 136.976 331.259 141.112C331.259 147.8 326.159 155.456 303.161 155.456Z"
    fill="currentColor"></path>
  <path
    d="M393.615 155.192C375.181 155.192 369.096 147.712 369.096 137.68V119.904H360.237V111.104H367.396C369.275 111.104 369.902 110.136 370.17 107.848L370.886 101.248H380.55V111.104H405.785V119.904H380.55V137.152C380.55 143.4 383.772 146.304 394.868 146.304C398.537 146.304 403.1 145.776 405.427 145.336V153.872C403.458 154.488 398.626 155.192 393.615 155.192Z"
    fill="currentColor"></path>
  <path
    d="M412.986 154.576V92.976H424.44V114.624C424.44 117.264 424.351 120.344 424.261 123.864H424.44C427.751 114.976 434.999 110.224 449.227 110.224C467.213 110.224 473.656 118.584 473.656 129.408V154.576H462.202V132.4C462.202 124.568 458.265 119.464 444.932 119.464C434.194 119.464 424.44 124.48 424.44 135.04V154.576H412.986Z"
    fill="currentColor"></path>
  <path
    d="M481.193 104.856V94.648H493.274V104.856H481.193ZM481.462 154.576V111.104H492.916V154.576H481.462Z"
    fill="currentColor"></path>
  <path
    d="M501.244 154.576V111.104H512.698L512.519 123.864H512.698C516.009 114.976 523.168 110.224 537.485 110.224C555.561 110.224 561.914 118.76 561.914 129.408V154.576H550.46V132.4C550.46 124.656 546.433 119.464 533.19 119.464C522.452 119.464 512.698 124.48 512.698 135.04V154.576H501.244Z"
    fill="currentColor"></path>
  <path
    d="M611.515 147.184C625.922 147.184 629.68 152.904 629.68 158.448C629.68 166.544 622.253 173.76 599.166 173.76C573.932 173.76 567.668 167.424 567.668 161C567.668 156.336 571.516 152.904 578.853 152.904C575.274 150.704 574.469 147.448 574.469 145.424C574.469 141.816 576.169 138.824 579.39 137.68V137.592C573.663 135.04 570.71 130.904 570.71 125.272C570.71 117.176 578.316 110.224 596.124 110.224C603.014 110.224 608.562 111.28 612.678 113.128L612.768 112.952C611.694 111.984 610.71 110.488 610.71 108.728C610.71 105.472 613.841 102.48 621.537 102.48C623.864 102.48 625.922 102.832 626.817 103.008V110.664C625.743 110.4 623.953 110.136 622.342 110.136C618.674 110.136 617.331 111.896 617.331 113.744C617.331 114.712 617.6 115.68 618.047 116.736C620.374 119.024 621.537 121.928 621.537 125.272C621.537 133.72 613.573 140.408 596.124 140.408C591.918 140.408 588.16 140.056 584.938 139.352C584.491 139.968 583.775 141.2 583.775 142.784C583.775 145.16 585.475 147.184 590.128 147.184H611.515ZM596.124 117.792C585.922 117.792 581.538 121.224 581.538 125.272C581.538 129.936 586.28 132.752 596.124 132.752C606.056 132.752 610.62 129.584 610.62 125.272C610.62 120.784 605.788 117.792 596.124 117.792ZM599.166 166.28C613.126 166.28 618.226 163.816 618.226 159.768C618.226 157.216 616.168 155.368 607.936 155.368H590.576C581.448 155.368 579.122 157.48 579.122 160.296C579.122 163.816 584.312 166.28 599.166 166.28Z"
    fill="currentColor"></path>
  <path
    d="M659.406 155.456C636.498 155.456 632.918 146.656 632.918 140.144H643.746C643.835 143.752 645.625 147.448 659.406 147.448C673.007 147.448 676.05 144.896 676.05 141.464C676.05 139.704 675.334 138.384 672.47 137.768C669.338 137.152 662.627 136.976 656.9 136.8C647.773 136.536 641.061 135.48 637.661 133.632C634.35 131.872 632.918 128.528 632.918 124.92C632.918 116.12 642.493 110.224 659.406 110.224C680.434 110.224 684.909 117.616 684.909 125.8H674.081C673.992 121.488 671.844 118.232 659.764 118.232C649.294 118.232 644.372 120.256 644.372 124.392C644.372 126.152 645.267 127.384 648.131 128C651.263 128.792 656.99 128.792 663.969 129.144C671.844 129.496 677.66 130.024 681.508 131.608C685.624 133.456 687.504 136.976 687.504 141.112C687.504 147.8 682.403 155.456 659.406 155.456Z"
    fill="currentColor"></path>
  <path
    d="M9.9479 238.576V203.904H1.08897V195.104H9.9479V191.32C9.9479 180.144 19.0753 174.512 32.2294 174.512C37.5985 174.512 42.878 175.48 45.2046 176.272V184.808C42.878 184.192 38.1354 183.312 33.7507 183.312C24.8917 183.312 21.4019 186.04 21.4019 192.112V195.104H46.0995V203.904H21.4019V238.576H9.9479Z"
    fill="currentColor"></path>
  <path
    d="M76.5429 239.456C54.5298 239.456 46.2078 228.456 46.2078 216.928C46.2078 205.488 54.7983 194.224 76.5429 194.224C98.2876 194.224 106.878 205.488 106.878 216.928C106.878 228.456 98.4665 239.456 76.5429 239.456ZM76.5429 230.656C90.413 230.656 95.4241 224.144 95.4241 216.928C95.4241 209.712 90.3235 203.024 76.5429 203.024C62.7624 203.024 57.6618 209.712 57.6618 216.928C57.6618 224.056 62.6729 230.656 76.5429 230.656Z"
    fill="currentColor"></path>
  <path
    d="M113.649 238.576V195.104H125.103L124.924 208.392H125.103C127.877 200.56 134.141 194.224 146.58 194.224C161.165 194.224 166.714 202.144 166.714 214.288C166.714 217.632 166.535 220.624 166.445 222.032H155.707C155.796 220.976 155.886 219.128 155.886 217.544C155.886 208.216 152.754 203.464 143.269 203.464C131.546 203.464 125.103 212.44 125.103 222.12V238.576H113.649Z"
    fill="currentColor"></path>
  <path
    d="M195.161 233.205V217.092H200.623V200.978H206.084V190.236H211.546V179.494H222.469V190.236H217.008V195.607H227.931V200.978H211.546V217.092H206.084V233.205H217.008V227.834H222.469V217.092H227.931V211.721H233.393V217.221H227.931V227.963H222.469V233.334H217.008V238.576H200.623V233.205H195.161Z"
    fill="currentColor"></path>
  <path
    d="M231.647 238.576V222.463H237.108V206.349H242.57V190.236H248.032V174.123H253.493V163.381H264.417V174.123H258.955V190.236H253.493V200.978H258.824V195.607H269.879V200.978H275.34V211.721H269.879V222.463H264.417V233.205H269.879V227.834H275.34V217.092H280.802V211.721H286.264V217.221H280.802V227.963H275.34V233.334H269.879V238.576H258.955V233.205H253.493V222.463H258.955V211.721H264.417V200.978H258.955V206.349H253.493V211.721H248.032V222.463H242.57V238.576H231.647Z"
    fill="currentColor"></path>
  <path
    d="M295.397 211.721V217.092H306.321V211.721H311.782V200.978H306.321V206.349H300.859V211.721H295.397ZM311.87 238.576H289.936V233.205H284.474V211.721H289.936V206.349H295.397V200.978H300.859V195.607H317.244V200.978H322.706V206.349H317.244V211.849H311.782V217.221H306.321V222.463H295.397V233.205H311.739V227.834H317.244V217.092H322.574V211.721H328.167V217.092H322.706V227.963H317.244V233.205H311.87V238.576Z"
    fill="currentColor"></path>
  <path
    d="M362.82 233.205V222.463H368.281V211.721H373.743V200.978H362.82V211.721H357.358V200.978H362.557V195.607H379.205V200.978H384.666V211.721H379.205V227.834H373.743V233.205H384.666V222.463H390.128V211.721H395.59V195.607H406.513V211.721H401.051V227.834H395.59V233.205H406.382V227.834H411.844V222.463H417.436V211.592H422.898V200.978H417.436V195.607H423.029V200.978H428.36V211.721H422.898V222.592H417.436V227.834H411.975V233.205H406.513V238.576H390.128V233.334H384.666V238.576H368.281V233.205H362.82Z"
    fill="currentColor"></path>
  <path
    d="M442.955 211.721V217.092H453.878V211.721H459.34V200.978H453.878V206.349H448.417V211.721H442.955ZM459.427 238.576H437.493V233.205H432.032V211.721H437.493V206.349H442.955V200.978H448.417V195.607H464.802V200.978H470.263V206.349H464.802V211.849H459.34V217.221H453.878V222.463H442.955V233.205H459.296V227.834H464.802V217.092H470.132V211.721H475.725V217.092H470.263V227.963H464.802V233.205H459.427V238.576Z"
    fill="currentColor"></path>
  <path
    d="M473.935 233.205V217.092H479.397V206.349H484.859V195.607H490.32V179.494H495.782V168.752H501.244V163.381H506.705V174.123H501.244V190.236H495.782V200.978H501.244V195.607H512.167V200.978H517.629V217.092H512.167V227.834H506.705V233.205H495.782V238.576H479.397V233.205H473.935ZM484.859 233.205H495.651V227.834H501.244V217.092H506.705V201.107H501.244V206.349H490.32V217.092H484.859V233.205Z"
    fill="currentColor"></path>
  <path
    d="M521.344 206.349H644.655V211.721H521.344V206.349Z"
    fill="currentColor"></path>
  <path
    d="M668.815 242.8C662.551 242.8 656.377 236.816 656.377 231.008C656.377 223.968 663.267 217.368 669.263 215.344C667.115 215.96 665.057 216.224 662.999 216.224C654.677 216.224 647.429 211.472 647.429 203.904C647.429 196.336 652.977 191.232 659.598 191.232C664.878 191.232 670.963 194.576 674.632 199.152C672.574 196.248 670.873 191.672 670.873 187.008C670.873 180.056 675.795 174.336 683.401 174.336C690.828 174.336 695.75 179.88 695.75 187.008C695.75 191.32 694.318 195.896 691.992 199.152L692.35 198.712C696.197 194.048 701.566 191.232 707.204 191.232C713.647 191.232 719.374 196.16 719.374 203.816C719.374 211.648 711.589 216.224 703.714 216.224C700.94 216.136 698.792 215.784 697.361 215.344C703.535 217.544 710.425 223.704 710.425 231.184C710.425 236.552 704.519 242.8 697.898 242.8C691.992 242.8 687.607 238.928 685.191 232.944C683.938 229.864 683.401 227.4 683.401 225.376C682.059 236.2 676.779 242.8 668.815 242.8ZM678.39 200.56L681.254 199.504C681.79 198.184 681.969 197.04 681.969 196.16C681.969 195.016 681.254 192.816 681.254 191.936C681.254 190.352 681.969 188.944 683.401 188.944C684.833 188.944 685.549 190.352 685.549 191.936C685.549 193.08 684.654 195.016 684.654 196.16C684.654 197.216 684.922 198.36 685.37 199.504L688.233 200.56C690.649 198.184 692.171 193.96 692.171 189.824C692.171 184.28 688.591 180.672 683.401 180.672C678.211 180.672 674.453 184.28 674.453 189.824C674.453 193.96 675.974 198.272 678.39 200.56ZM665.325 214.112C667.741 214.112 669.8 213.672 671.589 212.704V209.712C670.963 208.832 669.173 208.04 666.22 207.776C663.357 207.512 661.836 206.632 661.836 205.136C661.836 203.816 662.909 203.288 663.983 203.288C664.699 203.288 665.952 203.64 667.562 204.608C669.173 205.576 670.873 206.016 672.484 206.016H672.842L674.632 203.552C672.842 199.944 667.384 195.984 662.104 195.984C657.093 195.984 653.603 200.032 653.603 204.96C653.603 210.24 658.346 214.112 665.325 214.112ZM701.387 214.112C708.367 214.112 713.199 210.24 713.199 204.96C713.199 199.856 709.531 195.984 704.609 195.984C699.15 195.984 693.692 200.032 691.992 203.552L693.96 206.016H694.318L695.034 205.928C696.466 205.752 697.898 205.488 699.329 204.608C700.761 203.728 701.835 203.288 702.64 203.288C704.072 203.288 704.788 203.904 704.788 205.224C704.788 206.72 703.625 207.512 701.298 207.6C698.971 207.688 696.913 208.392 695.213 209.712L695.034 212.704C696.824 213.672 698.882 214.112 701.387 214.112ZM670.247 237.168C676.242 237.168 680.806 229.248 680.806 223.792V222.912L680.717 222.208L677.853 221.328C675.795 222.56 674.453 224.232 673.916 226.168C673.379 228.192 672.395 229.16 670.963 229.16C669.889 229.16 668.994 228.104 668.994 227.136C668.994 225.904 669.8 224.848 671.321 223.792C672.842 222.736 673.916 221.152 674.453 219.04L672.842 216.576C668.099 217.456 661.12 222.472 661.12 228.544C661.12 233.12 665.683 237.168 670.247 237.168ZM696.018 237.168C700.672 237.168 705.146 233.032 705.146 228.544C705.146 222.384 698.255 217.632 693.423 216.576L691.813 219.04C692.26 221.064 693.334 222.56 694.855 223.792C696.376 225.024 697.182 226.168 697.182 227.312C697.182 228.28 696.287 229.16 695.303 229.16C694.05 229.16 692.976 228.192 692.26 226.168C691.544 224.232 690.202 222.648 688.412 221.328L685.549 222.208L685.459 222.912V223.792C685.459 227.048 687.607 232.504 690.828 235.144C692.439 236.464 694.139 237.168 696.018 237.168Z"
    fill="currentColor"></path>
  <path
    style={{ animationDelay: "0s" }}
    d="M511 29C498.478 27.4347 535.836 24.3513 548.389 23.0556C571.33 20.6874 594.251 21 617.277 21C625.077 21 628.465 24.1186 620.222 28.6667C590.438 45.0992 555.366 54.1344 523 64C517.122 65.7917 510.979 67.2802 505.389 69.8889C501.464 71.7202 517.628 67.6234 518.444 67.4444C538.94 62.9497 559.552 56.7795 580.277 53.5556C583.453 53.0616 589 51.983 592.222 53.2222C595.787 54.5933 596.479 59.6885 601 59.5556C602.821 59.502 604.023 58.0727 604.389 56.3889C605.863 49.6069 593.95 45.6101 589.555 44.2222C569.999 38.0467 548.419 40 528.166 40C528.037 40 522.669 40.4461 523.222 40.7778C525.3 42.0245 536.657 37.5943 539 37.2222C545.837 36.1362 566.548 31.0342 572.333 37C574.257 38.984 572.878 44.8187 570 39.2222C566.522 32.4603 562.761 19.2479 565.111 11.6111C566.469 7.1962 579.993 9 583.111 9C587.645 9 588 8.30334 588 4"
    pathLength="1"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"></path>
  <path
    d="M596 19C579.045 19 562.542 21.5463 546 25.2222C530.994 28.5569 512.681 32.6193 500 42C494.54 46.0388 490.648 52.2351 489.778 59C487.964 73.1048 505.345 72.8889 515.222 72.8889C550.838 72.8889 583.991 65.5692 614.5 46.6667C620.601 42.8868 626.862 38.7392 630.778 32.5555C636.281 23.8663 631.894 19.51 623.222 16C602.471 7.60079 575.129 6.94959 553.667 13C543.284 15.9271 531.61 21.6159 528.611 32.9444C524.448 48.6719 541.546 50.545 552.445 47.2222C557.63 45.6412 574.368 41.5947 575.945 34.5C576.967 29.8985 564.012 30.4216 561.778 30.4444C551.436 30.55 542.313 35.4666 533.222 39.7778C528.52 42.008 520.088 45.9519 517.056 50.5C514.303 54.6289 520.029 56.8755 523.278 58C542.008 64.4835 563.575 63.0792 583 62"
    pathLength="1"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"></path>
</svg>
<h1 class={baseStyles.visuallyHidden}>
  Eva designs and builds things for the web
</h1>
