html {
  font-size: 100%;
  height: 100%;
}

body {
  color: var(--gray-12);
  background-color: var(--gray-1);
  display: flex;
  min-height: 100%;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--step-0);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-body);
  text-rendering: optimizelegibility;
  font-synthesis: none;
}

body.dark {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: var(--amber-4);
  color: var(--amber-12);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--step-5);
  line-height: var(--line-height-display);
  letter-spacing: var(--letter-spacing-condensed);
}

h2 {
  font-size: var(--step-3);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-condensed);
}

h3 {
  font-size: var(--step-2);
  line-height: var(--line-height-tight);
}

h4 {
  font-size: var(--step-1);
  line-height: var(--line-height-tight);
}

h5 {
  font-size: var(--step-0);
  line-height: var(--line-height-tight);
}

small {
  font-size: var(--step--1);
  line-height: var(--line-height-body);
}

code,
pre {
  font-family: var(--font-mono);
  font-feature-settings:
    "ss01", "ss02", "ss03", "ss04", "ss05", "ss06", "zero", "onum";
}

strong {
  font-weight: var(--font-weight-bold);
}

a {
  text-decoration: underline;
  text-decoration-color: var(--gray-8);
  text-underline-offset: max(0.1em, 2.5px);
  transition:
    text-decoration-color 0.2s ease-in-out,
    font-weight 0.2s ease-in-out;
}

@media (hover: hover) {
  a:hover,
  a:focus {
    text-decoration-color: var(--gray-11);
    font-weight: var(--font-weight-bold);
  }
}

.nowrap {
  white-space: nowrap;
}

.astro-loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
