html,
body {
  height: 100%;
}

html {
  font-family: system-ui, sans-serif;
  font-size: var(--font-size-base);
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text);
  background-color: var(--bg);
}

body[data-theme="dark"] {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
  padding: var(--spacing-lg);
  padding-top: 0;
}

a {
  color: unset;
}
