html {
  font-size: 100%;
  height: 100%;
}

body.dark {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--mauve-12);
  background-color: var(--mauve-3);
  display: flex;
  min-height: 100%;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--step-0);
  font-family: var(--font-sans);
  line-height: var(--line-height-body);
  text-rendering: optimizelegibility;
  font-synthesis: none;
}

::selection {
  background: var(--pink-4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--step-5);
  line-height: var(--line-height-h1);
  letter-spacing: var(--letter-spacing-condensed);
}

h2 {
  font-size: var(--step-4);
  line-height: var(--line-height-h2);
  letter-spacing: var(--letter-spacing-condensed);
}

h3 {
  font-size: var(--step-3);
  line-height: var(--line-height-h3);
}

h4 {
  font-size: var(--step-2);
  line-height: var(--line-height-h4);
}

h5 {
  font-size: var(--step-1);
  line-height: var(--line-height-h5);
}

h6 {
  font-size: var(--step-0);
  line-height: var(--line-height-h6);
}

small {
  font-size: var(--step--1);
  line-height: var(--line-height-small);
  letter-spacing: var(--letter-spacing-loose);
}

code,
pre {
  font-family: var(--font-mono);
}
