html,
body {
  height: 100%;
}

html {
  font-family: system-ui, sans-serif;
  font-size: var(--font-size-base);
  color: var(--text);
  background-color: var(--bg);
}

a {
  color: unset;
}

main {
  position: relative;
  margin: auto;
  padding: 0.8rem;
  min-height: 100%;
}

@media screen and (min-width: 480px) {
  main {
    padding: 1rem;
  }
}

@media screen and (min-width: 620px) {
  main {
    padding: 1.5rem;
  }
}
