html,
body {
  height: 100%;
  font-family: var(--family-sans);
  font-size: var(--font-size-base);
  line-height: 1.4;
  font-variation-settings: var(--font-regular);
  text-rendering: optimizelegibility;

  @media screen and (width >= 620px) {
    font-size: 21px;
  }

  @media screen and (width >= 820px) {
    font-size: 22px;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text);
  background-color: var(--bg);

  &[data-theme="dark"] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &[data-animating] {
    transition:
      color 1s ease-in-out,
      background-color 1s ease-in-out;

    svg * {
      transition: fill 1s ease-in-out;
    }
  }
}

main {
  flex: 1;
  padding: var(--spacing-lg);
  padding-top: 0;
  width: 100%;
}

h1 {
  font-size: clamp(1.1rem, 4vw, 2.6rem);
  font-variation-settings: var(--font-display);
}

a {
  color: unset;
}
