.prose::after {
  content: "⁂";
  display: block;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: var(--text-h3);
}

.prose p,
.prose ol,
.prose ul {
  font-family: var(--font-serif);
  font-variation-settings: "wght" var(--font-weight-prose);
}

.prose a {
  text-indent: 0;
}

.prose p a,
.prose li a {
  position: relative;
  display: inline-block;
  padding-block-start: 0.1em;
  margin-block-start: -0.1em;
  text-shadow: 0 0 2em transparent;
  transition: all 0.2s ease-in-out;
}

.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  scroll-margin-top: 6rem;
  margin-bottom: 1rem;
}

.prose h1 a,
.prose h2 a,
.prose h3 a,
.prose h4 a,
.prose h5 a,
.prose h6 a {
  color: var(--mauve-11);
  display: inline-flex;
  align-items: center;
  margin-left: 0.15em;
  padding: 0.15em;
  border-radius: var(--radius-full);
}

.prose a:hover,
.prose a:focus {
  color: var(--pink-11);
}

.prose h1 a:hover,
.prose h2 a:hover,
.prose h3 a:hover,
.prose h4 a:hover,
.prose h5 a:hover,
.prose h6 a:hover {
  background-color: var(--pink-3);
}

.prose h1 a svg,
.prose h2 a svg,
.prose h3 a svg,
.prose h4 a svg,
.prose h5 a svg,
.prose h6 a svg {
  width: var(--text-body);
  height: var(--text-body);
}

.prose p a::after,
.prose li a::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--mauve-7);
  bottom: 0.3em;
  left: 0;
  right: 0;
  z-index: -1;
  transition: all 0.1s ease-in-out;
}

.prose p a:hover,
.prose p a:focus,
.prose li a:hover,
.prose li a:focus {
  text-shadow: 0 0 2em var(--pink-12);
}

.prose p a:hover::after,
.prose p a:focus::after,
.prose li a:hover::after,
.prose li a:focus::after {
  background-color: var(--pink-7);
  bottom: 0.2em;
}

.prose h2 {
  margin-top: 4rem;
}

.prose h2:first-child {
  margin-top: 0;
}

.prose p + p {
  text-indent: 2rem;
}

.prose * + ul,
.prose * + ol {
  margin-top: 1em;
  margin-bottom: 1em;
}

.prose ul,
.prose ol {
  list-style-type: none;
  padding-left: 2rem;
}

.prose ul ul,
.prose ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

.prose li {
  position: relative;
}

.prose li::before {
  position: absolute;
  width: 2rem;
  left: -2rem;
  color: var(--mauve-11);
}

.prose ul li::before {
  content: "→";
  font-size: 1.3em;
  line-height: 1.3;
}

.prose ol li::before {
  font-family: var(--font-sans);
  content: counter(list-item, decimal-leading-zero);
  font-variant-numeric: tabular-nums;
}

.prose code {
  background-color: var(--mauve-3);
  border-radius: var(--radius-xs);
  padding: 0.1rem 0.2rem;
  font-size: 0.8em;
}

.prose abbr {
  border-bottom: none;
  text-decoration: none;
  position: relative;
  cursor: help;
}

.prose abbr::after {
  content: "";
  height: 2px;
  border-bottom: 2px dotted var(--mauve-7);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
