.prose {
  --gutter: var(--space-xl);
  --content-max: 860px;
  --content: min(var(--content-max), 100% - var(--gutter) * 2);
  --popout: minmax(0, var(--gutter));
  --feature: minmax(0, 12rem);
  --full: minmax(var(--gutter), 1fr);

  /* Override default Expressive Code inline padding */
  --ec-codePadInl: var(--gutter);
  --ec-codePadBlk: 1.25rem;

  text-wrap: pretty;
}

.prose,
.prose > figure {
  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}

.prose > *,
.prose > figure > * {
  grid-column: content;
}

.prose a {
  text-indent: 0;
}

.prose p a,
.prose li a {
  position: relative;
  text-decoration: underline;
  text-decoration-color: var(--gray-8);
  text-underline-offset: 0.1em;
}

.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  scroll-margin-top: var(--space-3xl);
}

.prose h2 a,
.prose h3 a,
.prose h4 a,
.prose h5 a,
.prose h6 a {
  text-decoration-color: transparent;
  text-decoration-skip-ink: none;
}

@media (hover: hover) and (pointer: fine) {
  .prose h2 a:hover,
  .prose h3 a:hover,
  .prose h4 a:hover,
  .prose h5 a:hover,
  .prose h6 a:hover {
    text-decoration-color: var(--gray-7);
  }
}

@media (hover: hover) and (pointer: fine) {
  .prose p a:hover,
  .prose p a:focus,
  .prose li a:hover,
  .prose li a:focus {
    text-decoration-color: var(--gray-11);
  }
}

.prose :not(hr) + h2:not(:first-child) {
  margin-top: var(--space-3xl);
}

.prose h2 + p,
.prose h3 + p,
.prose h4 + p {
  margin-top: var(--space-m);
}

.prose h3 {
  margin-top: var(--space-xl);
}

.prose p + p {
  text-indent: 1.3em;
}

.prose * + ul,
.prose * + ol,
.prose * + blockquote {
  margin-top: var(--space-l);
}

.prose ul + p,
.prose ol + p,
.prose blockquote + p {
  margin-top: var(--space-l);
}

.prose ul,
.prose ol {
  list-style-type: none;
  padding-left: 1.3em;
  margin-bottom: 0;
}

.prose ul ul,
.prose ol ol {
  margin-top: 0;
}

.prose li {
  position: relative;
}

.prose li::before {
  position: absolute;
  width: 1.3em;
  left: -1.3em;
}

.prose ul li::before {
  font-family: var(--font-sans);
  content: "◆";
  transform: scale(0.5);
  transform-origin: left;
}

.prose ol li::before {
  font-family: var(--font-sans);
  content: counter(list-item);
  font-variant-numeric: tabular-nums;
}

.prose .expressive-code {
  margin-block: var(--space-l);
  grid-column: popout;

  @media (width < 860px) {
    grid-column: full;
  }
}

.prose .expressive-code .frame {
  box-shadow: none;
}

.prose :not(pre) code {
  background-color: var(--gray-3);
  border-radius: var(--radius-xs);
  padding: 0.1em 0.2em;
  font-size: 0.95em;
  letter-spacing: var(--letter-spacing-condensed);
}

.prose abbr {
  border-bottom: none;
  text-decoration: dotted underline;
  text-decoration-color: var(--gray-7);
  text-underline-offset: 0.1em;
  position: relative;
  cursor: help;
}

.prose blockquote {
  border-left: 2px solid var(--gray-7);
  padding-left: var(--space-l);
  hanging-punctuation: first;
  margin-bottom: 0;
}

.prose blockquote cite {
  display: block;
  font-style: normal;
}

.prose blockquote cite::before {
  content: "—";
  color: var(--gray-11);
  margin-inline-end: var(--space-xs);
}

.prose blockquote.pull {
  border: none;
  font-size: var(--step-1);
  padding-block: var(--space-m);
}

.prose sup,
.prose sub {
  font-family: var(--font-caption);
  vertical-align: baseline;
  position: relative;
  top: -0.3em;
}

.prose sub {
  top: 0.3em;
}

.prose > figure {
  margin-block-start: var(--space-2xl);
  grid-column: full;
}

.prose > figure + *:not(h2) {
  margin-block-start: var(--space-2xl);
}

.prose .two-up {
  display: flex;
  justify-content: center;
  gap: var(--space-2xs);
}

.prose .two-up > * {
  flex: 1;
}

.prose figure img {
  background: var(--gray-4);
}

.prose figure img,
.prose figure video,
.prose figure .two-up {
  max-inline-size: 100%;
  margin-inline: auto;
}

.prose figure.popout > *:not(figcaption) {
  grid-column: popout;

  @media (width < 860px) {
    grid-column: full;
  }
}

.prose figure.feature > *:not(figcaption) {
  grid-column: feature;

  @media (width < 860px) {
    grid-column: full;
  }
}

.prose figure.full > *:not(figcaption) {
  grid-column: full;
}

.prose figure.inset > *:not(figcaption) {
  background-color: var(--gray-3);
  padding: var(--gutter);

  @media (width < 860px) {
    grid-column: full;
  }
}

.prose figcaption {
  font-size: var(--step--1);
  margin-block-start: var(--space-s);
  grid-column: content;
  display: flex;
}

.prose .two-col {
  columns: 2;
  column-gap: var(--space-xl);
  margin-block: var(--space-xl);
}

@media (width < 400px) {
  .prose .two-col {
    columns: 1;
  }
}

.prose .two-col figure {
  break-inside: avoid;
  margin-block-end: var(--space-xl);
}

.prose hr {
  border: 0;
  color: var(--gray-12);
  margin-block: var(--space-2xl);
  text-align: center;

  &::before {
    content: "⁕ ⁕ ⁕";
  }
}

.prose > aside {
  background-color: var(--gray-3);
  padding: var(--gutter);
  grid-column: popout;
  margin-block: var(--space-xl);

  &:first-child,
  + aside {
    margin-top: 0;
  }

  @media (width < 620px) {
    width: 100%;
    grid-column: full;
  }
}

.prose > hr + aside {
  margin-top: 0;
}

.bluesky-embed {
  color-scheme: light;
  overflow: hidden;
  margin-inline: auto;
  /* biome-ignore lint/complexity/noImportantStyles: Necessary to override existing styles */
  margin-block: var(--space-xl) !important;
}
