:global(:root) {
  --font-size-base: 18px;

  --color-red-dark: #5e1313;
  --color-red: #ff2c2c;
  --color-red-alt: #ac0e0e;
  --color-red-medium: #f7d2db;

  --color-purple-dark: #470bd4;
  --color-purple: #7c60ff;

  --color-neutral-0: #ffffff;
  --color-neutral-1: #f5f5f5;
  --color-neutral-2: #eeeeee;
  --color-neutral-3: #dddddd;
  --color-neutral-4: #bbb;
  --color-neutral-5: #999;
  --color-neutral-6: #888;
  --color-neutral-7: #666;
  --color-neutral-8: #444;
  --color-neutral-9: #222;
  --color-neutral-10: #000;

  --color-text: var(--color-neutral-9);
  --color-text-light: var(--color-neutral-7);
  --color-bg: var(--color-neutral-0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--color-neutral-0);
    --color-text-light: var(--color-neutral-5);
    --color-bg: var(--color-neutral-10);
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
