:global(:root) {
  --font-size-base: 18px;

  --red-dark: #5e1313;
  --red: #ff2c2c;
  --red-alt: #ac0e0e;
  --red-medium: #f7d2db;

  --purple-dark: #470bd4;
  --purple: #7c60ff;

  --neutral-0: #ffffff;
  --neutral-1: #f5f5f5;
  --neutral-2: #eeeeee;
  --neutral-3: #dddddd;
  --neutral-4: #bbb;
  --neutral-5: #999;
  --neutral-6: #888;
  --neutral-7: #666;
  --neutral-8: #444;
  --neutral-9: #222;
  --neutral-10: #000;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;
}

body {
  --text: rgba(1, 0, 50, 0.9);
  --text-light: var(--neutral-7);

  --bg: #ffdcdc;
  --bg-hover: #f1caca;

  --lcd-bg: #8db48e;
  --lcd-dark: #466b46;
  --lcd-light: #a2d4a4;
  --lcd-hover: #375537;

  --synth-base: var(--neutral-8);
  --synth-endcap: var(--neutral-9);
  --synth-lcd-outline: var(--neutral-9);
  --synth-keys-outline: var(--neutral-9);
  --synth-whitekey: var(--neutral-0);
  --synth-whitekey-pressed: var(--purple);
  --synth-blackkey: var(--neutral-9);
  --synth-blackkey-pressed: var(--purple-dark);
}

body[data-theme="dark"] {
  --text: #ffdcdc;
  --text-light: var(--neutral-5);

  --bg: #1d0206;
  --bg-hover: #2b060b;

  --lcd-bg: var(--neutral-3);
  --lcd-dark: var(--neutral-6);
  --lcd-light: var(--neutral-0);
  --lcd-hover: var(--neutral-7);

  --synth-base: var(--red);
  --synth-endcap: var(--red-alt);
  --synth-lcd-outline: var(--red-dark);
  --synth-keys-outline: var(--red-dark);

  --synth-whitekey-pressed: var(--red);
  --synth-blackkey-pressed: var(--red-alt);
}
