@import "@radix-ui/colors/jade.css";
@import "@radix-ui/colors/jade-alpha.css";
@import "@radix-ui/colors/jade-dark.css";
@import "@radix-ui/colors/jade-dark-alpha.css";
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/gray-dark-alpha.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-alpha.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/blue-dark-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-alpha.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/green-dark-alpha.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-alpha.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/amber-dark-alpha.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/purple-alpha.css";
@import "@radix-ui/colors/purple-dark.css";
@import "@radix-ui/colors/purple-dark-alpha.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-alpha.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/red-dark-alpha.css";
@import "@radix-ui/colors/white-alpha.css";
@import "@radix-ui/colors/black-alpha.css";

:root {
  /* Font families */
  --font-serif: minion-3, "New York", georgia, cambria, "Times New Roman", times,
    serif;
  --font-caption: minion-3-caption, "New York", georgia, cambria,
    "Times New Roman", times, serif;
  --font-sans: franklin-gothic-urw, system-ui, -apple-system, "Segoe UI", roboto,
    "Helvetica Neue", sans-serif;
  --font-mono: ui-monospace, menlo, monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.125,720,21,1.25,6,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--1: clamp(0.8888rem, 0.7598rem + 0.645vw, 1.05rem);
  --step-0: clamp(1rem, 0.75rem + 1.25vw, 1.3125rem);
  --step-1: clamp(1.125rem, 0.7125rem + 2.0625vw, 1.6406rem);
  --step-2: clamp(1.2656rem, 0.6376rem + 3.14vw, 2.0506rem);
  --step-3: clamp(1.4238rem, 0.5118rem + 4.56vw, 2.5638rem);
  --step-4: clamp(1.6019rem, 0.3199rem + 6.41vw, 3.2044rem);
  --step-5: clamp(1.8019rem, 0.0389rem + 8.815vw, 4.0056rem);
  --step-6: clamp(2.0275rem, -0.356rem + 11.9175vw, 5.0069rem);

  /* @link https://utopia.fyi/space/calculator?c=320,8,1.2,1240,12,1.333,6,2,&s=0.75|0.5,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-2xs: clamp(0.25rem, 0.2065rem + 0.2174vw, 0.375rem);
  --space-xs: clamp(0.375rem, 0.3098rem + 0.3261vw, 0.5625rem);
  --space-s: clamp(0.5rem, 0.413rem + 0.4348vw, 0.75rem);
  --space-m: clamp(0.75rem, 0.6196rem + 0.6522vw, 1.125rem);
  --space-l: clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);
  --space-xl: clamp(1.5rem, 1.2391rem + 1.3043vw, 2.25rem);
  --space-2xl: clamp(2rem, 1.6522rem + 1.7391vw, 3rem);
  --space-3xl: clamp(3rem, 2.4783rem + 2.6087vw, 4.5rem);

  /* Line heights */
  --line-height-h1: 1;
  --line-height-h2: 1.1;
  --line-height-h3: 1.2;
  --line-height-h4: 1.2;
  --line-height-h5: 1.2;
  --line-height-h6: 1.3;
  --line-height-body: 1.5;
  --line-height-small: 1.4;

  /* Letter spacing */
  --letter-spacing-condensed: -0.01em;
  --letter-spacing-normal: 0;
  --letter-spacing-loose: 0.01em;

  /* Radii */
  --radius-xs: var(--space-2xs);
  --radius-s: var(--space-xs);
  --radius-m: var(--space-m);
  --radius-l: var(--space-l);
  --radius-full: 9999px;

  /* Font weights */
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}
