:root {
  /* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,22,1.25,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.7813rem, 0.7409rem + 0.1795vw, 0.88rem);
  --step--1: clamp(0.9375rem, 0.871rem + 0.2955vw, 1.1rem);
  --step-0: clamp(1.125rem, 1.0227rem + 0.4545vw, 1.375rem);
  --step-1: clamp(1.35rem, 1.1991rem + 0.6705vw, 1.7188rem);
  --step-2: clamp(1.62rem, 1.4038rem + 0.9608vw, 2.1484rem);
  --step-3: clamp(1.944rem, 1.6406rem + 1.3483vw, 2.6855rem);
  --step-4: clamp(2.3328rem, 1.9138rem + 1.8621vw, 3.3569rem);
  --step-5: clamp(2.7994rem, 2.2279rem + 2.5396vw, 4.1962rem);
  --step-6: clamp(3.3592rem, 2.5877rem + 3.429vw, 5.2452rem);
  --step-7: clamp(4.0311rem, 2.9979rem + 4.5917vw, 6.5565rem);

  /* @link https://utopia.fyi/space/calculator?c=320,8,1.2,1240,12,1.333,6,2,&s=0.75|0.5,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-2xs: clamp(0.25rem, 0.2065rem + 0.2174vw, 0.375rem);
  --space-xs: clamp(0.375rem, 0.3098rem + 0.3261vw, 0.5625rem);
  --space-s: clamp(0.5rem, 0.413rem + 0.4348vw, 0.75rem);
  --space-m: clamp(0.75rem, 0.6196rem + 0.6522vw, 1.125rem);
  --space-l: clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);
  --space-xl: clamp(1.5rem, 1.2391rem + 1.3043vw, 2.25rem);
  --space-2xl: clamp(2rem, 1.6522rem + 1.7391vw, 3rem);
  --space-3xl: clamp(3rem, 2.4783rem + 2.6087vw, 4.5rem);

  /* Line heights */
  --line-height-single: 1;
  --line-height-display: 1.1;
  --line-height-tight: 1.2;
  --line-height-body: 1.48;

  /* Letter spacing */
  --letter-spacing-condensed: -0.0175em;
  --letter-spacing-normal: 0;
  --letter-spacing-loose: 0.01em;

  /* Radii */
  --radius-xs: var(--space-2xs);
  --radius-s: var(--space-xs);
  --radius-m: var(--space-s);
  --radius-l: var(--space-m);
  --radius-full: 9999px;

  /* Font weights */
  --font-weight-normal: 380;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-extrabold: 700;

  /* System fonts */
  --font-system:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* Shadows */
  --shadow-color: 0deg 0% 0%;
  --shadow-s:
    0px 0.6px 0.6px hsl(var(--shadow-color) / 17%),
    0px 0.9px 0.9px -1.7px hsl(var(--shadow-color) / 14%),
    0px 2.5px 2.4px -3.5px hsl(var(--shadow-color) / 11%);
  --shadow-m:
    0px 0.6px 0.6px hsl(var(--shadow-color) / 12%),
    0px 1.6px 1.6px -1.2px hsl(var(--shadow-color) / 10%),
    0px 4.7px 4.6px -2.3px hsl(var(--shadow-color) / 7%),
    0px 12.5px 12.2px -3.5px hsl(var(--shadow-color) / 4%);
  --shadow-l:
    0px 0.6px 0.6px hsl(var(--shadow-color) / 17%),
    0px 2.6px 2.5px -0.5px hsl(var(--shadow-color) / 16%),
    0px 5.3px 5.2px -1px hsl(var(--shadow-color) / 15%),
    0px 9.7px 9.5px -1.5px hsl(var(--shadow-color) / 13%),
    0px 17px 16.6px -2px hsl(var(--shadow-color) / 12%),
    0px 28.4px 27.7px -2.5px hsl(var(--shadow-color) / 11%),
    -0.1px 45.2px 44.1px -3px hsl(var(--shadow-color) / 10%),
    -0.1px 68.4px 66.7px -3.5px hsl(var(--shadow-color) / 8%);
}

[data-theme="dark"] {
  --font-weight-normal: 360;
}
