:root {
  --red-dark: #5e1313;
  --red: #ff2c2c;
  --red-alt: #ac0e0e;
  --red-medium: #f7d2db;
  --purple-dark: #470bd4;
  --purple: #7c60ff;
  --neutral-0: #fff;
  --neutral-1: #f5f5f5;
  --neutral-2: #eee;
  --neutral-3: #ddd;
  --neutral-4: #bbb;
  --neutral-5: #999;
  --neutral-6: #888;
  --neutral-7: #666;
  --neutral-8: #444;
  --neutral-9: #222;
  --neutral-10: #000;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --family-sans: roc-grotesk-variable, sans-serif;
  --family-serif: loretta-variable, serif;
  --font-regular: "wdth" 100, "wght" 450;
  --font-display: "wdth" 125, "wght" 600;
  --font-size-base: 18px;
}

body {
  --text: rgb(1 0 50 / 90%);
  --text-light: var(--neutral-7);
  --bg: #ffdcdc;
  --bg-hover: rgb(229 176 176 / 50%);
  --border: rgb(229 176 176 / 50%);
  --lcd-bg: #8db48e;
  --lcd-dark: #466b46;
  --lcd-light: #a2d4a4;
  --lcd-hover: #375537;
  --synth-base: var(--neutral-8);
  --synth-endcap: var(--neutral-9);
  --synth-lcd-outline: var(--neutral-9);
  --synth-keys-outline: var(--neutral-9);
  --synth-whitekey: var(--neutral-0);
  --synth-whitekey-pressed: var(--purple);
  --synth-blackkey: var(--neutral-9);
  --synth-blackkey-pressed: var(--purple-dark);

  &[data-theme="dark"] {
    --text: #ffdcdc;
    --text-light: var(--neutral-5);
    --bg: #1d0206;
    --bg-hover: rgb(59 10 16 / 70%);
    --border: rgb(59 10 16 / 70%);
    --lcd-bg: var(--neutral-3);
    --lcd-dark: var(--neutral-6);
    --lcd-light: var(--neutral-0);
    --lcd-hover: var(--neutral-7);
    --synth-base: var(--red);
    --synth-endcap: var(--red-alt);
    --synth-lcd-outline: var(--red-dark);
    --synth-keys-outline: var(--red-dark);
    --synth-whitekey-pressed: var(--red);
    --synth-blackkey-pressed: var(--red-alt);
  }
}
