---
import Box from "../Box.astro";
import Grid from "../Grid.astro";
import { SubscribeForm } from "./SubscribeForm";
---

<Box>
  <Grid>
    <div class="text">
      <header class="header">Subscribe</header>
      <p>
        Thoughts on design, code, and other things, sent a few times a year.
      </p>
    </div>
    <SubscribeForm client:visible />
  </Grid>
</Box>

<style>
  .subscribe {
    background-color: var(--mauve-3);
    border-radius: var(--radius-l);
    padding: 1.5em;
  }

  .header {
    font-size: var(--step-1);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-h5);
  }

  .text {
    align-self: center;
  }

  p {
    margin-block-start: 0.25em;
    line-height: var(--line-height-h6);
    text-wrap: balance;
  }
</style>
