.subscribe {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  position: relative;
  max-width: 600px;
  gap: var(--space-m);
}

.subscribe-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
}

.postcard-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-block-start: calc(-1 * var(--space-2xs));
  user-select: none;
  cursor: default;
}

.subscribe-header h2 {
  font-size: var(--step-1);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  margin-block-end: var(--space-2xs);
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.inputWrapper[aria-disabled="true"] {
  pointer-events: none;
}

.loading svg {
  animation: spin 1s linear infinite;
}

.input {
  color: var(--gray-12);
  background: var(--gray-1);
  padding: 0 var(--space-l);
  padding-inline-end: 4rem;
  z-index: 1;
}

.input::placeholder {
  color: var(--gray-12);
  opacity: 0.6;
}

.iconButton {
  background: var(--gray-12);
  color: var(--gray-3);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  width: 48px;
  height: 32px;
  padding: 0;
  border-radius: var(--radius-full);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconButton:hover {
  background: var(--gray-10);
}

.iconButton:disabled {
  background: var(--gray-9);
  opacity: 0.8;
  pointer-events: none;
}

.disclaimer {
  display: block;
  color: var(--gray-11);
  margin-block-start: var(--space-s);
}

.sniperLink {
  background: var(--gray-12);
  color: var(--gray-1);
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  border-radius: var(--radius-m);
  padding: 0 0.5rem;
  text-decoration: none;
}

.input,
.sniperLink,
.checkInbox {
  height: 3rem;
  width: 100%;
  border: 2.5px solid var(--gray-12);
  border-radius: var(--radius-full);
  line-height: 1;
  font-size: var(--step-0);
}

.input:hover {
  outline: 3px solid var(--gray-a4);
}

.input:focus {
  outline: 3px solid var(--amber-a5test);
  outline-offset: 2px;
}

.input:disabled {
  pointer-events: none;
}

.checkInbox {
  background: var(--gray-3);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sniperLink svg {
  flex-shrink: 0;
  position: relative;
  margin-inline: auto 0.25rem;
}

.sniperLogo {
  background-color: white;
  width: 48px;
  height: 32px;
  padding: 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 0.75rem;
  border-radius: var(--radius-full);
}

.sniperLogo img {
  width: 24px;
}
