---
import Box from "../Box/Box.astro";
import Grid from "../Grid/Grid.astro";
import Stack from "../Stack/Stack.astro";
import { SubscribeForm } from "./SubscribeForm";
---

<Box>
  <Grid>
    <Stack spacing="tight">
      <h4>Notes From Eva</h4>
      <small>
        Occasionally I share thoughts and observations about tech, design, and
        things that live outside a screen. Subscribe to follow along. No ads or
        other bullshit.
      </small>
    </Stack>
    <SubscribeForm client:visible />
  </Grid>
</Box>
