---
import Box from "../../components/Box.astro";
---

<Box fullHeight>
  <div class="notes">Writing coming soon</div>
</Box>

<style>
  .notes {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
</style>
