---
import Box from "../../components/Box.astro";
import { SubscribeForm } from "../../components/Subscribe/SubscribeForm";
---

<Box fullHeight>
  <div class="subscribe">
    <div>
      <header class="header">Subscribe</header>
      <p>
        Thoughts on design, code, and other things, sent a few times a year. No
        ads or tracking. Unsubscribe anytime.
      </p>
    </div>
    <SubscribeForm client:visible />
  </div>
</Box>

<style>
  .subscribe {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-l);
  }

  .header {
    font-size: var(--step-1);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-h5);
  }

  p {
    margin-block-start: 0.25em;
    line-height: var(--line-height-h6);
    text-wrap: balance;
  }
</style>
