---
import Synth from "../../components/Toys/Synth/Synth.astro";
---

<div class="synthWrapper">
  <Synth />
</div>

<style>
  .synthWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--mauve-3);
    padding: var(--space-l);
    border-radius: var(--radius-l);
    overflow: hidden;
  }

  @media (width < 540px) {
    .synthWrapper {
      background: transparent;
      padding: 0;
    }
  }
</style>
