.stickers {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  user-select: none;
}

.sticker {
  position: absolute;
  width: 200px;
  pointer-events: none;
}

.sticker:active {
  cursor: grabbing;
  pointer-events: auto;
}

.sticker svg {
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 20%));
  pointer-events: fill;
}

.sticker path {
  /* Reinitialize click and drag events when hovered over a path */
  pointer-events: auto;
  cursor: grab;
}

.sticker path:hover,
.sticker:active .sticker path {
  stroke: var(--purple);
  stroke-width: 6px;
}

.sticker svg,
.sticker picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  user-select: none;
}

.shoo {
  all: unset;
  background: var(--text);
  color: var(--bg);
  padding: 4px 8px;
  border-radius: 8px;
  position: fixed;
  right: 24px;
  bottom: 24px;
  font-family: var(--font-sans);
  font-weight: 700;
  cursor: pointer;
  pointer-events: auto;
  z-index: 500;
}
