.shoo {
  all: unset;
  position: fixed;
  background: var(--mauve-12);
  color: var(--mauve-1);
  padding: 0.5rem 1rem;
  border-radius: var(--radius-sm);
  right: 2rem;
  bottom: 2rem;
  font-variation-settings: wght 600;
  cursor: pointer;
  pointer-events: auto;
  z-index: 500;
}

.sticker {
  position: absolute;
  width: 200px;
  pointer-events: none;
}

.sticker:active {
  cursor: grabbing;
  pointer-events: auto;
}

.stickerPath {
  pointer-events: auto;
  cursor: grab;
}

.stickerPath:hover,
.sticker:active .stickerPath {
  stroke: var(--plum-9);
  stroke-width: 6px;
}

.stickerPicture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  user-select: none;
}

.stickerSvg {
  pointer-events: fill;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  user-select: none;
}

.stickers {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  user-select: none;
}
