---
import { Layout } from "@layouts";
---

<Layout title="404: Not Found" description="This page could not be found.">
  <div class="glitch-container">
    <h1 class="text" data-text="404">404</h1>
    <div class="scanlines"></div>
  </div>
</Layout>

<style lang="scss">
  .glitch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    inset: 0;
    z-index: -1;

    --rgb-line-height: 1px;
    --rgb-area-height: 6px;
    --scanline-opacity: 0.1;
  }

  .scanlines {
    position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 2;
    animation: pulse 1s linear infinite alternate;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
    }

    &::before {
      inset: 0;
      mix-blend-mode: difference;
      background: linear-gradient(
        to bottom,
        rgb(255 255 255 / 10%) 50%,
        rgb(0 0 0 / var(--scanline-opacity)) 51%
      );
      background-size: 100% 4px;
      animation: scanlines 1s steps(60) infinite;
    }

    &::after {
      background: rgb(255 255 255 / 8%);
      height: 2px;
      animation: scanline 5s linear infinite;
      mix-blend-mode: difference;
    }
  }

  .text {
    position: relative;
    font-size: clamp(100px, 45vw, 600px);
    z-index: -1;
    line-height: 1;
    letter-spacing: 0.02em;
    margin-top: -0.1em;
    pointer-events: none;
    user-select: none;
    text-shadow:
      -1px -1px 1px rgb(0 0 255 / 80%),
      1px 1px 1px rgb(255 0 0 / 80%);
    filter: blur(1px);

    &::after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: -0.005em;
      text-shadow:
        -1px -1px 3px rgb(0 0 255 / 90%),
        1px 1px 3px rgb(255 0 0 / 90%),
        6px 0 2px var(--bg);
      animation: text-offset 5s linear infinite;
    }
  }

  @keyframes text-offset {
    0% {
      clip-path: polygon(0 110%, 100% 110%, 100% 120%, 0 120%);
    }

    100% {
      clip-path: polygon(0 -20%, 100% -20%, 100% -10%, 0 -10%);
    }
  }

  @keyframes scanline {
    0% {
      transform: translate3d(0, 100vh, 0);
    }

    50% {
      transform: translate3d(0, calc(var(--rgb-area-height) * -1), 0);
    }
  }

  @keyframes pulse {
    0% {
      opacity: 0.5;
    }

    50% {
      opacity: 1;
    }
  }
</style>
