---
import { Layout } from "@layouts";
---

<Layout title="404: Not Found" description="This page could not be found.">
  <div class="glitch-container">
    <h1 class="text" data-text="404">404</h1>
    <div class="scanlines"></div>
  </div>
</Layout>

<style lang="scss">
  .glitch-container {
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    inset: 0;
    z-index: -1;
    animation: flicker 10ms infinite;
  }

  .scanlines {
    position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;

    // Courtesy https://codepen.io/zerospree/pen/mdevOB
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAGCAYAAAD37n+BAAAALElEQVQYV2NkYGD4/x9IMAIxAxoDmzhIHfU0gCxFB9S1AacfsFmNJQzAoQIAH84j/OCkeYUAAAAASUVORK5CYII=");
    mix-blend-mode: color-dodge;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      background: rgb(255 255 255 / 5%);
      height: 6px;
      animation: scanline 5s linear infinite;
    }
  }

  .text {
    color: var(--text);
    position: relative;
    font-size: clamp(100px, 45vw, 600px);
    z-index: -1;
    line-height: 1;
    letter-spacing: 0.02em;
    margin-top: -0.1em;
    pointer-events: none;
    user-select: none;
    text-shadow:
      -1px -1px 1px rgb(0 0 255 / 80%),
      1px 1px 1px rgb(255 0 0 / 80%);
    filter: blur(1px);

    &::after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: -0.01em;
      text-shadow:
        -1px -1px 3px rgb(0 0 255 / 90%),
        1px 1px 3px rgb(255 0 0 / 90%),
        6px 0 2px var(--bg);
      animation: text-offset 8s linear infinite;
    }
  }

  @keyframes text-offset {
    0% {
      clip-path: polygon(0 110%, 100% 110%, 100% 160%, 0 160%);
    }

    100% {
      clip-path: polygon(0 -90%, 100% -90%, 100% -10%, 0 -10%);
    }
  }

  @keyframes scanline {
    0% {
      transform: translate3d(0, 100vh, 0);
    }

    50% {
      transform: translate3d(0, -6px, 0);
    }
  }

  @keyframes flicker {
    0% {
      opacity: 0.94;
    }

    100% {
      opacity: 1;
    }
  }
</style>
