---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404: Not Found" description="This page could not be found.">
  <div class="glitch-container">
    <h1 class="text" data-text="404">404</h1>
    <div class="scanlines"></div>
  </div>
</Layout>

<style lang="scss">
  .glitch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    --rgb-line-height: 1px;
    --rgb-area-height: 6px;
    --scanline-opacity: 0.15;
  }

  .scanlines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 2;
    animation: pulse 1s linear infinite alternate;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
    }

    &::before {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      mix-blend-mode: difference;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, var(--scanline-opacity)) 51%
      );
      background-size: 100% 4px;
      animation: scanlines 1s steps(60) infinite;
    }

    &::after {
      background: rgba(255, 255, 255, 0.08);
      height: 2px;
      animation: scanline 5s linear infinite;
      mix-blend-mode: difference;
    }
  }

  .text {
    position: relative;
    font-size: clamp(100px, 45vw, 600px);
    z-index: -1;
    line-height: 1;
    letter-spacing: 0.02em;
    margin-top: -0.1em;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    text-shadow: -1px -1px 1px rgba(0, 0, 255, 0.8),
      1px 1px 1px rgba(255, 0, 0, 0.8);
    filter: blur(1px);

    &::after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: -0.005em;
      text-shadow: -1px -1px 3px rgba(0, 0, 255, 0.9),
        1px 1px 3px rgba(255, 0, 0, 0.9), 6px 0 2px var(--bg);
      animation: textOffset 5s linear infinite;
    }
  }

  @keyframes textOffset {
    0% {
      clip-path: polygon(0 110%, 100% 110%, 100% 120%, 0 120%);
    }
    100% {
      clip-path: polygon(0 -20%, 100% -20%, 100% -10%, 0 -10%);
    }
  }

  @keyframes scanline {
    0% {
      transform: translate3d(0, 100vh, 0);
    }
    50% {
      transform: translate3d(0, calc(var(--rgb-area-height) * -1), 0);
    }
  }

  @keyframes pulse {
    0% {
      opacity: 0.5;
    }

    50% {
      opacity: 1;
    }
  }
</style>
