---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404: Not Found" description="This page could not be found.">
  <div class="glitch-container">
    <h1 class="text" data-text="404">404</h1>
    <div class="scanlines"></div>
    <div class="noise"></div>
  </div>
</Layout>

<style lang="scss">
  .glitch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(
        to right,
        rgba(255, 0, 0, 0.12),
        rgba(0, 255, 0, 0.08),
        rgba(0, 0, 255, 0.1)
      );
      z-index: 2;
      background-size: 6px 100%;
      pointer-events: none;
      mix-blend-mode: hue;
    }
  }

  .scanlines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    mix-blend-mode: difference;

    &::before,
    &::after {
      display: block;
      pointer-events: none;
      content: "";
      position: absolute;
    }

    &:before {
      width: 100%;
      height: 2px;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.3) 51%
      );
      opacity: 0.6;
      animation: scanline 6s linear infinite;
    }

    &::after {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.3) 51%
      );
      background-size: 100% 4px;
      animation: scanlines 1s steps(60) infinite;
    }
  }

  .noise {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.102' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='15' specularConstant='0.75' specularExponent='20' lighting-color='%23ffffff' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='100'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='specularLighting' result='colormatrix'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='%2300000000'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%23ffffff' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");
    background-size: 700px;
    background-repeat: repeat;
    pointer-events: none;
    animation: noise 0.5s infinite step-end;
    mix-blend-mode: difference;
    opacity: 0.3;
  }

  .text {
    position: relative;
    font-size: clamp(100px, 45vw, 600px);
    line-height: 1;
    letter-spacing: 0.02em;
    margin-top: -0.1em;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    text-shadow: 1px 0 1px rgba(255, 0, 0, 0.8), -1px 0 1px rgba(0, 0, 255, 0.8);
  }

  @keyframes scanline {
    0% {
      transform: translate3d(0, 200000%, 0);
    }
  }

  @keyframes scanlines {
    0% {
      background-position: 0 50%;
    }
  }

  @keyframes noise {
    @for $i from 0 through 20 {
      #{$i * 5%} {
        background-position: random(700) + px random(700) + px;
      }
    }
  }
</style>
