---
import Layout from "../layouts/Layout.astro";
import { DialogueTree } from "../components/dialogue";

let dialogue = "";

try {
  const res = await fetch("http://localhost:3000/dialogue/dialogue.yarn");
  dialogue = await res.text();
} catch (err) {
  console.error(err);
}
---

<Layout
  title="Eva Decker"
  description="Eva Decker is a Product Designer based in Brooklyn, New York."
>
  <main>
    <DialogueTree client:load dialogue={dialogue} />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
</style>
