---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Eva Decker"
  description="Eva Decker is a Product Designer based in Brooklyn, New York."
>
  <main>
    About Eva
  </main>
</Layout>
