---
import Layout from "../layouts/Layout.astro";
import TextEmphasis from "../components/TextEmphasis.astro";
---

<Layout
  title="Eva Decker"
  description="Eva Decker is a Product Designer based in Brooklyn, New York."
>
  <main>
    <TextEmphasis text="About Eva" type="wave" />
  </main>
</Layout>
