---
import Layout from "../layouts/Layout.astro";
import TypeMotion from "../components/TypeMotion";
---

<Layout
  title="Eva Decker"
  description="Eva Decker is a Product Designer based in Brooklyn, New York."
>
  <main>
    <TypeMotion client:load content={[
      {
        text: 'Hello there! '
      },
      {
        text: 'Second line of text'
      }
    ]}>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 2em;
  }
</style>
