---
import BaseLayout from "../layouts/BaseLayout.astro";
import Phone from "./index/Phone.astro";
import Postcard from "./index/Postcard/Postcard.astro";
import Synth from "./index/Synth/Synth.astro";
---

<BaseLayout
  title="Eva Decker"
  description="Eva is a designer and web developer based in Brooklyn, NY."
  includeFooter
>
  <div class="grid">
    <h1 class="visuallyhidden">Eva designs and builds for the web</h1>
    <div class="phone">
      <Phone />
    </div>
    <div class="intro">
      <p>
        Yet another designer in Brooklyn. Freelancing through the chaos. <strong
          >Open to new projects.</strong
        >
      </p>
    </div>
    <div class="synth">
      <Synth />
    </div>
    <div class="postcard">
      <Postcard />
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  .visuallyhidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .grid {
    display: grid;
    padding: var(--space-xl);
    padding-block-end: 0;
    grid-template:
      "phone intro intro"
      "phone synth synth"
      "postcard postcard projects";
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-3xl);
    width: 1080px;
    max-width: 100%;
    margin-inline: auto;

    @media (width < 900px) {
      width: 660px;
      grid-template:
        "phone intro"
        "synth synth"
        "postcard postcard"
        "projects projects";
      grid-template-columns: 3fr minmax(0, 1fr);
      column-gap: var(--space-2xl);
      align-items: center;
    }
  }

  .phone {
    grid-area: phone;
    display: flex;
    justify-content: center;
  }

  .intro {
    grid-area: intro;
    align-self: start;

    p {
      font-size: var(--step-1);
      max-width: 26ch;
      transform: rotate(-2deg);
      line-height: 1.2;
    }

    @media (width < 900px) {
      padding-block-start: var(--space-xl);

      p {
        writing-mode: vertical-rl;
        max-height: 26ch;
      }
    }
  }

  .synth {
    grid-area: synth;
    display: flex;
    justify-content: center;
  }

  .postcard {
    grid-area: postcard;
  }
</style>
