---
import InlineBrandLink from "../components/InlineBrandLink.astro";
import Phone from "../components/Phone.astro";
import Postcard from "../components/Postcard/Postcard.astro";
import Synth from "../components/Synth/Synth.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Eva Decker"
  description="Eva is a designer and web developer based in Brooklyn, NY."
  includeFooter
>
  <div class="grid">
    <h1 class="visuallyhidden">Eva designs and builds for the web</h1>
    <div class="phone">
      <Phone />
    </div>
    <div class="intro">
      <p>
        <a href="/about" class="inline-link">Eva Decker</a>
        <span class="pronouns">(she/they)</span> is a designer and engineer based
        in Brooklyn, NY. She’s worked at
        <InlineBrandLink brand="dropbox" punctuation="," />
        <InlineBrandLink brand="cityblock" punctuation="," /> and <InlineBrandLink
          brand="swiftype"
          punctuation="."
        /> She likes playing piano and writing CSS.
      </p>
    </div>
    <div class="synth">
      <Synth />
    </div>
    <div class="postcard">
      <Postcard />
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  .visuallyhidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .pronouns {
    color: var(--gray-11);
  }

  .grid {
    display: grid;
    padding: var(--space-xl);
    grid-template:
      "phone intro intro"
      "phone synth synth"
      "postcard postcard postcard";
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-3xl);
    width: 960px;
    max-width: 100%;
    margin-inline: auto;
    overflow: hidden;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xLjE5MjA5ZS0wNyAxTDAgMjRIMUwxIDFIMjRWMEgxSDEuMDcyODhlLTA2TDEuMTkyMDllLTA3IDFaIiBmaWxsPSIjODA4MDgwIiBmaWxsLW9wYWNpdHk9IjAuMTUiLz4KPC9zdmc+Cg==");
    background-position: top left;
    background-position: center;
    box-shadow: inset 0 0 var(--space-3xl) var(--space-3xl) var(--gray-1);

    @media (width < 900px) {
      width: 660px;
      grid-template:
        "phone"
        "intro"
        "synth"
        "postcard";
      align-items: center;
    }

    > * {
      z-index: 1;
    }
  }

  :global(.transitioning) .grid {
    transition: box-shadow 0.2s ease-in-out;
  }

  .phone {
    grid-area: phone;
    display: flex;
    justify-content: center;
  }

  .intro {
    grid-area: intro;
    justify-self: flex-start;

    :global(a) {
      font-weight: var(--font-weight-bold);

      &:hover {
        text-decoration: underline;
        text-decoration-color: var(--gray-8);
        text-underline-offset: 0.1em;
      }
    }

    p {
      font-size: var(--step-1);
      max-width: 36ch;
      line-height: 1.2;
      transform: rotate(-2deg);
      text-wrap: balance;
    }

    @media (width < 900px) {
      place-self: center;
    }
  }

  .synth {
    grid-area: synth;
    display: flex;
    justify-content: center;
  }

  .postcard {
    grid-area: postcard;
  }
</style>
