---
import Synth from "../components/Toys/Synth/Synth.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Phone from "./index/Phone.astro";
import SubscribeCard from "./index/SubscribeCard.astro";
---

<BaseLayout
  title="Eva Decker"
  description="Eva is a designer and web developer based in Brooklyn, NY."
  padBottom
  includeFooter
>
  <div class="grid">
    <h1 class="visuallyhidden">Eva designs and builds for the web</h1>
    <div class="phone">
      <Phone />
    </div>
    <div class="about">
      <p class="intro">Yet another designer living in Brooklyn.</p>
      <Synth />
    </div>
    <div class="subscribe">
      <SubscribeCard />
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  .visuallyhidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .grid {
    display: grid;
    padding: var(--space-xl);
    padding-block-end: 0;
    grid-template:
      "phone about"
      "projects subscribe";
    grid-template-columns: repeat(3);
    gap: var(--space-3xl);
    max-width: 1080px;
    margin-inline: auto;
  }

  .phone {
    grid-area: phone;
  }

  .about {
    grid-area: about;
    display: flex;
    flex-direction: column;
    gap: var(--space-2xl);

    .intro {
      background-color: var(--jade-3);
      letter-spacing: var(--letter-spacing-condensed);
      max-width: 40ch;
      transform: rotate(-2deg);
      align-self: flex-end;
      text-align: center;
      line-height: 1.2;
      padding: var(--space-s) var(--space-m);
      border: 3px solid var(--jade-12);
      border-radius: var(--radius-full);
      box-shadow: -1px 2px 0 var(--jade-12);
    }
  }

  .subscribe {
    grid-area: subscribe;
  }
</style>
