---
import Banner from "../components/Banner.astro";
import Center from "../components/Center.astro";
import { Icon } from "../components/Icon/Icon";
import Synth from "../components/Toys/Synth/Synth.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import SubscribeCard from "./index/SubscribeCard.astro";
---

<BaseLayout
  title="Eva Decker"
  description="Eva is a designer and web developer based in Brooklyn, NY."
  padBottom
  includeFooter
>
  <Center>
    <div class="announcement">
      <Banner
        icon="music"
        text="New project: Genderswap.fm"
        type="info"
        url="https://genderswap.fm"
      />
    </div>
    <h1>Eva designs and builds for the web</h1>
    <p class="about">
      I’m a designer and developer currently freelancing in Brooklyn, NY, with
      my tabby, <span class="noWrap"
        ><button class="inlineButton" data-sam-button type="button"
          >Samwise</button
        >.</span
      > In my free time I play piano. <a href="/about"
        >More <Icon icon="arrowRight" /></a
      >
    </p>
    <div class="synth">
      <Synth />
    </div>
    <div class="subscribe">
      <SubscribeCard />
    </div>
  </Center>
</BaseLayout>

<script>
  import { addSam } from "../stores/sam";
  document.addEventListener("astro:page-load", () => {
    const samButton = document.querySelector("[data-sam-button]");
    samButton?.addEventListener("click", () => addSam());
  });
</script>

<style>
  .announcement {
    padding-block-start: var(--space-xl);
  }

  h1 {
    margin-block-start: var(--space-xl);
  }

  .about {
    font-size: var(--step-1);
    font-family: var(--font-sans);
    letter-spacing: var(--letter-spacing-condensed);
    line-height: var(--line-height-h5);
    margin-block-start: var(--space-l);
  }

  .inlineButton {
    all: unset;
    cursor: pointer;
    display: inline-block;
    background: var(--mauve-5);
    padding-inline: 0.2em;
    border-radius: var(--radius-s);
  }

  .inlineButton:hover {
    background: var(--mauve-6);
  }

  .inlineButton:active {
    background: var(--mauve-7);
  }

  .noWrap {
    white-space: nowrap;
  }

  .synth {
    margin-block: var(--space-xl);
  }
</style>
