---
import Layout from "../layouts/Layout.astro";
import Synth from "../components/Synth.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Eva Decker"
  description="Eva Decker is a Product Designer based in Brooklyn, New York."
>
  <main>
    <h1>
      Eva<span class="annotation">(AY-vuh)</span> Decker is a Product Designer<br
      />based in Brooklyn, New York.
    </h1>
    <Synth />
    <Footer />
  </main>
</Layout>

<style>
  h1 {
    margin: 0;
    position: relative;
  }

  main {
    margin: auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
  }

  .annotation {
    font-family: verveine, sans-serif;
    font-weight: 400;
    position: absolute;
    top: 0;
    font-size: 0.75em;
    transform: rotate(-10deg) translateY(-100%) translateX(-20%);
    opacity: 0.4;
  }
</style>
