---
import Layout from "../layouts/Layout.astro";
import Synth from "../components/Synth.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import "./index.module.css";
---

<Layout
  title="Eva Decker"
  description="Eva Decker is a Product Designer based in Brooklyn, New York."
>
  <main>
    <Header />
    <Synth />
    <Footer />
  </main>
</Layout>
