---
import Center from "../components/Center.astro";
import Hero from "../components/Hero.astro";
import { SamStickers } from "../components/SamStickers/SamStickers";
import Stack from "../components/Stack.astro";
import Subscribe from "../components/Subscribe/Subscribe.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Eva Decker"
  description="Eva is a designer and web developer based in Brooklyn, NY."
  includeFooter
  padBottom
>
  <Center>
    <Stack>
      <header class="header">
        <Hero />
        <p class="subtitle">
          I have experience creating usable, accessible, developer-friendly
          design systems for companies like Cityblock, Dropbox, and Swiftype. I
          live in Brooklyn, NY, with my tabby, <span class="noBreak"
            ><button class="samButton" data-sam-button type="button"
              >Samwise</button
            >.</span
          > In my free time I play piano.
        </p>
      </header>
      <Subscribe />
    </Stack>
  </Center>
  <SamStickers client:visible />

  <script>
    import { addSam } from "../stores/sam";
    const samButton = document.querySelector("[data-sam-button]");
    samButton?.addEventListener("click", () => addSam());
  </script>
</BaseLayout>

<style>
  .header {
    padding: 4rem 0;
  }

  .subtitle {
    font-size: var(--text-h5);
    font-family: var(--font-sans);
    font-variation-settings:
      "wdth" var(--font-width-normal),
      "wght" var(--font-weight-normal);
    line-height: var(--line-height-h5);
    margin-top: 2em;
  }

  .noBreak {
    white-space: nowrap;
  }

  .samButton {
    all: unset;
    text-decoration: underline;
    cursor: pointer;
  }
</style>
