---
import Center from "src/components/Center.astro";

import InlineBrandLink from "../components/InlineBrandLink.astro";
import Postcard from "../components/Postcard/Postcard.astro";
import { Stickers } from "../components/Stickers/Stickers";
import Synth from "../components/Synth/Synth.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Eva Decker"
  description="Eva is a designer and web developer based in Brooklyn, NY."
  includeFooter
>
  <Center>
    <section class="home">
      <h1 class="visuallyhidden">Eva designs and builds for the web</h1>
      <div class="intro">
        <p>
          <a href="/about" class="inline-link">Eva Decker</a>
          <span class="pronouns">(she/they)</span> is a design engineer who lives
          with her tabby <button data-sam-button>Samwise</button> in NYC. She’s previously
          worked at
          <InlineBrandLink brand="dropbox" punctuation="," />
          <InlineBrandLink brand="cityblock" punctuation="," /> and <InlineBrandLink
            brand="swiftype"
            punctuation="."
          /> She likes playing piano and writing CSS. <button data-sam-shoo
            >Tell Sam to shoo.</button
          >
        </p>
      </div>
      <div class="synth">
        <Synth />
      </div>
      <Postcard />
    </section>
    <Stickers client:idle />
  </Center>
</BaseLayout>

<script>
  import { addSam, clearSams, numSams } from "../stores/sam";

  const samButton = document.querySelector("[data-sam-button]");
  samButton?.addEventListener("click", () => addSam());

  const shooButton = document.querySelector("[data-sam-shoo]");

  if (shooButton) {
    shooButton.addEventListener("click", () => {
      clearSams();
    });

    numSams.subscribe((num) => {
      num > 0
        ? shooButton.classList.add("visible")
        : shooButton.classList.remove("visible");
    });
  }
</script>

<style lang="scss">
  .visuallyhidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .pronouns {
    color: var(--gray-11);
  }

  .home {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xl);
  }

  .intro {
    padding-block-start: var(--space-2xl);

    :global(a),
    :global(button) {
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      color: var(--gray-12);
      font-weight: var(--font-weight-bold);

      &:hover {
        text-decoration: underline;
        text-decoration-color: var(--gray-8);
        text-underline-offset: 0.1em;
      }
    }

    p {
      font-size: var(--step-3);
      letter-spacing: var(--letter-spacing-condensed);
      line-height: 1.1;
    }
  }

  .synth {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (width > 640px) {
      background: var(--gray-3);
      border-radius: var(--radius-m);
      padding: var(--space-xl) var(--space-l);
    }
  }

  [data-sam-shoo] {
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
  }

  [data-sam-shoo].visible {
    opacity: 1;
    display: inline;
    pointer-events: initial;
  }
</style>
