---
import Hero from "../components/Hero.astro";
import { SamStickers } from "../components/SamStickers/SamStickers";
import Subscribe from "../components/Subscribe/Subscribe.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Eva Decker"
  description="Eva is a designer and web developer based in Brooklyn, NY."
  includeFooter
>
  <div class="bento">
    <div class="bento-card hero">
      <Hero />
    </div>
    <div class="bento-card subtitle">
      I’m a designer and developer. Currently freelancing from Brooklyn, NY,
      with my tabby, <span class="noBreak"
        ><button class="samButton" data-sam-button type="button">Samwise</button
        >.</span
      > Sometimes I play piano.
    </div>
    <div class="bento-card notes">Placeholder</div>
    <div class="bento-card subscribe">
      <Subscribe />
    </div>
  </div>
  <SamStickers client:visible slot="after-footer" />

  <script>
    import { addSam } from "../stores/sam";
    const samButton = document.querySelector("[data-sam-button]");
    samButton?.addEventListener("click", () => addSam());
  </script>
</BaseLayout>

<style>
  .bento {
    display: grid;
    flex: 1;
    padding: 2rem;
    gap: 2rem;
    grid-template:
      "hero hero about"
      "notes subscribe subscribe";
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .bento-card {
    background: var(--mauve-2);
    border-radius: var(--radius-lg);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero {
    grid-area: hero;
  }

  .subtitle {
    font-size: var(--text-h5);
    font-family: var(--font-sans);
    letter-spacing: var(--letter-spacing-condensed);
    line-height: var(--line-height-h5);
    grid-area: about;
  }

  .notes {
    grid-area: notes;
  }

  .subscribe {
    grid-area: subscribe;
  }

  .noBreak {
    white-space: nowrap;
  }

  .samButton {
    all: unset;
    text-decoration: underline;
    cursor: pointer;
  }
</style>
