---
import UnstyledBase from "../../layouts/UnstyledBase.astro";
---

<UnstyledBase title="P5 Experiments" description="p5p5p5p5p5p5p5p5">
  <div id="p5canvas"></div>
</UnstyledBase>

<script>
  import p5 from "p5";

  const sketch = (p: p5) => {
    const w = window.innerWidth;
    const h = window.innerHeight;

    const cellSize = 24;

    const gridWidth = w / cellSize;
    const gridHeight = h / cellSize;

    let rStart: number;

    p.setup = () => {
      p.createCanvas(w, h);
      rStart = p.random(0, 1000);
      // No loop needed unless you want to animate or interact
      p.noLoop();
    };
    var t = 0;

    p.draw = () => {
      p.background(255); // Set background to white
      p.noStroke();

      // Draw loop for our grid
      t += 0.02 + rStart;

      for (var i = 0; i < gridWidth; i++) {
        for (var j = 0; j < gridHeight; j++) {
          var sin = Math.sin(t + i / 20) * cellSize;
          var cos = Math.cos(t + j / 20) * cellSize;

          p.fill("black"); // Set fill color

          // Draw the rectangle for this grid cell
          p.rect(i * cellSize, j * cellSize, sin, cos);
        }
      }
    };
  };

  const canvas = document.getElementById("p5canvas");
  export const myp5 = new p5(sketch, canvas!);
</script>

<style>
  #p5canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
