---
import UnstyledBase from "../../layouts/UnstyledBase.astro";
---

<UnstyledBase
  title="HYPERSENSITIVE"
  description="It’s all too much."
  ogImage="/og/hypersensitive.png"
  ogAlt="The event is too bright. The city is too uncomfortable. The brain is too humid. The light is too nervous."
>
  <main id="canvas"></main>
</UnstyledBase>

<script>
  const affirmation = "it’s all going to be okay";

  // 1. Prefer general words over specific words; "the cars are" over "the SUVs are"
  // 2. Prefer plural when it makes sense; "the cars are" over "the car is"
  // 3. Do not describe body parts or specific groups of people
  const attribute = [
    "everything is",
    "it’s all",
    "the ads are",
    "the air is",
    "the apps are",
    "the atmosphere is",
    "the attention is",
    "the bars are",
    "the brain is",
    "the buildings are",
    "the bus is",
    "the cameras are",
    "the cars are",
    "the city is",
    "the climate is",
    "the clothes are",
    "the colors are",
    "the construction is",
    "the conversation is",
    "the crowds are",
    "the data is",
    "the discussion is",
    "the dreams are",
    "the electricity is",
    "the emails are",
    "the environment is",
    "the events are",
    "the experience is",
    "the eye contact is",
    "the food is",
    "the furniture is",
    "the future is",
    "the images are",
    "the information is",
    "the internet is",
    "the lights are",
    "the machines are",
    "the messages are",
    "the motion is",
    "the mouthfeel is",
    "the movements are",
    "the movies are",
    "the music is",
    "the news is",
    "the noises are",
    "the objects are",
    "the office is",
    "the parties are",
    "the past is",
    "the people are",
    "the phone calls are",
    "the phones are",
    "the pictures are",
    "the places are",
    "the programs are",
    "the pressure is",
    "the prospects are",
    "the restaurants are",
    "the roads are",
    "the room is",
    "the screens are",
    "the seating is",
    "the sensation is",
    "the shops are",
    "the show is",
    "the sidewalk is",
    "the sights are",
    "the smells are",
    "the sounds are",
    "the space is",
    "the streets are",
    "the surroundings are",
    "the talking is",
    "the taste is",
    "the temperature is",
    "the text is",
    "the textures are",
    "the thoughts are",
    "the touch is",
    "the traffic is",
    "the trains are",
    "the travel is",
    "the trucks are",
    "the TV is",
    "the videos are",
    "the voices are",
    "the walls are",
    "the weather is",
    "the website is",
    "the words are",
  ];

  // 1. Can it complete: "it's all too ___"?
  // 2. Can it be used to describe war? (Prefer words with weight)
  const overwhelm = [
    "abrasive",
    "acidic",
    "aggressive",
    "all-consuming",
    "angry",
    "anxious",
    "backwards",
    "barren",
    "big",
    "bitter",
    "bleak",
    "boomy",
    "bright",
    "ceaseless",
    "chaotic",
    "clangy",
    "clashing",
    "claustrophobic",
    "close",
    "cloying",
    "cold",
    "complex",
    "confining",
    "confusing",
    "cramped",
    "cranky",
    "crowded",
    "damp",
    "dangerous",
    "deafening",
    "demanding",
    "dense",
    "difficult",
    "discordant",
    "disjointed",
    "disordered",
    "disorienting",
    "disruptive",
    "dissonant",
    "distorted",
    "distressing",
    "disturbing",
    "dizzying",
    "domineering",
    "dreary",
    "dusty",
    "excessive",
    "exhausting",
    "fast",
    "fidgety",
    "flickery",
    "forced",
    "fragrant",
    "f****d up",
    "giant",
    "grating",
    "hard to follow",
    "harsh",
    "heavy",
    "hectic",
    "high-pitched",
    "hopeless",
    "humid",
    "hurried",
    "illegible",
    "illogical",
    "impatient",
    "impenetrable",
    "impossible",
    "in your face",
    "inescapable",
    "inhospitable",
    "intense",
    "interruptive",
    "intrusive",
    "itchy",
    "jagged",
    "jarring",
    "jerky",
    "jittery",
    "jumbled",
    "jumpy",
    "littered",
    "looming",
    "loud",
    "maddening",
    "mean",
    "messed up",
    "messy",
    "metallic",
    "much",
    "muddy",
    "mushy",
    "musty",
    "mysterious",
    "nauseating",
    "nervous",
    "noisy",
    "nonsensical",
    "noxious",
    "oppressive",
    "overbearing",
    "overwhelming",
    "packed",
    "painful",
    "pressing",
    "pressurized",
    "prickly",
    "rapid",
    "rattly",
    "repetitive",
    "restless",
    "rigid",
    "rough",
    "rumbly",
    "rushed",
    "scrambled",
    "scratchy",
    "screechy",
    "shaky",
    "sharp",
    "shouty",
    "shrill",
    "slimy",
    "smelly",
    "sour",
    "sped up",
    "spiky",
    "staticky",
    "stifling",
    "stinky",
    "stuffy",
    "sudden",
    "suffocating",
    "synthetic",
    "taxing",
    "threatening",
    "tight",
    "tingly",
    "tiring",
    "uncanny",
    "uncomfortable",
    "unexpected",
    "unhygienic",
    "unnatural",
    "unpredictable",
    "upsetting",
    "urgent",
    "vibrant",
    "vibratey",
    "violent",
    "vivid",
    "warm",
    "wasteful",
  ];

  let isFirstRun = true;
  let timeouts: NodeJS.Timeout[] = [];

  function getRandomValueWithinRange(min: number, max: number): number {
    return Math.random() * (max - min) + min;
  }

  function writeAffirmation(): void {
    let canvasDOMElem = document.getElementById("canvas");
    if (!canvasDOMElem) return;

    const fragment = document.createDocumentFragment();

    let affirmationWrapper = fragment.appendChild(
      document.createElement("div")
    );
    affirmationWrapper.classList.add("affirmation");

    const timer = (ms: number) => new Promise((res) => setTimeout(res, ms));

    async function load() {
      for (let i = 0; i < affirmation.length; i++) {
        affirmationWrapper.textContent += affirmation[i];

        await timer(getRandomValueWithinRange(60, 120));
      }
    }

    canvasDOMElem.appendChild(affirmationWrapper);

    load();
  }

  function generateOverwhelm(): string {
    const randomAttribute =
      attribute[Math.floor(Math.random() * attribute.length)];
    const randomQuality =
      overwhelm[Math.floor(Math.random() * overwhelm.length)];
    return [randomAttribute, "too", randomQuality].join(" ");
  }

  function writeOverwhelm(): void {
    let canvasDOMElem = document.getElementById("canvas");
    if (!canvasDOMElem) return;

    const fragment = document.createDocumentFragment();

    let sentenceWrapper = fragment.appendChild(document.createElement("div"));
    sentenceWrapper.classList.add("sentence-wrapper");

    // Inline text
    let sentence = sentenceWrapper.appendChild(document.createElement("p"));
    sentence.classList.add("sentence");
    sentence.style.fontSize = `${getRandomValueWithinRange(1, 1.2)}em`;
    sentence.style.fontStretch = `${getRandomValueWithinRange(40, 80)}%`;
    sentence.style.color = `hsl(${Math.random() * 360}, 100%, 50%)`;
    sentence.style.backgroundColor = `hsl(${Math.random() * 360}, 100%, 10%)`;

    sentence.textContent = generateOverwhelm();

    canvasDOMElem.appendChild(sentenceWrapper);

    // Positioning
    // (Must take place after the element has been added to the DOM)
    const viewportWidth = window.innerWidth;
    const viewportHeight = window.innerHeight;

    const elementWidth = sentenceWrapper.offsetWidth;
    const elementHeight = sentenceWrapper.offsetHeight;

    const maxX = viewportWidth - elementWidth;
    const maxY = viewportHeight - elementHeight;

    const randomX = Math.floor(Math.random() * maxX);
    const randomY = Math.floor(Math.random() * maxY);

    sentenceWrapper.style.left = `${randomX}px`;
    sentenceWrapper.style.top = `${randomY}px`;
    sentenceWrapper.style.transform = `rotate(${(Math.random() - 0.5) * 10}deg)`;
  }

  function clearTimeouts(): void {
    timeouts.forEach((timeout) => clearTimeout(timeout));
  }

  function run(): void {
    function setRandomInterval(
      intervalFunction: () => void,
      minDelay: number,
      maxDelay: number
    ) {
      let timeout: NodeJS.Timeout;

      const runInterval = () => {
        const timeoutFunction = () => {
          intervalFunction();
          runInterval();
        };

        const delay =
          Math.floor(Math.random() * (maxDelay - minDelay + 1)) + minDelay;

        timeout = setTimeout(timeoutFunction, delay);
        timeouts.push(timeout);
      };

      runInterval();

      return {
        clear() {
          clearTimeout(timeout);
        },
      };
    }

    if (!isFirstRun) {
      // Add a delay in between consecutive runs
      timeouts.push(setTimeout(writeAffirmation, 2000));
    } else {
      writeAffirmation();
    }

    // Set some overlap between each speed
    // To mask the transitions
    function writeSlowly() {
      setRandomInterval(writeOverwhelm, 400, 2400);
    }

    function writeNormally() {
      setRandomInterval(writeOverwhelm, 350, 2000);
    }

    function writeQuickly() {
      setRandomInterval(writeOverwhelm, 300, 1400);
    }

    function writeRapidly() {
      setRandomInterval(writeOverwhelm, 200, 800);
    }

    function writeImpossibly() {
      setRandomInterval(writeOverwhelm, 150, 400);
    }

    timeouts.push(setTimeout(writeSlowly, isFirstRun ? 3000 : 5000));

    setTimeout(() => {
      clearTimeouts();
      timeouts.push(setTimeout(writeNormally));
    }, 20000);

    setTimeout(() => {
      clearTimeouts();
      timeouts.push(setTimeout(writeQuickly));
    }, 40000);

    setTimeout(() => {
      clearTimeouts();
      timeouts.push(setTimeout(writeRapidly));
    }, 50000);

    setTimeout(() => {
      clearTimeouts();
      timeouts.push(setTimeout(writeImpossibly));
    }, 56000);

    isFirstRun = false;
  }

  function reset(): void {
    let canvasDOMElem = document.getElementById("canvas");
    if (!canvasDOMElem) return;

    canvasDOMElem.innerHTML = "";

    clearTimeouts();
  }

  run();

  // Reset every minute
  setInterval(() => {
    reset();
    run();
  }, 60000);
</script>

<style is:global lang="scss">
  html,
  body {
    background: #111;
  }

  #canvas {
    position: relative;
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
    padding: var(--space-l);
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 1;

    @media (width < 960px) {
      font-size: 32px;
    }

    @media (width < 640px) {
      font-size: 28px;
    }
  }

  .affirmation {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: clamp(9rem, 20vw, 18rem);
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    line-height: 1;
    letter-spacing: -0.05em;
  }

  .sentence-wrapper {
    position: absolute;
  }

  .sentence {
    line-height: 1;
    text-transform: uppercase;
    display: inline;
  }
</style>
