---
import { getCollection } from "astro:content";
import CarouselItem from "../CarouselItem.astro";

const LIMIT = 12;

const entries = await getCollection("photos");
const limitedEntries = entries.slice(0, LIMIT);

const photos = limitedEntries.map((entry) => entry.data);
---

{
  photos.map((photo) => (
    <CarouselItem>
      <a href={photo.url}>
        <img src={photo.image?.url} alt={photo.title} />
      </a>
    </CarouselItem>
  ))
}

<style>
  a {
    display: block;
    height: 220px;
    width: auto;
  }

  img {
    display: block;
    height: 100%;
    width: auto;
    object-fit: cover;
    background-color: var(--gray-3);
  }
</style>
