---
import Center from "../Center.astro";
import { ToggleTheme } from "./ToggleTheme.tsx";
---

<header transition:persist>
  <Center>
    <nav>
      <a class="wordmark" href="/">Eva Decker</a>
      <div class="toggle">
        <ToggleTheme client:only="react" />
      </div>
    </nav>
  </Center>
</header>

<style>
  header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--mauve-1);
  }

  header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200%;
    width: 100%;
    clip-path: inset(0 0 50% 0);
    backdrop-filter: blur(40px) saturate(80%);
    z-index: -1;
  }

  header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200%;
    z-index: -1;
    clip-path: inset(calc(50% - 1px) 0 50% 0);

    /* background-color: var(--mauve-a6); */
    backdrop-filter: blur(120px) saturate(300%);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
  }

  .wordmark {
    font-size: var(--text-body);
    font-family: var(--font-sans);
    font-variation-settings:
      "wdth" var(--font-width-wide),
      "wght" 580;
    text-decoration: "none";
    position: "relative";
    bottom: "-0.08em";
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
  }
</style>
