---
import * as styles from "./header.css";
import { ToggleTheme } from "./ToggleTheme.tsx";
---

<header class={styles.header}>
  <a class={styles.wordmark} href="/">Eva Decker</a>
  <ToggleTheme client:only />
</header>
