---
import { ToggleTheme } from "./ToggleTheme.tsx";
---

<script>
  import { numSams, clearSams } from "../../stores/sam";

  const shooButton = document.querySelector("button.shoo");

  if (shooButton) {
    shooButton.addEventListener("click", () => {
      clearSams();
    });

    numSams.subscribe((num) => {
      num === 0
        ? shooButton.classList.add("hidden")
        : shooButton.classList.remove("hidden");
    });
  }
</script>

<header transition:persist>
  <nav>
    <a class="wordmark" href="/">Eva Decker</a>
    <div class="links">
      <button class="shoo">Shoo</button>
      <a href="/about">About</a>
    </div>
    <div class="toggle">
      <ToggleTheme client:only="react" />
    </div>
  </nav>
</header>

<style>
  header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
  }

  header::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--mauve-1);
    opacity: 0.96;
    box-shadow: 0 1px 0 var(--mauve-a6);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
  }

  .wordmark {
    font-size: var(--text-body);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-bold);
    text-decoration: "none";
    position: "relative";
    bottom: "-0.1em";
  }

  .links {
    display: flex;
    gap: 0.25em;
    margin-inline-start: auto;
  }

  .links a,
  .links button {
    background: transparent;
    padding: 0.08em 0.4em 0.03em;
    border: none;
    border-radius: var(--radius-sm);
    cursor: pointer;
  }

  .links a:hover,
  .links button:hover {
    background: var(--pink-a3);
    color: var(--pink-12);
  }

  .links a:active,
  .links button:active {
    background: var(--pink-a4);
    color: var(--pink-12);
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    margin-inline-start: 0.5em;
  }

  .links .shoo {
    background: var(--pink-9);
    color: var(--white-a12);
  }

  .links .shoo:hover {
    background: var(--pink-10);
    color: var(--white-a12);
  }

  .links .shoo:active {
    background: var(--pink-9);
  }

  .shoo.hidden {
    display: none;
  }
</style>
