---
import * as styles from "./header.css";
import { ThemeSwitcher } from "./ThemeSwitcher.tsx";
---

<header class={styles.header}>
  <a class={styles.wordmark} href="/">Eva Decker</a>
  <ThemeSwitcher client:only />
</header>
