---
import Logo from "./Logo.astro";
---

<header>
  <nav id="nav">
    <Logo />
    <div class="links">
      <a href="/about">About</a>
      <a href="/projects">Projects</a>
    </div>
  </nav>
</header>

<style>
  header {
    width: 100%;
    padding-inline: var(--space-xl);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-s);
    padding-block: var(--space-l);
    max-width: 70ch;
    margin: 0 auto;
  }

  .links {
    display: flex;
    align-items: center;
  }

  .links a,
  .links button {
    background: transparent;
    line-height: 1;
    padding: var(--space-xs) var(--space-s);
    border: none;
    border-radius: var(--radius-full);
    cursor: pointer;
  }

  .links a:hover,
  .links button:hover {
    background: var(--jade-a3);
    color: var(--jade-12);
  }

  .links a:active,
  .links button:active {
    background: var(--jade-a4);
    color: var(--jade-12);
  }
</style>
