---
import styles from "./header.module.css";
---

<header class={styles.header}>
  <h1 class={styles.title}>
    My name’s Eva Decker.<br />I design and code things for the web.
  </h1>
  <p>
    I have experience creating usable, accessible, developer-friendly design
    systems for companies like Swiftype, Dropbox, and Cityblock.
  </p>
  <p>
    I live in Brooklyn, NY, with my tabby, Samwise. In my free time I play
    piano.
  </p>
</header>
