---
import Center from "../Center/Center.astro";
import * as styles from "./header.css";
import { ToggleTheme } from "./ToggleTheme.tsx";
---

<header class={styles.header} transition:persist>
  <Center>
    <div class={styles.headerContents}>
      <a class={styles.wordmark} href="/">Eva Decker</a>
      <div class={styles.toggleTheme}>
        <ToggleTheme client:only="react" />
      </div>
    </div>
  </Center>
</header>
