.header {
  max-width: 480px;
  text-align: left;
}

.title {
  font-size: 1.6rem;
  text-align: left;
  letter-spacing: -0.01em;
  line-height: 1.1;
}

.header p {
  font-size: 1.1rem;
  line-height: 1.3;
  margin-top: 1em;
}

.samButton {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
}

.samStickers {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.samSticker {
  position: absolute;
  max-width: 20vw;
  max-height: 50vh;
}
