---

---

<a class="logo" href="/">
  <svg viewBox="0 0 819 537" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M569.073 220.831L517.07 512.258L479.104 450.57C479.001 450.404 478.846 450.153 478.642 449.822C478.233 449.161 477.626 448.18 476.842 446.919C475.274 444.396 473.001 440.751 470.194 436.288C464.575 427.354 456.839 415.177 448.355 402.174C430.864 375.365 411.801 347.567 401.204 335.801L442.072 298.993C454.356 312.632 472.347 338.658 487.962 362.286L514.928 211.169L569.073 220.831Z"
      fill="currentColor"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M288.58 4.31707C332.484 -3.17567 377.661 -1.64544 408.582 17.6803C444.076 39.8641 461.134 71.6745 458.955 107.781C456.942 141.152 438.744 173.699 415.001 201.762L373.013 166.237C393.265 142.3 403.067 120.848 404.055 104.469C404.878 90.8266 399.939 77.1372 379.432 64.3202C365.949 55.8934 337.641 51.7394 297.833 58.5332C259.514 65.0727 215.83 80.9294 176.067 105.228C95.9677 154.175 38.6911 232.063 59.8923 331.252C65.3011 356.557 78.0995 372.33 94.7173 382.534C112.156 393.242 135.381 398.687 161.648 399.255C167.731 352.17 196.426 304.668 250.299 276.61C276.659 262.88 301.284 255.888 322.728 257.124C345.202 258.418 365.596 269.282 374.997 290.768C383.628 310.493 379.981 332.565 371.27 351.402C362.32 370.755 346.697 390.021 325.327 407.357C308.146 421.294 282.246 433.104 254.355 441.293C243.833 444.382 232.686 447.056 221.167 449.163C226.727 462.64 235.93 472.844 247.078 478.295C255.587 482.454 266.342 483.06 280.194 479.17C294.207 475.235 309.233 467.239 323.692 457.364C337.969 447.614 350.579 436.806 359.696 428.327C364.223 424.118 367.811 420.555 370.23 418.085C371.438 416.852 372.35 415.896 372.936 415.275C373.229 414.964 373.44 414.737 373.566 414.602C373.628 414.534 373.67 414.489 373.69 414.467L373.691 414.466C373.687 414.471 373.682 414.475 394.007 433C414.331 451.525 414.326 451.53 414.321 451.536L414.277 451.584L414.189 451.681C414.118 451.757 414.025 451.858 413.91 451.983C413.679 452.232 413.359 452.575 412.954 453.005C412.143 453.865 410.989 455.073 409.521 456.572C406.589 459.565 402.386 463.735 397.151 468.603C386.745 478.28 371.951 491.009 354.709 502.784C337.649 514.435 317.039 525.951 295.064 532.122C272.928 538.338 247.343 539.645 222.922 527.706C192.421 512.794 173.277 485.295 165.068 454.302C163.558 454.295 162.047 454.276 160.538 454.244C128.206 453.554 94.3917 446.875 65.9381 429.404C36.6501 411.42 14.6988 382.943 6.10721 342.748C-21.9523 211.473 56.8706 113.61 147.388 58.2964C192.934 30.4645 243.187 12.064 288.58 4.31707ZM218.702 393.596C225.619 392.133 232.371 390.426 238.862 388.52C263.129 381.396 281.355 372.206 290.677 364.644C307.042 351.368 316.662 338.453 321.35 328.316C325.667 318.98 324.961 314.195 324.685 313.073C324.153 312.81 322.632 312.209 319.564 312.032C311.778 311.584 297.345 314.119 275.705 325.39C243.556 342.134 225.576 367.825 218.702 393.596Z"
      fill="currentColor"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M633.127 352.093C628.203 368.989 628.002 383.135 631.096 393.012C633.346 400.198 635.929 401.81 636.255 402.001L636.262 402.005C636.492 402.14 638.132 403.103 642.887 401.895C653.892 399.101 672.916 386.341 692.65 356.914L738.329 387.548C715.143 422.122 686.289 447.619 656.425 455.203C640.801 459.171 623.743 458.39 608.509 449.489C593.402 440.663 583.8 426.022 578.61 409.45C571.211 385.827 573.546 359.959 580.323 336.704C587.188 313.151 599.253 289.962 614.294 270.398C629.207 251 648.221 233.655 669.867 223.675C692.048 213.448 718.349 210.562 743.584 223.548C755.223 229.538 763.736 239.211 769.955 248.55C776.322 258.109 781.536 269.214 785.878 280.556C794.559 303.231 800.952 330.064 805.643 354.979C810.373 380.101 813.558 404.303 815.56 422.147C816.564 431.094 817.276 438.501 817.74 443.697C817.972 446.297 818.142 448.347 818.255 449.764C818.293 450.239 818.324 450.643 818.35 450.973C818.362 451.135 818.373 451.279 818.383 451.405C818.397 451.596 818.408 451.745 818.416 451.851L818.428 452.015L818.429 452.028C818.429 452.033 818.43 452.037 791 454.001C763.57 455.964 763.57 455.967 763.57 455.969L763.564 455.886C763.559 455.817 763.551 455.705 763.539 455.551C763.516 455.244 763.48 454.771 763.429 454.142C763.329 452.884 763.173 451.004 762.957 448.584C762.526 443.743 761.854 436.755 760.903 428.279C758.996 411.276 755.99 388.511 751.593 365.155C747.157 341.592 741.487 318.436 734.513 300.22C731.028 291.115 727.517 284.049 724.179 279.037C722.539 276.576 721.129 274.895 720.03 273.803C718.978 272.756 718.413 272.451 718.413 272.451C718.413 272.451 718.415 272.451 718.417 272.452C711.701 268.996 703.637 268.669 692.896 273.621C681.62 278.82 669.156 289.275 657.897 303.92C646.766 318.4 637.963 335.497 633.127 352.093Z"
      fill="currentColor"></path>
  </svg>
  <span class="visuallyhidden">Eva Decker</span>
</a>

<style lang="scss">
  .logo {
    width: 64px;

    &:hover {
      color: var(--jade-9);
    }
  }

  .visuallyhidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>
