---

---

<a id="logo" href="/" data-fathom="logo" transition:persist="logo">
  <svg
    viewBox="0 0 125 82"
    width="125px"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="letter letter-e"
      d="M59.73 28.3744C66.3068 20.601 68.1016 12.2296 59.7299 6.99734C46.454 -1.30013 -1.60127 16.7944 5.76275 51.2466C9.94861 70.8298 38.9491 64.9997 46.873 58.5716C58.1551 49.4194 54.497 38.3903 40.1459 45.8649C25.7948 53.3394 26.1146 71.2488 35.9599 76.062C45.8052 80.8753 59.73 65.5977 59.73 65.5977"
      stroke="currentColor"
      stroke-width="8"
      pathLength="1"></path>
    <path
      class="letter letter-v"
      d="M62.4121 49.8778C66.4332 53.9639 76.9548 71.1055 76.9548 71.1055L85.9921 38.1582"
      stroke="currentColor"
      stroke-width="8"
      pathLength="1"></path>
    <path
      class="letter letter-a"
      d="M109.286 65.7015C102.644 75.9042 94.4672 77.8992 92.1642 70.3246C88.9168 59.6437 101.798 40.6548 111.687 45.897C118.958 49.7513 120.972 78.7369 120.972 78.7369"
      stroke="currentColor"
      stroke-width="8"
      pathLength="1"></path>
  </svg>
  <span class="visuallyhidden">Eva Decker</span>
</a>

<style lang="scss">
  #logo {
    width: 40px;
    transform: translateY(-0.1em) rotate(-8deg);
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-animating="true"] {
      .letter {
        stroke-dasharray: 1;
        stroke-dashoffset: 1;
        animation-name: stroke;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }

      .letter-e {
        animation-duration: 0.6s;
        animation-timing-function: cubic-bezier(1, 0, 0.39, 1);
      }

      .letter-v {
        animation-duration: 0.2s;
        animation-delay: 0.6s;
        animation-timing-function: cubic-bezier(0.75, 0, 0, 1);
      }

      .letter-a {
        animation-duration: 0.4s;
        animation-delay: 0.85s;
        animation-timing-function: cubic-bezier(0, -0.01, 0.34, 0.9);
      }
    }
  }

  .visuallyhidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>

<script>
  function handleAnimation() {
    // Set animating status to let SVG animations run to completion
    // Instead of being cut off when the user hovers away
    const logoElem = document.getElementById("logo");
    logoElem?.addEventListener("click", () => {
      if (logoElem.dataset.animating === "true") return;

      logoElem.dataset.animating = "true";

      setTimeout(() => {
        logoElem.dataset.animating = "false";
      }, 1300);
    });
  }

  handleAnimation();

  document.addEventListener("astro:after-swap", () => handleAnimation());
</script>

<script>
  import * as Fathom from "fathom-client";

  document.addEventListener("astro:page-load", () => {
    document
      .querySelector("[data-fathom='logo']")
      ?.addEventListener("click", () => {
        Fathom.trackEvent("nav: click logo");
      });
  });
</script>
