---

---

<svg
  viewBox="0 0 146 146"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  class="logo"
>
  <title>Ky Decker</title>
  <path
    d="M5.71609 12.0852C7.92984 10.8871 10.4878 10.5809 12.7971 11.2502C15.1046 11.9204 17.0038 13.4955 17.9153 15.716C18.7265 17.6349 19.48 19.5985 20.1585 21.4973C26.0618 38.6146 29.7632 55.2094 33.6936 71.9641C37.5041 88.7135 40.3523 105.662 41.6438 122.947C41.7827 124.855 41.902 126.804 41.9934 128.713C42.0696 130.302 41.5114 131.857 40.4417 133.034C39.3716 134.212 37.8768 134.917 36.2874 134.993C34.6982 135.07 33.1438 134.511 31.9661 133.442C30.7883 132.372 30.0833 130.877 30.0071 129.287C29.9207 127.483 29.8082 125.634 29.676 123.818C28.4491 107.352 25.6907 90.8682 21.9964 74.6438C18.2492 58.5191 12.8333 42.3208 4.85183 28.5656C3.9664 27.0766 3.02431 25.5986 2.08523 24.2844C0.724453 22.3068 0.444748 19.8544 1.14577 17.5559C1.84846 15.2567 3.50264 13.2832 5.71609 12.0852Z"
    fill="currentColor"></path>
  <path
    d="M69.2363 2.90979C71.8904 2.63567 74.6092 3.46653 76.7705 5.20178C78.9317 6.93702 80.3308 9.41162 80.6367 12.0621C80.9413 14.7116 80.1508 17.3391 78.3076 19.2604C74.1504 23.5912 70.0047 28.0013 65.9248 32.4391C47.1478 53.1174 28.3043 74.6065 14.251 97.7662C13.9624 98.2798 13.6805 98.7982 13.4082 99.317C16.1224 98.476 18.9745 97.3112 21.7744 96.0612C27.5904 93.4492 33.368 90.3976 39.1045 87.2194C50.5231 80.8646 61.7683 73.9726 72.9912 67.1334C76.4613 65.0156 79.9928 62.9858 83.5283 60.983C88.73 57.331 94.2297 60.6501 94.5088 66.9996C93.7564 76.6594 95.1005 88.4676 100.699 88.5426C100.844 88.562 100.99 88.5788 101.135 88.5914C111.813 89.1483 122.245 75.3698 129.714 63.8639C130.605 62.4766 131.582 60.9253 132.311 59.7115C135.49 53.7261 143.111 55.0831 144.295 61.7565C145.653 71.5715 145.096 81.1931 144.676 90.6549C144.226 100.263 143.315 109.747 142.154 119.239C141.39 125.38 140.575 131.393 139.482 137.684C139.153 139.515 138.022 141.069 136.422 142.025C134.821 142.981 132.866 143.255 131.004 142.794C129.142 142.332 127.543 141.176 126.573 139.584C125.604 137.991 125.329 136.088 125.894 134.315C127.573 128.948 129.023 123.053 130.202 117.298C132.031 108.316 133.263 99.2315 133.688 90.1481C133.835 86.893 133.809 83.6375 133.643 80.4088C125.935 90.2131 116.196 99.2437 100.182 99.5494C99.8887 99.524 99.5947 99.4935 99.3008 99.4567C90.8803 98.7562 85.2432 90.6814 83.418 84.8766C82.7589 82.9999 82.2366 81.1459 81.8174 79.3112C81.4804 79.5207 81.1433 79.7305 80.8047 79.9371C69.304 86.9448 57.3969 93.2945 45.168 99.0699C39.0124 101.963 32.8087 104.714 26.3369 107.171C23.0902 108.389 19.7965 109.553 16.1494 110.481C14.3655 110.915 12.4273 111.365 10.0049 111.469C8.82045 111.474 7.418 111.581 5.17969 110.722C4.1183 110.295 2.66722 109.39 1.6875 107.894C0.678368 106.347 0.443267 104.88 0.439453 103.6C0.685827 99.8922 1.59407 98.6935 2.30469 96.9215C3.09006 95.2269 3.87603 93.7778 4.66504 92.3707C19.8197 67.4333 36.7176 45.3443 52.5312 21.8073C55.952 16.7957 59.3655 11.7536 62.7119 6.73889C64.1895 4.52413 66.5837 3.18501 69.2363 2.90979Z"
    fill="currentColor"></path>
</svg>

<style>
  .logo {
    display: block;
    height: var(--step-3);
    margin-block: -0.2em;
    color: var(--gray-12);
  }
</style>
