---
import badge from "../content/badges/eva-town.png";
---

<div class="banner">
  <div class="badge">
    <img src={badge.src} width={88} alt="Eva Town badge" />
  </div>
  <div class="text">
    Download my badge to link to this site, or check out the <a
      href="/webrings#badges">badge collection</a
    >. Let me know if you have a badge you want me to link to.
  </div>
</div>

<style lang="scss">
  .banner {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-inline: auto;
    border: 1px solid var(--gray-6);
    border-radius: var(--radius-s);
    margin-block-start: var(--space-xl);
    font-size: var(--step--1);
    color: var(--gray-11);
    line-height: var(--line-height-snug);
    overflow: hidden;

    .badge {
      flex-shrink: 0;
      background: var(--gray-3);
      padding: var(--space-s) var(--space-m);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text {
      padding: var(--space-s) var(--space-m);
    }
  }
</style>
