---
import type { HTMLTag, Polymorphic } from "astro/types";

import { Icon, type IconType } from "./Icon/Icon";

type Props<Tag extends HTMLTag> = Polymorphic<{
  icon?: IconType;
  text: string;
  type?: "success" | "warning" | "error" | "info";
  url?: string;
  as: Tag;
}>;

const { icon, text, type, url, as: Tag = url ? "a" : "div" } = Astro.props;
---

<Tag class:list={["banner", type]} href={url}>
  {icon && <Icon icon={icon} />}
  <p class="text">{text}</p>
  {url && <Icon icon="arrowRight" />}
</Tag>

<style lang="scss">
  .banner {
    background-color: var(--gray-3);
    border-radius: var(--radius-s);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-s);
    width: 100%;
    line-height: 1.1;
    padding: var(--space-s);

    &.success {
      background-color: var(--green-3);
      color: var(--green-12);
    }

    &.warning {
      background-color: var(--amber-3);
      color: var(--amber-12);
    }

    &.error {
      background-color: var(--red-3);
      color: var(--red-12);
    }

    &.info {
      background-color: var(--gray-3);
      color: var(--gray-12);
    }
  }

  a.banner:hover {
    background-color: var(--gray-4);

    &.success {
      background-color: var(--green-4);
    }

    &.warning {
      background-color: var(--amber-4);
    }

    &.error {
      background-color: var(--red-4);
    }

    &.info {
      background-color: var(--gray-4);
    }
  }

  .text {
    flex: 1;
  }
</style>
