---
interface Props {
  fullHeight?: boolean;
}

const { fullHeight } = Astro.props;
---

<div class:list={["box", { fullHeight }]}>
  <slot />
</div>

<style>
  .box {
    background-color: var(--mauve-3);
    padding: 1.5em;
    border-radius: var(--radius-lg);
  }

  .fullHeight {
    height: 100%;
  }
</style>
