---

---

<li class="carousel-item">
  <slot />
</li>

<style>
  .carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-shrink: 0;
    scroll-snap-align: start;
  }
</style>
