---

---

<div class="center">
  <slot />
</div>

<style>
  .center {
    box-sizing: content-box;
    margin-inline: auto;
    width: calc(100% - 3rem);
    max-inline-size: 60ch;
    padding-inline: 1.5rem;
  }
</style>
