---

---

<div class="center">
  <slot />
</div>

<style>
  .center {
    box-sizing: content-box;
    margin-inline: auto;
    max-inline-size: 60ch;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
  }
</style>
