---

---

<div class="cover">
  <slot />
</div>

<style>
  .cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-block-size: 100%;
    flex: 1;
  }
</style>
