---
// import { DialogueTree } from "../dialogue/DialogueTree";
---

<footer>
  <a
    href="https://github.com/evadecker"
    target="_blank"
    aria-label="Visit Eva's GitHub"
  >
    Github
  </a>
  <a
    href="https://linkedin.com/in/evadecker"
    target="_blank"
    aria-label="Visit Eva's LinkedIn"
  >
    LinkedIn
  </a>
  <a
    href="/eva-decker-resume.pdf"
    target="_blank"
    aria-label="View Eva's Resume"
  >
    Resume
  </a>
</footer>

<style>
  footer {
    margin-top: 2rem;
  }

  footer a {
    font-family: "nimbus-sans", sans-serif;
    display: inline-block;
    color: var(--text);
  }

  footer a + a {
    margin-left: 1rem;
  }
</style>
