---
interface Props {
  width?: "regular" | "narrow";
}

const { width } = Astro.props;
---

<div
  class:list={[
    "grid",
    { regular: width === "regular" || width === undefined },
    { narrow: width === "narrow" },
  ]}
>
  <slot />
</div>

<style>
  .grid {
    display: grid;
    grid-gap: var(--space-xl);
  }

  @supports (width: min(200px, 100%)) {
    .regular {
      grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    }
  }

  @supports (width: min(80px, 100%)) {
    .narrow {
      grid-template-columns: repeat(auto-fit, minmax(min(80px, 100%), 1fr));
    }
  }
</style>
