---
import SamStickers from "./samwise/SamStickers";
---

<script>
  import { addSam } from "../stores/sam";
  const samButton = document.querySelector("[data-sam-button]");
  samButton?.addEventListener("click", () => addSam());
</script>

<header class="header">
  <h1 class="title">
    My name’s Eva Decker. I&nbsp;design and code things for the web.
  </h1>
  <p>
    I have experience creating usable, accessible, developer-friendly design
    systems for companies like Cityblock, Dropbox, and Swiftype.
  </p>
  <p>
    I live in Brooklyn, NY, with my tabby, <button data-sam-button type="button"
      >Samwise</button
    >. In my free time I play piano.
  </p>
</header>
<SamStickers client:load />

<style>
  .header {
    max-width: 480px;
    text-align: left;
  }

  .title {
    font-size: 1.6rem;
    text-align: left;
    letter-spacing: -0.01em;
    line-height: 1.1;
  }

  .header p {
    font-family: "nimbus-sans", sans-serif;
    font-size: 1rem;
    line-height: 1.3;
    margin-top: 1em;
  }

  [data-sam-button] {
    all: unset;
    text-decoration: underline;
    cursor: pointer;
  }
</style>
