---
import { Image } from "astro:assets";

interface Props {
  img: ImageMetadata;
  imgAlt: string;
  slug: string;
}

const { img, imgAlt, slug } = Astro.props;
---

<div class="image" transition:name={`${slug} page-image`}>
  <Image src={img} alt={imgAlt} />
</div>

<style>
  .image {
    background-color: var(--mauve-3);
    border-radius: var(--radius-lg);

    /* 1,200 x 630 */
    aspect-ratio: 1.91 / 1;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--pink-a6);
  }

  .image > img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }
</style>
