---
import dayjs from "dayjs";

// Preset time from server to avoid initial flash
const currentTime = dayjs().format("h:mm A");
---

<script>
  import dayjs from "dayjs";

  // Update time on the client every second
  function updateCurrentTime() {
    const currentTime = dayjs().format("h:mm A");
    const currentTimeElem = document.getElementById("current-time");
    // If element exists and time is different, update DOM
    if (currentTimeElem && currentTimeElem.textContent !== currentTime)
      currentTimeElem.textContent = currentTime;
  }

  // Initial update after client load
  updateCurrentTime();

  // Run every second
  setInterval(updateCurrentTime, 1000);

  function handleAnimation() {
    // Set animating status to let SVG animations run to completion
    // Instead of being cut off when the user hovers away
    const phoneElem = document.getElementById("phone");
    phoneElem?.addEventListener("mouseenter", () => {
      if (phoneElem.dataset.animating === "true") return;

      phoneElem.dataset.animating = "true";

      setTimeout(() => {
        phoneElem.dataset.animating = "false";
      }, 3000);
    });
  }

  // Run on initial load
  handleAnimation();

  // Run after view transitions
  document.addEventListener("astro:after-swap", () => handleAnimation());
</script>

<a href="/about" id="phone" class="link-wrapper" aria-label="About Eva">
  <svg
    width="229"
    height="458"
    viewBox="0 0 229 458"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect class="phone" width="228" height="452" x="2" y="2" rx="32"></rect>
    <path
      d="M31.6518 109.308L21.1438 70.0918L49.2116 62.571L50.6678 68.0053L28.7625 73.8748L31.7047 84.8555L52.8817 79.1811L54.3378 84.6154L33.1609 90.2898L36.3583 102.223L58.7118 96.2332L60.1679 101.668L31.6518 109.308ZM72.4121 98.3867L53.9096 72.3607L59.8482 70.7695L73.8381 91.1594L75.7589 66.5062L81.7534 64.9L78.6868 96.7054L72.4121 98.3867ZM87.8586 85.2409C86.3875 79.7506 89.3715 75.6485 96.2954 73.2528L104.269 70.5159L103.983 69.4515C103.008 65.81 100.446 64.0944 96.5248 65.1452C92.9393 66.1059 91.2947 68.7082 91.5521 71.4615L85.7256 73.0227C85.1509 67.2921 88.627 62.3376 95.2378 60.5663C103.025 58.4797 108.312 61.6266 110.038 68.0694L115.097 86.9493L109.27 88.5105L108.115 84.1967C107.73 87.2421 105.081 90.3537 100.487 91.5847C94.2682 93.2509 89.3148 90.6752 87.8586 85.2409ZM93.6401 83.5117C94.4357 86.4809 96.9369 87.9724 100.691 86.9666C105.06 85.7957 107.361 82.0568 106.01 77.0147L105.365 74.6057L98.9298 76.8102C94.8031 78.2162 92.7994 80.3743 93.6401 83.5117Z"
      class="eva"></path>
    <path
      d="M46.4043 158.165L40.434 157.304L41.1871 152.08C39.2719 155.203 35.2255 157.256 30.4608 156.569C22.5961 155.436 17.9059 147.727 19.1473 139.116C20.3886 130.506 27.065 124.436 34.9297 125.57C39.637 126.248 42.8812 129.353 43.779 132.881L46.3031 115.372L52.4456 116.258L46.4043 158.165ZM42.3969 142.468C43.208 136.842 40.3191 131.679 35.2099 130.943C30.1007 130.206 26.1334 134.557 25.3472 140.01C24.561 145.464 27.138 150.758 32.2472 151.494C37.3564 152.231 41.5859 148.094 42.3969 142.468ZM52.7862 143.966C54.0524 135.183 60.9909 129.327 69.3149 130.527C78.4999 131.851 82.1898 139.18 80.9981 147.447L80.7168 149.399L58.5578 146.204C58.1001 151.412 60.4893 155.976 65.8282 156.746C69.8466 157.325 72.3751 155.638 73.8465 153.155L79.5872 153.982C77.2836 159.393 71.7347 162.519 65.133 161.568C55.8905 160.235 51.5448 152.577 52.7862 143.966ZM59.3838 141.694L75.5725 144.028C75.7096 139.418 73.311 135.732 68.6037 135.054C64.0111 134.392 60.7017 137.43 59.3838 141.694ZM94.1973 165.758C86.8493 164.698 82.5242 160.149 82.4012 153.685L88.1418 154.513C88.3507 157.941 90.4225 160.643 94.8428 161.28C98.8613 161.859 101.554 160.255 101.959 157.442C102.265 155.318 101.021 153.791 97.7164 152.728L91.7802 150.818C86.5164 149.121 84.1085 146.313 84.7457 141.893C85.5237 136.497 90.8015 133.624 97.7477 134.626C104.809 135.644 108.773 139.848 108.462 145.663L102.722 144.836C102.651 142.072 101.006 139.666 97.1022 139.103C93.4282 138.574 90.8102 139.661 90.4461 142.187C90.1647 144.139 91.2052 145.051 94.1733 146.006L100.224 147.933C105.882 149.745 108.429 152.808 107.717 157.745C106.856 163.715 100.971 166.734 94.1973 165.758ZM115.594 133.038L116.571 126.264L122.943 127.182L121.967 133.956L115.594 133.038ZM110.752 167.441L115.022 137.819L121.165 138.705L116.895 168.326L110.752 167.441ZM123.683 153.19C124.883 144.866 131.23 139.452 139.037 140.578C143.687 141.248 146.833 144.222 147.641 147.561L148.353 142.624L154.38 143.493L150.317 171.68C149.158 179.717 143.034 183.58 134.596 182.364C127.19 181.296 122.414 176.623 121.914 170.339L128.228 171.25C128.757 174.49 131.207 177.011 135.225 177.591C140.851 178.402 143.488 175.559 144.323 169.761L144.977 165.226C143.44 168.168 139.491 170.353 134.842 169.683C127.034 168.558 122.483 161.514 123.683 153.19ZM129.768 154.067C128.982 159.521 131.65 164.183 136.759 164.92C141.524 165.607 145.408 162.241 146.243 156.442C147.071 150.702 144.132 146.293 139.539 145.631C134.373 144.886 130.554 148.614 129.768 154.067ZM156.44 174.027L160.71 144.405L166.623 145.258L165.936 150.023C167.736 146.883 171.085 145.198 175.62 145.852C182.624 146.861 185.652 152.279 184.592 159.627L181.986 177.71L175.843 176.824L178.334 159.545C178.988 155.01 177.483 151.629 173.235 151.016C168.987 150.404 165.76 152.869 165.057 157.748L162.582 174.913L156.44 174.027ZM198.984 180.864C191.636 179.804 187.311 175.255 187.188 168.791L192.929 169.619C193.138 173.048 195.21 175.749 199.63 176.386C203.648 176.965 206.341 175.361 206.746 172.548C207.053 170.424 205.808 168.897 202.504 167.835L196.567 165.924C191.304 164.228 188.896 161.419 189.533 156.999C190.311 151.603 195.589 148.73 202.535 149.732C209.596 150.75 213.56 154.954 213.25 160.77L207.509 159.942C207.439 157.178 205.793 154.772 201.889 154.209C198.215 153.68 195.597 154.767 195.233 157.293C194.952 159.245 195.992 160.157 198.96 161.112L205.011 163.039C210.669 164.851 213.216 167.914 212.504 172.851C211.643 178.821 205.758 181.84 198.984 180.864Z"
      class="designs"></path>
    <path
      d="M98.8909 239.738C97.4197 234.247 100.404 230.145 107.328 227.75L115.301 225.013L115.016 223.948C114.04 220.307 111.479 218.591 107.557 219.642C103.971 220.603 102.327 223.205 102.584 225.958L96.7579 227.519C96.1831 221.789 99.6592 216.834 106.27 215.063C114.057 212.976 119.344 216.123 121.07 222.566L126.129 241.446L120.303 243.007L119.147 238.693C118.762 241.739 116.113 244.85 111.519 246.081C105.3 247.748 100.347 245.172 98.8909 239.738ZM104.672 238.008C105.468 240.978 107.969 242.469 111.723 241.463C116.093 240.292 118.393 236.554 117.042 231.511L116.397 229.102L109.962 231.307C105.835 232.713 103.832 234.871 104.672 238.008ZM132.025 239.866L124.279 210.958L130.05 209.412L131.296 214.062C131.714 210.467 134.127 207.599 138.553 206.413C145.388 204.581 150.306 208.368 152.227 215.539L156.956 233.186L150.961 234.792L146.443 217.929C145.257 213.503 142.541 210.988 138.396 212.099C134.25 213.21 132.255 216.747 133.531 221.509L138.02 238.26L132.025 239.866ZM189.497 224.467L183.67 226.028L182.304 220.93C181.774 224.554 178.864 228.036 174.214 229.282C166.539 231.339 159.191 226.102 156.94 217.699C154.688 209.295 158.433 201.086 166.108 199.029C170.702 197.798 174.907 199.374 177.122 202.263L172.544 185.176L178.538 183.569L189.497 224.467ZM179.629 211.619C178.158 206.129 173.469 202.521 168.483 203.857C163.497 205.193 161.564 210.755 162.99 216.077C164.416 221.4 168.871 225.25 173.857 223.914C178.843 222.578 181.1 217.109 179.629 211.619Z"
      class="and"></path>
    <path
      d="M65.6555 288.037L73.42 246.415L79.5207 247.553L76.2767 264.943C78.262 261.891 82.3326 259.996 87.008 260.868C94.8192 262.325 99.1875 270.22 97.592 278.772C95.9966 287.325 89.0756 293.114 81.2644 291.657C76.532 290.774 73.3616 287.527 72.5531 283.954L71.5852 289.143L65.6555 288.037ZM74.5004 274.465C73.458 280.052 76.1315 285.33 81.206 286.277C86.2804 287.223 90.4238 283.04 91.4343 277.624C92.4447 272.207 90.0882 266.811 85.0138 265.865C79.9393 264.918 75.5428 268.877 74.5004 274.465ZM100.919 282.756L104.269 264.796L110.37 265.934L107.147 283.21C106.307 287.714 107.614 291.144 111.833 291.931C116.052 292.718 119.217 290.3 120.111 285.51L123.312 268.348L129.47 269.497L123.982 298.917L118.109 297.822L118.981 293.147C117.142 296.049 113.762 297.719 109.201 296.868C102.302 295.581 99.5571 290.054 100.919 282.756ZM136.735 265.955L137.99 259.227L144.319 260.408L143.064 267.136L136.735 265.955ZM130.478 300.129L135.967 270.709L142.067 271.847L136.579 301.267L130.478 300.129ZM143.398 302.54L151.163 260.918L157.263 262.056L149.499 303.678L143.398 302.54ZM183.173 309.96L177.243 308.853L178.211 303.665C176.169 306.706 172.041 308.591 167.309 307.708C159.498 306.251 155.129 298.356 156.725 289.803C158.32 281.251 165.241 275.462 173.052 276.919C177.728 277.791 180.841 281.027 181.593 284.589L184.837 267.199L190.937 268.338L183.173 309.96ZM179.816 294.111C180.859 288.524 178.185 283.246 173.111 282.299C168.036 281.353 163.893 285.536 162.882 290.952C161.872 296.369 164.229 301.764 169.303 302.711C174.377 303.658 178.774 299.699 179.816 294.111ZM200.32 313.866C193.022 312.505 188.888 307.781 189.032 301.317L194.733 302.381C194.801 305.816 196.759 308.6 201.15 309.419C205.141 310.164 207.897 308.672 208.418 305.878C208.812 303.768 207.631 302.191 204.373 300.993L198.521 298.84C193.332 296.927 191.042 294.022 191.861 289.632C192.86 284.272 198.252 281.62 205.151 282.907C212.164 284.216 215.952 288.58 215.402 294.378L209.7 293.314C209.744 290.549 208.199 288.078 204.322 287.355C200.673 286.674 198.012 287.652 197.544 290.161C197.182 292.1 198.184 293.054 201.111 294.131L207.077 296.306C212.655 298.349 215.073 301.514 214.159 306.418C213.052 312.347 207.048 315.121 200.32 313.866Z"
      class="builds"></path>
    <path
      d="M25.371 344.875L21.5729 320.343L16.8156 321.08L16.0347 316.036L20.792 315.299L20.4282 312.949C19.381 306.186 21.8816 301.866 28.9316 300.775C30.4792 300.535 31.9298 300.428 32.7105 300.542L33.4559 305.357C32.8561 305.273 31.9301 305.358 30.8411 305.527C27.4021 306.059 25.9754 308.217 26.5256 311.77L26.9249 314.35L34.2042 313.223L34.9851 318.267L27.7058 319.394L31.5039 343.925L25.371 344.875ZM53.8844 341.165C45.2868 342.496 38.0801 336.51 36.7579 327.97C35.4357 319.429 40.4948 311.544 49.0924 310.213C57.69 308.882 64.8967 314.868 66.2189 323.408C67.5411 331.949 62.4819 339.833 53.8844 341.165ZM53.0768 335.949C58.4647 335.115 60.8935 329.574 60.086 324.358C59.2784 319.142 55.2789 314.538 49.8911 315.372C44.5033 316.206 42.0833 321.804 42.8908 327.02C43.6984 332.236 47.689 336.783 53.0768 335.949ZM72.7382 337.541L68.1592 307.966L74.0056 307.06L75.0705 313.939C75.3704 309.432 77.7353 306.131 82.7792 305.35C83.6962 305.208 84.5649 305.132 85.1647 305.215L86.0432 310.89C85.395 310.873 84.8791 310.953 84.134 311.068C78.6888 311.911 75.7209 316.244 76.7591 322.95L78.8711 336.592L72.7382 337.541Z"
      class="for"></path>
    <path
      d="M27.9444 394.202C22.0619 392.626 19.9634 388.581 21.6597 382.25L25.6077 367.516L20.5095 366.15L21.8305 361.22L26.9287 362.586L28.9853 354.91L34.9798 356.517L32.9232 364.192L40.6545 366.263L39.3335 371.194L31.6022 369.122L27.6542 383.856C26.8736 386.769 27.8539 388.713 30.7671 389.494C32.1677 389.869 33.4753 389.919 34.3757 389.92L33.0547 394.851C31.9261 395.029 29.9053 394.727 27.9444 394.202ZM36.7024 396.188L47.6608 355.291L53.6553 356.897L49.2119 373.48C51.3301 370.505 54.9368 369.37 59.0826 370.481C65.8615 372.297 68.2981 377.994 66.3916 385.109L61.633 402.868L55.6384 401.262L60.1869 384.287C61.3578 379.917 60.1926 376.422 56.1029 375.327C51.9571 374.216 48.4764 376.225 47.1854 381.043L42.697 397.794L36.7024 396.188ZM69.3628 389.448C71.6596 380.876 79.2424 375.882 87.3658 378.059C96.3296 380.461 99.1262 388.176 96.9645 396.243L96.4541 398.148L74.829 392.353C73.7581 397.471 75.5905 402.285 80.8007 403.681C84.7223 404.732 87.4327 403.356 89.1877 401.065L94.79 402.566C91.8623 407.666 85.9824 410.113 79.5397 408.387C70.5199 405.97 67.1111 397.851 69.3628 389.448ZM76.183 387.973L91.9817 392.206C92.6634 387.645 90.7178 383.701 86.1239 382.47C81.642 381.269 77.9961 383.895 76.183 387.973Z"
      class="the"></path>
    <path
      d="M107.69 397.581L113.586 396.053L124.223 416.064L125.769 392.896L131.496 391.412L144.043 410.929L143.68 388.255L149.575 386.728L148.829 417.837L143.495 419.219L130.233 398.33L128.785 423.031L123.451 424.413L107.69 397.581ZM154.181 400.992C151.955 392.402 156.092 384.32 164.233 382.21C173.217 379.883 179.452 385.217 181.547 393.302L182.042 395.211L160.369 400.827C161.959 405.807 165.926 409.093 171.148 407.74C175.078 406.722 176.759 404.189 177.156 401.33L182.771 399.875C182.737 405.756 178.827 410.783 172.37 412.456C163.33 414.799 156.363 409.414 154.181 400.992ZM159.388 396.348L175.221 392.245C173.567 387.941 169.93 385.468 165.326 386.661C160.835 387.824 158.956 391.906 159.388 396.348ZM189.785 407.225L179.165 366.239L185.173 364.682L189.61 381.806C190.114 378.201 192.996 374.758 197.6 373.565C205.292 371.572 212.596 376.869 214.778 385.291C216.961 393.713 213.148 401.89 205.456 403.883C200.796 405.091 196.548 403.495 194.301 400.603L195.624 405.712L189.785 407.225ZM192.039 391.183C193.465 396.685 198.125 400.331 203.122 399.036C208.119 397.741 210.097 392.196 208.715 386.862C207.333 381.528 202.91 377.641 197.913 378.936C192.916 380.231 190.614 385.68 192.039 391.183Z"
      class="web"></path>
    <path
      d="M168.513 100.84C169.905 107.699 171.756 114.439 176.722 119.774C178.58 121.769 182.736 125.238 186.034 123.107C187.885 121.911 189.05 119.883 190.074 118.121C191.922 114.945 193.281 111.552 193.264 108.016C193.253 105.808 193.081 101.253 190.714 99.9502C189.552 99.3105 192.932 100.867 193.364 100.969C197.235 101.875 201.846 101.871 205.855 101.022C210.59 100.019 215.188 95.3542 217.037 91.3769C218.334 88.5861 219.074 85.4547 217.509 82.7641C216.008 80.1822 212.195 78.5646 209.162 77.8474C202.192 76.1991 195.134 76.9066 188.047 78.3505C186.797 78.6053 183.032 79.8797 186.512 79.0181C193.404 77.3117 199.721 75.6687 205.601 71.6205C209.17 69.1636 213.307 65.7533 213.017 61.4139C212.628 55.6012 204.249 56.4035 199.505 57.0196C190.463 58.1938 182.634 60.9932 176.151 67.1884C174.382 68.8786 172.957 70.7039 171.349 72.4988C170.745 73.1735 169.872 73.8815 169.731 74.7853C169.672 75.1678 171.058 73.3311 171.127 73.2156C172.812 70.393 174.168 67.3931 175.295 64.3798C176.254 61.8189 177.07 59.0872 177.012 56.4132C176.958 53.8796 176.814 50.2349 174.807 48.3549C172.109 45.829 167.195 46.9085 163.861 48.0871C158.255 50.0687 154.816 54.6369 154.69 59.9209C154.615 63.0519 154.802 67.127 156.612 69.7924C157.267 70.7572 158.135 71.554 159.044 72.3166C159.185 72.4349 160.264 73.1358 159.866 73.0383C154.522 71.7293 149.442 69.758 144.033 68.5949C138.299 67.362 132.14 67.2925 127.596 71.708C122.531 76.6294 123.083 84.1129 127.497 88.7825C133.239 94.8581 144.577 94.9814 153.014 94.2198C154.976 94.0426 156.888 93.613 158.829 93.2832C159.528 93.1644 160.676 93.2181 161.218 92.6748C161.678 92.2144 160.275 92.5529 160.213 92.5676C157.602 93.1853 155.001 94.2863 152.752 95.6925C145.997 99.9164 139.589 106.471 136.635 113.405C135.208 116.753 134.27 122.724 137.452 125.325C141.389 128.545 149.37 124.846 153.255 122.804C159.378 119.585 163.931 115.128 166.617 109.253C168.17 105.854 167.069 104.276 168.513 100.84Z"
      class="sketch flower-petals"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"
      pathLength="1"></path>
    <path
      d="M166.015 92.9581C169.638 96.6894 176.371 100.821 181.205 96.6362C187.377 91.2931 189.156 82.4331 182.896 76.451C179.446 73.1544 174.204 71.0282 169.382 71.7484C165.064 72.3932 161.719 76.451 159.821 80.1243C158.879 81.9481 158.126 86.0112 159.622 87.6976C161.489 89.8029 165.373 90.0223 167.909 90.0602C172.828 90.1338 181.253 88.4943 180.766 82.0018C180.627 80.1511 178.558 79.3575 176.937 79.2345C174.585 79.0559 172.353 80.16 170.541 81.5936C168.237 83.4161 164.171 88.6485 169.698 89.0861C172.347 89.2958 174.153 87.6244 175.425 85.507"
      class="sketch flower-center"
      stroke-width="3"
      stroke-linecap="round"
      pathLength="1"></path>
    <path
      d="M20.0684 270C20.5581 262.165 23.2742 251.18 30.0684 246.222C33.8087 243.493 46.1762 239.879 48.2906 246.222C50.6786 253.386 48.5877 259.79 41.2906 262.222C33.9678 264.663 31.1036 255.043 30.2906 249.556C28.8619 239.912 34.546 231.655 42.0684 226.222C45.941 223.425 53.6641 221.904 58.0684 224.222C67.5102 229.192 59.5377 238.245 52.8461 232.222C45.9069 225.977 51.8591 213.536 56.0684 207.222C62.7007 197.274 79.9384 188.351 88.8461 200C96.2704 209.709 77.6356 217.553 75.2906 207C73.8141 200.356 74.7501 193.38 79.0684 188.222C81.4591 185.367 87.9539 178 92.0684 178"
      class="sketch curls"
      stroke-width="3"
      stroke-linecap="round"
      pathLength="1"></path>
    <text x="45" y="24" class="time" id="current-time" text-anchor="middle"
      >{currentTime}</text
    >
    <rect class="sensors" x="80" y="11" width="70" height="18" rx="9"></rect>
    <rect class="homebar" x="57.0684" y="440" width="115" height="4" rx="2"
    ></rect>
    <path
      class="sketch sprout"
      d="M133.068 381C133.068 369.299 131.358 356.877 126.624 346.056C122.287 336.143 110.646 335 101.179 335C98.0061 335 95.8566 334.194 96.068 338C96.2629 341.508 98.2361 344.103 99.8458 347C103.782 354.086 116.824 354 124.068 354"
      stroke-width="3"
      stroke-linecap="round"
      pathLength="1"></path>
    <path
      class="sketch sprout-leaf"
      d="M129.068 351C129.068 344.057 132.076 335.437 138.568 332C141.033 330.695 143.088 329.634 145.818 329.028C147.904 328.564 147.068 332.428 147.068 333.722C147.068 343.819 138.972 350.032 130.068 353"
      stroke-width="3"
      stroke-linecap="round"
      pathLength="1"></path>
    <path
      class="heart"
      d="M170.25 15.5C171.769 15.5 173 16.75 173 18.5C173 22 169.25 24 168 24.75C166.75 24 163 22 163 18.5C163 16.75 164.25 15.5 165.75 15.5C166.68 15.5 167.5 16 168 16.5C168.5 16 169.32 15.5 170.25 15.5Z"
    ></path>
    <path
      class="music"
      d="M188 15.5V22.5C188 23.6046 187.105 24.5 186 24.5C184.895 24.5 184 23.6046 184 22.5C184 21.3954 184.895 20.5 186 20.5C186.364 20.5 186.706 20.5974 187 20.7675V17H182.5V22.5C182.5 23.6046 181.605 24.5 180.5 24.5C179.395 24.5 178.5 23.6046 178.5 22.5C178.5 21.3954 179.395 20.5 180.5 20.5C180.864 20.5 181.206 20.5974 181.5 20.7675V15.5H188Z"
    ></path>
    <path
      class="smiley"
      d="M200 25C197.239 25 195 22.7614 195 20C195 17.2386 197.239 15 200 15C202.761 15 205 17.2386 205 20C205 22.7614 202.761 25 200 25ZM197.5 20.5C197.5 21.8807 198.619 23 200 23C201.381 23 202.5 21.8807 202.5 20.5H201.5C201.5 21.3285 200.828 22 200 22C199.172 22 198.5 21.3285 198.5 20.5H197.5ZM198 19.5C198.414 19.5 198.75 19.1642 198.75 18.75C198.75 18.3358 198.414 18 198 18C197.586 18 197.25 18.3358 197.25 18.75C197.25 19.1642 197.586 19.5 198 19.5ZM202 19.5C202.414 19.5 202.75 19.1642 202.75 18.75C202.75 18.3358 202.414 18 202 18C201.586 18 201.25 18.3358 201.25 18.75C201.25 19.1642 201.586 19.5 202 19.5Z"
    ></path>
  </svg>
</a>

<style lang="scss">
  .link-wrapper {
    display: inline-block;
    transform: rotate(-4deg);
  }

  svg {
    overflow: visible;
  }

  .phone {
    fill: var(--jade-4);
    stroke: var(--jade-12);
    stroke-width: 3px;
    vector-effect: non-scaling-stroke;
  }

  .eva,
  .designs,
  .and,
  .builds,
  .for,
  .the,
  .web,
  .heart,
  .music,
  .smiley,
  .sensors,
  .homebar {
    fill: var(--jade-12);
  }

  .sketch {
    stroke: var(--jade-12);
  }

  .time {
    font-family:
      system-ui,
      -apple-system,
      "Segoe UI",
      roboto,
      "Helvetica Neue",
      sans-serif;
    font-size: 11px;
    font-weight: 700;
    fill: var(--jade-12);
    cursor: default;
    user-select: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-animating="true"] {
      .sketch {
        stroke-dasharray: 1;
        stroke-dashoffset: 1;
        animation-name: stroke;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }

      .sprout {
        animation-duration: 0.3s;
      }

      .sprout-leaf {
        animation-duration: 0.2s;
        animation-delay: 0.3s;
      }

      .curls {
        animation-duration: 0.5s;
        animation-delay: 0.5s;
      }

      .flower-petals {
        animation-duration: 1s;
        animation-delay: 1s;
      }

      .flower-center {
        animation-duration: 0.5s;
        animation-delay: 2s;
      }
    }
  }
</style>
