---
interface Props {
  /**
   * Distance between items
   * @default "normal"
   */
  title: string;
}

const { title } = Astro.props;
---

<div class="project-info-block">
  <dt>{title}</dt>
  <dd><slot /></dd>
</div>

<style lang="scss">
  .project-info-block {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--space-2xs);

    dt {
      font-weight: var(--font-weight-bold);
    }
  }
</style>
