---
interface Props {
  /**
   * Distance between items
   * @default "normal"
   */
  spacing?: "normal" | "tight" | "none";
}

const { spacing } = Astro.props;
---

<div
  class:list={[
    "stack",
    { tight: spacing === "tight" },
    { none: spacing === "none" },
  ]}
>
  <slot />
</div>

<style>
  .stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .stack :global(> *) {
    margin-block: 0;
  }

  .stack :global(> * + *) {
    margin-block-start: var(--space-m);
  }

  .stack.tight :global(> * + *) {
    margin-block-start: var(--space-s);
  }

  .stack.none :global(> * + *) {
    margin-block-start: 0;
  }
</style>
