---
enum Emphasis {
  Wave,
  Shake,
}

interface Props {
  text: string;
  type: Emphasis;
}

const { text, type = "Wave" } = Astro.props;
---

<span class={`emphasis ${type}`}>
  {text.split('').map((letter, index) => <span class="letter" style={animationDelay: columnIndex * staggeredDelay + 'ms',}>{letter}</span>)}
</span>

<style>
  .emphasis {

  }
</style>
