---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const workEntries = await getCollection("work");
  return workEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const { title, description } = entry.data;
---

<BaseLayout title={title} description={description}>
  <h1>{title}</h1>
  <p>{description}</p>
  <Content />
</BaseLayout>
