---
import Center from "../Center.astro";
---

<footer>
  <Center>
    <div class="content">
      <div class="banner">
        <span class="emoji">🇵🇸</span>
        <a href="https://www.jewishvoiceforpeace.org/" target="_blank"
          >Standing with Palestine. Ceasefire now.
        </a>
      </div>
      <div class="links">
        <a href="https://www.are.na/eva-decker/" target="_blank">Are.na</a>
        <a href="https://github.com/evadecker" target="_blank">GitHub</a>
        <a href="https://www.goodreads.com/evadecker" target="_blank"
          >Goodreads</a
        >
        <a href="https://linkedin.com/in/evadecker" target="_blank">LinkedIn</a>
        <a href="/colophon">Colophon</a>
      </div>
    </div>
  </Center>
</footer>

<style lang="scss">
  footer {
    font-size: var(--step--1);
    padding-block: var(--space-2xl);
    width: 100%;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: var(--space-m) var(--space-xl);

    @media (width < 800px) {
      flex-direction: column;
    }
  }

  .links {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    flex-wrap: wrap;

    a {
      display: inline-block;
    }
  }

  .banner {
    color: var(--gray-11);
    display: inline-flex;
    align-items: center;
    gap: var(--space-s);
    transition: background-color 0.2s ease-in-out;

    a {
      text-decoration: none;
    }

    .emoji {
      transform: scale(1.5) translateY(0.04em);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--gray-12);
      }
    }
  }
</style>
