---
import { Icon } from "../Icon/Icon";
import { RelativeDate } from "../RelativeDate/RelativeDate";

// This time will be captured as a snapshot when the site builds
// And then display statically
const dateModified = new Date();
---

<footer transition:animate="fade">
  <RelativeDate
    date={dateModified}
    prefix="Last tended"
    icon="sparkling"
    client:load
  />
  <div class="links">
    <div class="pages">
      <a href="/about">About</a>
      <a href="/projects">Projects</a>
      <a href="/colophon">Colophon</a>
    </div>
    <div class="social">
      <a
        href="https://github.com/evadecker"
        target="_blank"
        aria-label="Visit Eva's GitHub"
      >
        <Icon icon="github" variant="filled" />
      </a>
      <a
        href="https://linkedin.com/in/evadecker"
        target="_blank"
        aria-label="Visit Eva's LinkedIn"
      >
        <Icon icon="linkedInBox" variant="filled" />
      </a>
    </div>
  </div>
</footer>

<style>
  footer {
    font-size: var(--step--1);
    width: 100%;
    padding-block: var(--space-l);
    padding-inline: var(--space-xl) var(--space-xl);
    display: flex;
    align-items: center;
  }

  .links {
    display: flex;
    align-items: center;
    line-height: 1;
    margin-inline-start: auto;
  }

  .pages,
  .social {
    display: flex;
    align-items: center;
  }

  @media (width <= 620px) {
    footer {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--space-xs);
      padding-block-start: var(--space-xl);
    }

    .links {
      margin-inline-start: calc(var(--space-s) * -1);
    }
  }

  .links a {
    height: var(--space-2xl);
    padding-inline: var(--space-xs);
    display: flex;
    align-items: center;
  }

  .links a:hover {
    color: var(--jade-9);
  }
</style>
