---
import Stack from "../Stack/Stack.astro";
import * as styles from "./footer.css";
---

<form
  action="https://buttondown.email/api/emails/embed-subscribe/notesfromeva"
  method="post"
>
  <Stack>
    <Stack spacing="tight">
      <header>
        <strong>Notes From Eva</strong>
      </header>
      <small>
        Occasionally (a few times a year) I share thoughts and observations
        about tech, design, and things that don't live inside a computer. Zero
        tracking, unsubscribe any time.
      </small>
    </Stack>
    <Stack spacing="tight">
      <input
        class={styles.input}
        type="email"
        name="email"
        id="bd-email"
        placeholder="Your email address"
      />
      <input type="submit" value="Subscribe" class={styles.button} />
    </Stack>
  </Stack>
</form>
