---
import "../styles/reset.module.css";
import "../styles/base.module.css";
import "../styles/typography.module.css";
import "../styles/theme.module.css";

import { DialogueTree } from "../components/dialogue/DialogueTree";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="icon" href="favicon.ico" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="preconnect" href="https://use.typekit.net" crossorigin />
    <link rel="stylesheet" href="https://use.typekit.net/qbm1slx.css" />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
      <DialogueTree client:load />
    </main>
  </body>
</html>
