---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="icon" href="favicon.ico" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="preconnect" href="https://use.typekit.net" crossorigin />
    <link rel="stylesheet" href="https://use.typekit.net/exn3vdd.css" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style>
      :root {
        --font-size-base: 18px;

        --color-red-dark: #5e1313;
        --color-red: #ff2c2c;
        --color-red-alt: #ac0e0e;
        --color-red-medium: #f7d2db;

        --color-purple-dark: #470bd4;
        --color-purple: #7c60ff;

        --color-neutral-0: #ffffff;
        --color-neutral-1: #f5f5f5;
        --color-neutral-2: #eeeeee;
        --color-neutral-3: #dddddd;
        --color-neutral-4: #bbb;
        --color-neutral-5: #999;
        --color-neutral-6: #888;
        --color-neutral-7: #666;
        --color-neutral-8: #444;
        --color-neutral-9: #222;
        --color-neutral-10: #000;

        --color-text: var(--color-neutral-9);
        --color-text-light: var(--color-neutral-7);
        --color-bg: var(--color-neutral-0);
      }

      @media (prefers-color-scheme: dark) {
        :root {
          --color-text: var(--color-neutral-0);
          --color-text-light: var(--color-neutral-5);
          --color-bg: var(--color-neutral-10);
        }

        body {
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }

      html {
        font-family: system-ui, sans-serif;
        font-size: var(--font-size-base);
        color: var(--color-text);
        background-color: var(--color-bg);
      }

      body {
        margin: 0;
      }
    </style>

    <style is:global>
      html,
      body {
        height: 100%;
      }

      body {
        font-family: nimbus-sans, sans-serif;
        text-rendering: optimizeLegibility;
      }

      h1 {
        font-size: clamp(1.3rem, 8vw, 2.6rem);
        font-family: nimbus-sans-extended, sans-serif;
        font-weight: 400;
        text-align: center;
      }
    </style>
  </body>
</html>
