---
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import "../styles/reset.module.css";
import "../styles/theme.module.css";
import "../styles/base.module.css";
import "../styles/typography.module.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark light" />
    <meta name="theme-color" content="#ffdcdc" />
    <link rel="icon" href="favicon.ico" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="preconnect" href="https://use.typekit.net" crossorigin />
    <link rel="stylesheet" href="https://use.typekit.net/qbm1slx.css" />
    <title>{title}</title>
    <script>
      window.va =
        window.va ||
        function () {
          (window.vaq = window.vaq || []).push(arguments);
        };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
  </head>
  <body>
    <script is:inline src="scripts/themeSwitcher.js"></script>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
