---
import classNames from "classnames";

import * as styles from "./stack.css";

interface Props {
  /**
   * Distance between items
   * @default "normal"
   */
  spacing?: "normal" | "tight";
}

const { spacing } = Astro.props;
---

<div
  class={classNames(styles.stack, {
    [styles.tight]: spacing === "tight",
  })}
>
  <slot />
</div>
