name: Valid Links

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    # Run once a week
    - cron: "0 0 * * 0"

permissions:
  contents: read
  issues: write

jobs:
  link-checker:
    name: Check Link Validity
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run Lychee
        uses: lycheeverse/lychee-action@v2
        with:
          args: "--no-progress --config .lychee.toml ."

      - name: Create Issue From File
        if: env.lychee_exit_code != 0
        uses: peter-evans/create-issue-from-file@v6
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: automated
